# Import Library

In [1]:
!pip install faker bcrypt

Collecting faker
  Downloading faker-37.12.0-py3-none-any.whl.metadata (15 kB)
Collecting bcrypt
  Downloading bcrypt-5.0.0-cp39-abi3-manylinux_2_34_x86_64.whl.metadata (10 kB)
Requirement already satisfied: tzdata in /usr/local/lib/python3.12/dist-packages (from faker) (2025.2)
Downloading faker-37.12.0-py3-none-any.whl (2.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 48.2 MB/s eta 0:00:00
Downloading bcrypt-5.0.0-cp39-abi3-manylinux_2_34_x86_64.whl (278 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 278.2/278.2 kB 16.1 MB/s eta 0:00:00
Installing collected packages: faker, bcrypt
Successfully installed bcrypt-5.0.0 faker-37.12.0

In [2]:
from faker import Faker
import random
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta
import pandas as pd
import numpy as np
import os
import json
import bcrypt
import requests

In [3]:
fake = Faker('id_ID')

# Generate Function

## Kelompok 1

Tahap 1: Master Data Independen & Generik (Level 0)   
Tabel yang tidak memiliki ketergantungan foreign key terhadap tabel lain, dan akan menjadi dasar.
1. roles (Peran pengguna)
2. store_types (Tipe toko)
3. payment_methods (Metode pembayaran)
4. product_categories (Kategori produk)

### 1. roles

In [4]:
def generate_roles():
    """Membuat data dummy untuk tabel roles."""
    roles_data = [
        {'id': 1, 'roleName': 'Superadmin'},
        {'id': 2, 'roleName': 'Owner'},
        {'id': 3, 'roleName': 'Admin Toko'},
        {'id': 4, 'roleName': 'Kasir'}
    ]
    return pd.DataFrame(roles_data)

roles_df = generate_roles()
roles_df.to_csv('roles.csv', index=False)
print("Data roles.csv berhasil dibuat.")

Data roles.csv berhasil dibuat.

In [5]:
pd.read_csv('roles.csv')

   id    roleName
0   1  Superadmin
1   2       Owner
2   3  Admin Toko
3   4       Kasir

### 2. store_types

In [6]:
def generate_store_types():
    """Membuat data dummy untuk tabel store_types."""
    store_types_data = [
        {'id': 1, 'name': 'Makanan & Minuman'},
        {'id': 2, 'name': 'Fashion & Aksesoris'},
        {'id': 3, 'name': 'Perawatan Diri & Kecantikan'},
        {'id': 4, 'name': 'Kebutuhan Kesehatan'},
        {'id': 5, 'name': 'Rumah Tangga & Dekorasi'},
        {'id': 6, 'name': 'Peralatan Bayi & Anak'},
        {'id': 7, 'name': 'Mainan, Hobi & Peralatan Outdoor'},
        {'id': 8, 'name': 'Elektronik & Gadget'},
        {'id': 9, 'name': 'Pertanian, Perkebunan & Peternakan'},
        {'id': 10, 'name': 'Otomotif & Suku Cadang'},
        {'id': 11, 'name': 'Perlengkapan Hewan Peliharaan'},
        {'id': 12, 'name': 'Minimarket & Kelontong'},
    ]
    return pd.DataFrame(store_types_data)

store_types_df = generate_store_types()
store_types_df.to_csv('store_types.csv', index=False)
print("Data store_types.csv berhasil dibuat.")

Data store_types.csv berhasil dibuat.

In [7]:
pd.read_csv('store_types.csv')

    id                                name
0    1                   Makanan & Minuman
1    2                 Fashion & Aksesoris
2    3         Perawatan Diri & Kecantikan
3    4                 Kebutuhan Kesehatan
4    5             Rumah Tangga & Dekorasi
5    6               Peralatan Bayi & Anak
6    7    Mainan, Hobi & Peralatan Outdoor
7    8                 Elektronik & Gadget
8    9  Pertanian, Perkebunan & Peternakan
9   10              Otomotif & Suku Cadang
10  11       Perlengkapan Hewan Peliharaan
11  12              Minimarket & Kelontong

### 3. payment_methods

In [8]:
def generate_payment_methods():
    """Membuat data dummy untuk tabel payment_methods."""
    now = datetime.now()
    payment_methods_data = [
        {'id': 1, 'name': 'Tunai', 'image': None, 'isCash': 'YES', 'createdAt': now, 'updatedAt': now},
        {'id': 2, 'name': 'Debit Card', 'image': 'debit_card.jpg', 'isCash': 'NO', 'createdAt': now, 'updatedAt': now},
        {'id': 3, 'name': 'QRIS', 'image': 'qris.jpg', 'isCash': 'NO', 'createdAt': now, 'updatedAt': now},
        {'id': 4, 'name': 'Gopay', 'image': 'gopay.png', 'isCash': 'NO', 'createdAt': now, 'updatedAt': now},
        {'id': 5, 'name': 'OVO', 'image': 'ovo.png', 'isCash': 'NO', 'createdAt': now, 'updatedAt': now},
        {'id': 6, 'name': 'Dana', 'image': 'dana.png', 'isCash': 'NO', 'createdAt': now, 'updatedAt': now}
    ]
    return pd.DataFrame(payment_methods_data)

payment_methods_df = generate_payment_methods()
payment_methods_df.to_csv('payment_methods.csv', index=False)
print("Data payment_methods.csv berhasil dibuat.")

Data payment_methods.csv berhasil dibuat.

In [9]:
pd.read_csv('payment_methods.csv')

,id,name,image,isCash,createdAt,updatedAt
0,1,Tunai,NaN,YES,2025-11-08 08:51:07.022585,2025-11-08 08:51:07.022585
1,2,Debit Card,debit_card.jpg,NO,2025-11-08 08:51:07.022585,2025-11-08 08:51:07.022585
2,3,QRIS,qris.jpg,NO,2025-11-08 08:51:07.022585,2025-11-08 08:51:07.022585
3,4,Gopay,gopay.png,NO,2025-11-08 08:51:07.022585,2025-11-08 08:51:07.022585
4,5,OVO,ovo.png,NO,2025-11-08 08:51:07.022585,2025-11-08 08:51:07.022585
5,6,Dana,dana.png,NO,2025-11-08 08:51:07.022585,2025-11-08 08:51:07.022585

### 4. product_categories

In [10]:
# --- Data Mapping ---
product_category_fnb_stores = {
    1: "Makanan Utama",
    2: "Camilan dan Jajanan",
    3: "Makanan Beku",
    4: "Roti dan Kue",
    5: "Es Krim",
    6: "Minuman Berbasis Kopi",
    7: "Minuman Berbasis Teh",
    8: "Minuman Berbasis Cokelat",
    9: "Minuman Kesehatan",
    10: "Minuman Lainnya"
}

product_category_fashion_stores = {
    1: "Pakaian Pria",
    2: "Pakaian Wanita",
    3: "Pakaian Olahraga",
    4: "Pakaian Batik",
    5: "Pakaian Adat",
    6: "Pakaian Menikah",
    7: "Costume",
    8: "Sepatu",
    9: "Sandal",
    10: "Tas",
    11: "Aksesoris",
    12: "Perhiasan",
}

product_category_cosmetics_stores = {
    1: "Skincare",
    2: "Make Up",
    3: "Hair Care",
    4: "Body Care",
    5: "Fragrance",
    6: "Alat Kecantikan",
    7: "Nail and Henna Art",
    8: "Dental Care",
    9: "Genital Care"
}

product_category_pharmacy_stores = {
    1: "Obat Resep & Obat Bebas",
    2: "Suplemen dan Vitamin",
    3: "Alat Medis",
    4: "Peralatan Diagnostik dan Pemantau Kesehatan",
    5: "Obat Herbal dan Produk Alami",
    6: "Perlengkapan P3K Dan Perawatan Luka",
    7: "Produk Kebersihan",
    8: "Alat Bantu Kesehatan"
}

product_category_household_stores = {
    1: "Furnitur",
    2: "Peralatan Dapur",
    3: "Perlengkapan Kebersihan dan Utilitas",
    4: "Dekorasi Interior",
    5: "Kebutuhan Kamar",
    6: "Tempat Penyimpanan",
    7: "Kebutuhan Kamar Mandi"
}

product_category_baby_child_stores = {
    1: "Popok dan Produk Kebersihan",
    2: "Pakaian Bayi",
    3: "Pakaian Anak-anak",
    4: "Aksesoris Anak",
    5: "Perlengkapan Makan Anak",
    6: "Peralatan Tidur dan Kamar",
    7: "Produk Kesehatan Bayi dan Anak",
    8: "Makanan Bayi dan Susu Formula",
    9: "Permainan dan Perkembangan",
    10: "Peralatan Perjalanan",
    11: "Peralatan Keamanan"
}

product_category_hobby_stores = {
    1: "Seni dan Kerajinan",
    2: "Peralatan Olahraga dan Luar Ruangan",
    3: "Peralatan Musik",
    4: "Koleksi dan Mainan",
    5: "Buku dan Peralatan Kerja",
    6: "Action Figure & Koleksi Hobi"
}

product_category_electronic_stores = {
    1: "Handphone & Tablet",
    2: "Komputer & Laptop",
    3: "Televisi & Audio",
    4: "Elektronik Rumah Tangga",
    5: "Kamera & Drone",
    6: "Gaming & Konsol",
    7: "Elektronik Kantor",
    8: "Elektronik Dapur",
    9: "Peralatan Smart Home"
}

product_category_agriculture_stores = {
    1: "Pupuk",
    2: "Benih dan Bibit",
    3: "Alat Berkebun dan Bertani",
    4: "Pestisida",
    5: "Vitamin, Obat dan Suplemen",
    6: "Peralatan Berternak",
    7: "Pakan Ternak"
}

product_category_automotive_stores = {
    1: "Suku Cadang dan Komponen",
    2: "Aksesori Interior dan eksterior",
    3: "Perawatan dan Pembersih ",
    4: "Peralatan Bengkel dan Perkakas",
    5: "Perlengkapan Keselamatan dan Gaya Hidup",
    6: "Jasa",
}

product_category_pet = {
    1: "Makanan Hewan Peliharaan",
    2: "MPerlengkapan Kebersihan dan Grooming",
    3: "Aksesori",
    4: "Perlengkapan Kesehatan",
    5: "Kandang dan Tempat Tinggal",
    6: "Pakaian dan Perlengkapan Khusus Kegiatan"
}

product_category_minimarket_stores = {
    1: "Sembako dan Kebutuhan Pokok",
    2: "Makanan Olahan dan Minuman Kemasan",
    3: "Peralatan Rumah Tangga",
    4: "Perawatan Diri",
    5: "Kebutuhan Bayi",
    6: "Obat-obatan dan P3K",
    7: "Perlengkapan Sekolah dan Kantor",
    8: "Rokok dan Korek Api"
}


category_mapping = {
        "Makanan & Minuman": product_category_fnb_stores,
        "Fashion & Aksesoris": product_category_fashion_stores,
        "Perawatan Diri & Kecantikan": product_category_cosmetics_stores,
        "Kebutuhan Kesehatan": product_category_pharmacy_stores,
        "Rumah Tangga & Dekorasi": product_category_household_stores,
        "Peralatan Bayi & Anak": product_category_baby_child_stores,
        "Mainan, Hobi & Peralatan Outdoor": product_category_hobby_stores,
        "Elektronik & Gadget": product_category_electronic_stores,
        "Pertanian, Perkebunan & Peternakan": product_category_agriculture_stores,
        "Otomotif & Suku Cadang": product_category_automotive_stores,
        "Perlengkapan Hewan Peliharaan": product_category_pet,
        "Minimarket & Kelontong": product_category_minimarket_stores,
}
# --- Akhir Data Mapping ---


# --- FUNGSI GENERATE BARU ---
def generate_product_categories(category_mapping):
    """
    Membuat data dummy untuk tabel product_categories secara dinamis
    dari semua kategori yang ada di dalam category_mapping.
    """
    now = datetime.now()
    categories_data = []
    category_names_set = set()
    category_id_counter = 1

    # Loop melalui setiap sub-dictionary dalam category_mapping
    for store_type, categories_dict in category_mapping.items():
        for category_id, category_name in categories_dict.items():
            # Hanya tambahkan jika nama kategori belum ada (menghindari duplikasi)
            if category_name not in category_names_set:
                categories_data.append({
                    'id': category_id_counter,
                    'name': category_name,
                    'createdAt': now,
                    'updatedAt': now
                })
                category_names_set.add(category_name)
                category_id_counter += 1

    return pd.DataFrame(categories_data)


product_categories_df = generate_product_categories(category_mapping)
product_categories_df.to_csv('product_categories.csv', index=False)
print("Data product_categories.csv berhasil dibuat secara dinamis.")

Data product_categories.csv berhasil dibuat secara dinamis.

In [11]:
pd.read_csv('product_categories.csv')

,id,name,createdAt,updatedAt
0,1,Makanan Utama,2025-11-08 08:51:07.167597,2025-11-08 08:51:07.167597
1,2,Camilan dan Jajanan,2025-11-08 08:51:07.167597,2025-11-08 08:51:07.167597
2,3,Makanan Beku,2025-11-08 08:51:07.167597,2025-11-08 08:51:07.167597
3,4,Roti dan Kue,2025-11-08 08:51:07.167597,2025-11-08 08:51:07.167597
4,5,Es Krim,2025-11-08 08:51:07.167597,2025-11-08 08:51:07.167597
...,...,...,...,...
94,95,Perawatan Diri,2025-11-08 08:51:07.167597,2025-11-08 08:51:07.167597
95,96,Kebutuhan Bayi,2025-11-08 08:51:07.167597,2025-11-08 08:51:07.167597
96,97,Obat-obatan dan P3K,2025-11-08 08:51:07.167597,2025-11-08 08:51:07.167597
97,98,Perlengkapan Sekolah dan Kantor,2025-11-08 08:51:07.167597,2025-11-08 08:51:07.167597
98,99,Rokok dan Korek Api,2025-11-08 08:51:07.167597,2025-11-08 08:51:07.167597

## Kelompok 2

Tahap 2: Data Geografis & Dasar Sistem (Level 1)   
Mengisi semua data geografis secara berurutan dan data dasar yang akan menjadi rujukan banyak tabel di tahap selanjutnya.

1. provinces
2. cities (Membutuhkan provinceId)
3. districts (Membutuhkan cityId)
3. villages (Membutuhkan districtId)
4. users (Membutuhkan roleId dari roles di Tahap 1)

### Read dari Kelompok 1

In [12]:
print("Membaca data dari file CSV Kelompok 1...")
try:
    roles_df = pd.read_csv('roles.csv')
    store_types_df = pd.read_csv('store_types.csv')
    payment_methods_df = pd.read_csv('payment_methods.csv')
    product_categories_df = pd.read_csv('product_categories.csv')
    print("Berhasil membaca semua file CSV Kelompok 1.")
except FileNotFoundError as e:
    print(f"Error: {e}")
    # Keluar dari skrip jika file tidak ditemukan
    exit()

Membaca data dari file CSV Kelompok 1...
Berhasil membaca semua file CSV Kelompok 1.

### 1. provinces, cities, districts, villages

In [13]:
# --- URLs API Wilayah ---
PROVINCES_URL = "https://wilayah.id/api/provinces.json"
REGENCIES_URL = "https://wilayah.id/api/regencies/{PROVINCE_CODE}.json"
DISTRICTS_URL = "https://wilayah.id/api/districts/{REGENCY_CODE}.json"
VILLAGES_URL = "https://wilayah.id/api/villages/{DISTRICT_CODE}.json"

# --- FUNGSI BARU UNTUK MENGAMBIL DATA ---

def generate_locations_from_api():
    """
    Mengambil data wilayah (provinces, cities/regencies, districts, villages)
    dari API wilayah.id.
    """
    now = datetime.now()
    provinces_data = []
    cities_data = []
    districts_data = []
    villages_data = []

    print("Memulai pengambilan data dari API (Provinces -> Regencies -> Districts -> Villages)...")

    # 1. Ambil Data Provinsi
    try:
        response = requests.get(PROVINCES_URL)
        response.raise_for_status()
        provinces_api = response.json().get('data', [])
    except requests.exceptions.RequestException as e:
        print(f"Error mengambil data provinsi: {e}")
        return pd.DataFrame(), pd.DataFrame(), pd.DataFrame(), pd.DataFrame()

    provinces_to_process = provinces_api
    print(f"Berhasil mengambil {len(provinces_to_process)} provinsi).")

    for prov in provinces_to_process:
        prov_code_api = prov['code'] # Kode asli untuk URL (e.g., '11')
        prov_code_int = int(prov_code_api.replace('.', '')) # ID integer untuk DB (e.g., 11)

        provinces_data.append({
            'id': prov_code_int, # Menggunakan ID integer
            'name': prov['name'],
            'createdAt': now,
            'updatedAt': now
        })

        # 2. Ambil Data Kota/Kabupaten (Regencies)
        try:
            # Gunakan kode API asli untuk URL
            regencies_url = REGENCIES_URL.format(PROVINCE_CODE=prov_code_api)
            response = requests.get(regencies_url)
            response.raise_for_status()
            regencies_api = response.json().get('data', [])
        except requests.exceptions.RequestException as e:
            print(f"Peringatan: Error mengambil data kota/kabupaten untuk {prov['name']}: {e}")
            continue

        for reg in regencies_api:
            reg_code_api = reg['code'] # Kode asli untuk URL (e.g., '11.05')
            reg_code_int = int(reg_code_api.replace('.', '')) # ID integer untuk DB (e.g., 1105)

            cities_data.append({
                'id': reg_code_int, # Menggunakan ID integer
                'provinceId': prov_code_int, # Menggunakan ID integer
                'name': reg['name'],
                'createdAt': now,
                'updatedAt': now
            })

            # 3. Ambil Data Kecamatan (Districts)
            try:
                # Gunakan kode API asli untuk URL
                districts_url = DISTRICTS_URL.format(REGENCY_CODE=reg_code_api)
                response = requests.get(districts_url)
                response.raise_for_status()
                districts_api = response.json().get('data', [])
            except requests.exceptions.RequestException as e:
                print(f"Peringatan: Error mengambil data kecamatan untuk {reg['name']}: {e}")
                continue

            for dist in districts_api:
                dist_code_api = dist['code'] # Kode asli untuk URL (e.g., '11.05.01')
                dist_code_int = int(dist_code_api.replace('.', '')) # ID integer untuk DB (e.g., 110501)

                districts_data.append({
                    'id': dist_code_int, # Menggunakan ID integer
                    'cityId': reg_code_int, # Menggunakan ID integer
                    'name': dist['name'],
                    'createdAt': now,
                    'updatedAt': now
                })

                # 4. Ambil Data Desa/Kelurahan (Villages)
                try:
                    # Gunakan kode API asli untuk URL
                    villages_url = VILLAGES_URL.format(DISTRICT_CODE=dist_code_api)
                    response = requests.get(villages_url)
                    response.raise_for_status()
                    villages_api = response.json().get('data', [])
                except requests.exceptions.RequestException as e:
                    print(f"Peringatan: Error mengambil data desa/kelurahan untuk {dist['name']}: {e}")

                    # Jika gagal, masukkan 3 dummy villages
                    for i in range(3):
                        villages_data.append({
                            # Gunakan dist_code_int yang sudah bersih untuk ID fallback
                            'id': int(f'{dist_code_int}00{i+1}'),
                            'districtId': dist_code_int, # Menggunakan ID integer
                            'name': fake.city_prefix() + ' ' + fake.city_suffix(),
                            'createdAt': now,
                            'updatedAt': now
                        })
                    continue

                for village in villages_api:
                    village_code_api = village['code'] # Kode asli (e.g., '11.05.01.2001')
                    village_code_int = int(village_code_api.replace('.', '')) # ID integer (e.g., 1105012001)

                    villages_data.append({
                        'id': village_code_int, # Menggunakan ID integer
                        'districtId': dist_code_int, # Menggunakan ID integer
                        'name': village['name'],
                        'createdAt': now,
                        'updatedAt': now
                    })

    # Konversi ke DataFrame: Periksa jika data kosong sebelum konversi
    if provinces_data:
        # Jika data ada, buat DataFrame
        provinces_df = pd.DataFrame(provinces_data).astype({'id': 'int64'})
        cities_df = pd.DataFrame(cities_data).astype({'id': 'int64', 'provinceId': 'int64'})
        districts_df = pd.DataFrame(districts_data).astype({'id': 'int64', 'cityId': 'int64'})
        villages_df = pd.DataFrame(villages_data).astype({'id': 'int64', 'districtId': 'int64'})
    else:
        # Jika provinces_data kosong, buat DataFrame kosong dengan kolom yang benar
        provinces_df = pd.DataFrame(columns=['id', 'name', 'createdAt', 'updatedAt'])
        cities_df = pd.DataFrame(columns=['id', 'provinceId', 'name', 'createdAt', 'updatedAt'])
        districts_df = pd.DataFrame(columns=['id', 'cityId', 'name', 'createdAt', 'updatedAt'])
        villages_df = pd.DataFrame(columns=['id', 'districtId', 'name', 'createdAt', 'updatedAt'])

    print(f"\nSelesai. Total data yang diambil:")
    print(f"- Provinces: {len(provinces_df)}")
    print(f"- Cities: {len(cities_df)}")
    print(f"- Districts: {len(districts_df)}")
    print(f"- Villages: {len(villages_df)}")

    return provinces_df, cities_df, districts_df, villages_df

# --- EKSEKUSI ---
provinces_df, cities_df, districts_df, villages_df = generate_locations_from_api()

# --- SIMPAN KE CSV ---
provinces_df.to_csv('provinces.csv', index=False)
cities_df.to_csv('cities.csv', index=False)
districts_df.to_csv('districts.csv', index=False)
villages_df.to_csv('villages.csv', index=False)
print("\nData lokasi (provinces, cities, districts, villages) berhasil diperbarui secara lengkap dari API dan disimpan ke CSV.")

Memulai pengambilan data dari API (Provinces -> Regencies -> Districts -> Villages)...
Berhasil mengambil 38 provinsi).

Selesai. Total data yang diambil:
- Provinces: 38
- Cities: 514
- Districts: 7285
- Villages: 83762

Data lokasi (provinces, cities, districts, villages) berhasil diperbarui secara lengkap dari API dan disimpan ke CSV.

In [14]:
pd.read_csv('provinces.csv')

,id,name,createdAt,updatedAt
0,11,Aceh,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
1,51,Bali,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
2,36,Banten,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
3,17,Bengkulu,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
4,34,Daerah Istimewa Yogyakarta,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
5,31,DKI Jakarta,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
6,75,Gorontalo,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
7,15,Jambi,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
8,32,Jawa Barat,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
9,33,Jawa Tengah,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
10,35,Jawa Timur,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
11,61,Kalimantan Barat,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
12,63,Kalimantan Selatan,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
13,62,Kalimantan Tengah,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
14,64,Kalimantan Timur,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
15,65,Kalimantan Utara,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
16,19,Kepulauan Bangka Belitung,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
17,21,Kepulauan Riau,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
18,18,Lampung,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
19,81,Maluku,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
20,82,Maluku Utara,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
21,52,Nusa Tenggara Barat,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
22,53,Nusa Tenggara Timur,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
23,91,Papua,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
24,92,Papua Barat,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
25,96,Papua Barat Daya,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
26,95,Papua Pegunungan,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
27,93,Papua Selatan,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
28,94,Papua Tengah,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
29,14,Riau,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
30,76,Sulawesi Barat,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
31,73,Sulawesi Selatan,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
32,72,Sulawesi Tengah,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
33,74,Sulawesi Tenggara,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
34,71,Sulawesi Utara,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
35,13,Sumatera Barat,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
36,16,Sumatera Selatan,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
37,12,Sumatera Utara,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058

In [15]:
pd.read_csv('cities.csv')

,id,provinceId,name,createdAt,updatedAt
0,1105,11,Kabupaten Aceh Barat,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
1,1112,11,Kabupaten Aceh Barat Daya,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
2,1106,11,Kabupaten Aceh Besar,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
3,1114,11,Kabupaten Aceh Jaya,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
4,1101,11,Kabupaten Aceh Selatan,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
...,...,...,...,...,...
509,1277,12,Kota Padangsidimpuan,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
510,1272,12,Kota Pematangsiantar,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
511,1273,12,Kota Sibolga,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
512,1274,12,Kota Tanjungbalai,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
513,1276,12,Kota Tebing Tinggi,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058

In [16]:
pd.read_csv('districts.csv')

,id,cityId,name,createdAt,updatedAt
0,110507,1105,Arongan Lambalek,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
1,110506,1105,Bubon,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
2,110501,1105,Johan Pahlawan,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
3,110502,1105,Kaway XVI,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
4,110509,1105,Meureubo,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
...,...,...,...,...,...
7280,127604,1276,Bajenis,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
7281,127603,1276,Padang Hilir,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
7282,127601,1276,Padang Hulu,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
7283,127602,1276,Rambutan,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
7284,127605,1276,Tebing Tinggi Kota,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058

In [17]:
pd.read_csv('villages.csv')

,id,districtId,name,createdAt,updatedAt
0,1105072002,110507,Alue Bagok,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
1,1105072004,110507,Alue Batee,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
2,1105072003,110507,Alue Sundak,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
3,1105072001,110507,Arongan,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
4,1105072005,110507,Cot Buloh,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
...,...,...,...,...,...
83757,1276051001,127605,Mandailing,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
83758,1276051002,127605,Pasar Baru,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
83759,1276051003,127605,Pasar Gambir,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
83760,1276051006,127605,Rambung,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058
83761,1276051007,127605,Tebing Tinggi Lama,2025-11-08 08:51:16.102058,2025-11-08 08:51:16.102058

### 2. users

In [18]:
# --- FUNGSI NAMA SPESIFIK GENDER ---
def generate_gender_name():
    """Menghasilkan nama depan dan belakang yang sesuai gender (L/P) secara acak."""
    if random.random() < 0.5:
        # 50% Laki-laki
        name = f"{fake.first_name_male()} {fake.last_name_male()}"
    else:
        # 50% Perempuan
        name = f"{fake.first_name_female()} {fake.last_name_female()}"
    return name

# --- FUNGSI UNTUK EMAIL ---
def generate_email(name, role_name, existing_emails):
    """Menghasilkan email unik berdasarkan nama pengguna."""

    # Bersihkan nama: ganti spasi dengan titik atau garis bawah
    clean_name = name.lower().replace(' ', random.choice(['.', '_', '']))

    # Daftar domain untuk personal/UMKM
    realistic_domains = ['gmail.com', 'yahoo.com', 'outlook.com', 'mail.com', 'bisnisanda.com', 'posku.id']

    # 30% menggunakan domain bisnis berdasarkan role (untuk Superadmin, Owner, Admin Toko)
    if role_name in ['Superadmin', 'Owner', 'Admin Toko'] and random.random() < 0.3:
        domain = f"nukapos-{role_name.lower().replace(' ', '')}.com"
    else:
        domain = random.choice(realistic_domains)

    # Menambahkan angka acak kecil untuk menjamin keunikan
    while True:
        suffix = random.choice(['', str(random.randint(1, 99))])
        email = f"{clean_name}{suffix}@{domain}"

        if email not in existing_emails:
            existing_emails.add(email)
            return email

# --- FUNGSI UNTUK ENKRIPSI PASSWORD ---
def hash_password(password):
    """Mengenkripsi password menggunakan bcrypt."""
    # Menggunakan salt default (otomatis dihasilkan)
    hashed = bcrypt.hashpw(password.encode('utf-8'), bcrypt.gensalt())
    return hashed.decode('utf-8')

# --- Fungsi Previx Nomor Telepon ---
OPERATOR_PREFIXES = {
    'Telkomsel': ['0811', '0812', '0813', '0821', '0822', '0823', '0851', '0852', '0853'],
    'XL Axiata': ['0817', '0818', '0819', '0859', '0877', '0878'],
    'AXIS': ['0831', '0832', '0838'],
    'Indosat': ['0814', '0815', '0857', '0858', '0874'],
    'Tri (3)': [f'089{i}' for i in range(5, 10)],
    'Smartfren': ['0881', '0882', '0886', '0889']
}

# --- Fungsi Nomor Telepon ---
def generate_phone(existing_numbers):
    """Menghasilkan nomor telepon diawali dengan kode negara '62'."""
    while True:
        # Pilih operator dan prefix
        operator = random.choice(list(OPERATOR_PREFIXES.keys()))
        prefix_domestik = random.choice(OPERATOR_PREFIXES[operator])

        # Sisa panjang nomor antara 6 hingga 9 digit (Total 10-13 digit)
        remaining_length = random.randint(6, 9)
        remaining_numbers = fake.numerify('#' * remaining_length)

        full_number = '62' + prefix_domestik[1:] + remaining_numbers

        # Periksa keunikan
        if full_number not in existing_numbers:
            existing_numbers.add(full_number)
            return full_number


# --- FUNGSI UNTUK USERS ---
def generate_users(roles_df, num_owners=5, num_admin_toko=10, num_kasir=10):
    """
    Membuat data dummy untuk tabel users.
    """
    now = datetime.now()
    users_data = []
    generated_phone_numbers = set()
    generated_emails = set()

    # Ambil roleId dan hash_password
    superadmin_id = roles_df[roles_df['roleName'] == 'Superadmin']['id'].iloc[0]
    owner_id = roles_df[roles_df['roleName'] == 'Owner']['id'].iloc[0]
    admin_toko_id = roles_df[roles_df['roleName'] == 'Admin Toko']['id'].iloc[0]
    kasir_id = roles_df[roles_df['roleName'] == 'Kasir']['id'].iloc[0]
    default_password_hash = hash_password('password123')

    # --- 1. Superadmin ---
    name_sa = generate_gender_name()
    sa_phone_number = generate_phone(generated_phone_numbers)

    # Email Superadmin tetap statis
    sa_email = 'superadmin@nukapos.com'
    generated_emails.add(sa_email)

    users_data.append({
        'id': 1,
        'name': name_sa,
        'email': sa_email,
        'password': default_password_hash,
        'imageUrl': None,
        'phoneNumber': sa_phone_number,
        'isEmailVerified': 1,
        'idCard': fake.unique.numerify('################'),
        'idCardImage': 'ktp_superadmin.jpg',
        'npwp': fake.unique.numerify('################'),
        'npwpImage': 'npwp_superadmin.jpg',
        'googleId': None,
        'roleId': superadmin_id,
        'createdAt': now,
        'updatedAt': now
    })

    user_id_counter = 2

    # --- 2. Owners ---
    for i in range(num_owners):
        name = generate_gender_name()
        users_data.append({
            'id': user_id_counter,
            'name': name,
            'email': generate_email(name, 'Owner', generated_emails),
            'password': default_password_hash,
            'imageUrl': fake.image_url(),
            'phoneNumber': generate_phone(generated_phone_numbers),
            'isEmailVerified': 1,
            'idCard': fake.unique.numerify('################'),
            'idCardImage': f'ktp_owner_{i+1}.jpg',
            'npwp': fake.unique.numerify('################'),
            'npwpImage': f'npwp_owner_{i+1}.jpg',
            'googleId': None,
            'roleId': owner_id,
            'createdAt': now,
            'updatedAt': now
        })
        user_id_counter += 1

    # --- 3. Karyawan: Admin Toko ---
    for i in range(num_admin_toko):
        name = generate_gender_name()
        users_data.append({
            'id': user_id_counter,
            'name': name,
            'email': generate_email(name, 'Admin Toko', generated_emails),
            'password': default_password_hash,
            'imageUrl': fake.image_url(),
            'phoneNumber': generate_phone(generated_phone_numbers),
            'isEmailVerified': random.choice([0, 1]),
            'idCard': fake.unique.numerify('################'),
            'idCardImage': f'ktp_admintoko_{i+1}.jpg',
            'npwp': None if random.random() < 0.7 else fake.unique.numerify('################'),
            'npwpImage': None,
            'googleId': None,
            'roleId': admin_toko_id,
            'createdAt': now,
            'updatedAt': now
        })
        user_id_counter += 1

    # --- 4. Karyawan: Kasir ---
    for i in range(num_kasir):
        name = generate_gender_name()
        users_data.append({
            'id': user_id_counter,
            'name': name,
            'email': generate_email(name, 'Kasir', generated_emails),
            'password': default_password_hash,
            'imageUrl': fake.image_url(),
            'phoneNumber': generate_phone(generated_phone_numbers),
            'isEmailVerified': random.choice([0, 1]),
            'idCard': fake.unique.numerify('################'),
            'idCardImage': f'ktp_kasir_{i+1}.jpg',
            'npwp': None if random.random() < 0.7 else fake.unique.numerify('################'),
            'npwpImage': None,
            'googleId': None,
            'roleId': kasir_id,
            'createdAt': now,
            'updatedAt': now
        })
        user_id_counter += 1

    users_df = pd.DataFrame(users_data)
    users_df['id'] = users_df['id'].astype(np.int64)
    users_df['roleId'] = users_df['roleId'].astype(np.int64)
    return users_df

# --- EKSEKUSI ---
users_df = generate_users(roles_df, num_owners=5, num_admin_toko=10, num_kasir=10)
users_df.to_csv('users.csv', index=False)
print("Data users.csv berhasil dibuat.")

Data users.csv berhasil dibuat.

In [19]:
pd.read_csv('users.csv')

,id,name,email,password,imageUrl,phoneNumber,isEmailVerified,idCard,idCardImage,npwp,npwpImage,googleId,roleId,createdAt,updatedAt
0,1,Hesti Hassanah,superadmin@nukapos.com,$2b$12$VLXD2FOWCSpXf4UGG5gg5OGdCzP5Vfa05NaQr1x...,NaN,6282335479780,1,5028762518756397,ktp_superadmin.jpg,1.706335e+14,npwp_superadmin.jpg,NaN,1,2025-11-08 09:25:46.639707,2025-11-08 09:25:46.639707
1,2,Maman Pratama,maman.pratama26@yahoo.com,$2b$12$VLXD2FOWCSpXf4UGG5gg5OGdCzP5Vfa05NaQr1x...,https://placekitten.com/735/516,628869921340,1,1675152586467067,ktp_owner_1.jpg,9.000838e+15,npwp_owner_1.jpg,NaN,2,2025-11-08 09:25:46.639707,2025-11-08 09:25:46.639707
2,3,Kasiyah Yulianti,kasiyah_yulianti@nukapos-owner.com,$2b$12$VLXD2FOWCSpXf4UGG5gg5OGdCzP5Vfa05NaQr1x...,https://dummyimage.com/833x730,62878303116071,1,1531345205872108,ktp_owner_2.jpg,1.451283e+15,npwp_owner_2.jpg,NaN,2,2025-11-08 09:25:46.639707,2025-11-08 09:25:46.639707
3,4,Rahmi Purnawati,rahmi.purnawati@mail.com,$2b$12$VLXD2FOWCSpXf4UGG5gg5OGdCzP5Vfa05NaQr1x...,https://placekitten.com/76/168,628998551110,1,4595430139953485,ktp_owner_3.jpg,5.168640e+15,npwp_owner_3.jpg,NaN,2,2025-11-08 09:25:46.639707,2025-11-08 09:25:46.639707
4,5,Julia Sudiati,juliasudiati@nukapos-owner.com,$2b$12$VLXD2FOWCSpXf4UGG5gg5OGdCzP5Vfa05NaQr1x...,https://picsum.photos/74/319,6288239277261,1,2966278529582814,ktp_owner_4.jpg,9.982106e+15,npwp_owner_4.jpg,NaN,2,2025-11-08 09:25:46.639707,2025-11-08 09:25:46.639707
5,6,Azalea Pertiwi,azalea_pertiwi@nukapos-owner.com,$2b$12$VLXD2FOWCSpXf4UGG5gg5OGdCzP5Vfa05NaQr1x...,https://placekitten.com/834/458,62823378582,1,3441694239576956,ktp_owner_5.jpg,1.590819e+15,npwp_owner_5.jpg,NaN,2,2025-11-08 09:25:46.639707,2025-11-08 09:25:46.639707
6,7,Tari Maryati,tarimaryati@nukapos-admintoko.com,$2b$12$VLXD2FOWCSpXf4UGG5gg5OGdCzP5Vfa05NaQr1x...,https://picsum.photos/936/452,62889622902,1,8768377025919405,ktp_admintoko_1.jpg,NaN,NaN,NaN,3,2025-11-08 09:25:46.639707,2025-11-08 09:25:46.639707
7,8,Wulan Rahayu,wulan_rahayu@bisnisanda.com,$2b$12$VLXD2FOWCSpXf4UGG5gg5OGdCzP5Vfa05NaQr1x...,https://dummyimage.com/548x338,628989035938,0,6527544418863292,ktp_admintoko_2.jpg,NaN,NaN,NaN,3,2025-11-08 09:25:46.639707,2025-11-08 09:25:46.639707
8,9,Tirta Gunarto,tirta_gunarto@nukapos-admintoko.com,$2b$12$VLXD2FOWCSpXf4UGG5gg5OGdCzP5Vfa05NaQr1x...,https://placekitten.com/795/954,6282388131021,0,9834531720170302,ktp_admintoko_3.jpg,NaN,NaN,NaN,3,2025-11-08 09:25:46.639707,2025-11-08 09:25:46.639707
9,10,Ika Pratiwi,ikapratiwi@yahoo.com,$2b$12$VLXD2FOWCSpXf4UGG5gg5OGdCzP5Vfa05NaQr1x...,https://placekitten.com/146/124,628381365061,1,5930028121659567,ktp_admintoko_4.jpg,NaN,NaN,NaN,3,2025-11-08 09:25:46.639707,2025-11-08 09:25:46.639707
10,11,Wasis Sitompul,wasis_sitompul71@nukapos-admintoko.com,$2b$12$VLXD2FOWCSpXf4UGG5gg5OGdCzP5Vfa05NaQr1x...,https://placekitten.com/577/426,62874861292301,1,6339619509690391,ktp_admintoko_5.jpg,NaN,NaN,NaN,3,2025-11-08 09:25:46.639707,2025-11-08 09:25:46.639707
11,12,Kardi Nainggolan,kardi.nainggolan@nukapos-admintoko.com,$2b$12$VLXD2FOWCSpXf4UGG5gg5OGdCzP5Vfa05NaQr1x...,https://picsum.photos/1012/13,628749182918,0,5129148736607234,ktp_admintoko_6.jpg,NaN,NaN,NaN,3,2025-11-08 09:25:46.639707,2025-11-08 09:25:46.639707
12,13,Hasna Prastuti,hasnaprastuti@gmail.com,$2b$12$VLXD2FOWCSpXf4UGG5gg5OGdCzP5Vfa05NaQr1x...,https://picsum.photos/86/988,62895302296095,1,3384336912479475,ktp_admintoko_7.jpg,2.529325e+15,NaN,NaN,3,2025-11-08 09:25:46.639707,2025-11-08 09:25:46.639707
13,14,Maida Safitri,maidasafitri@yahoo.com,$2b$12$VLXD2FOWCSpXf4UGG5gg5OGdCzP5Vfa05NaQr1x...,https://dummyimage.com/446x419,6283255283006,1,3161912021701538,ktp_admintoko_8.jpg,NaN,NaN,NaN,3,2025-11-08 09:25:46.639707,2025-11-08 09:25:46.639707
14,15,Dian Nasyiah,diannasyiah83@mail.com,$2b$12$VLXD2FOWCSpXf4UGG5gg5OGdCzP5Vfa05NaQr1x...,https://picsum.photos/48/978,6285709012318,1,8874798971898332,ktp_admintoko_9.jpg,6.979299e+15,NaN,NaN,3,2025-11-08 09:25:46.639707,2025-11-08 09:25:46.639707
15,16,Hartaka Maryadi,hartakamaryadi6@yahoo.com,$2b$12$VLXD2FOWCSpXf4UGG5gg5OGdCzP5Vfa05NaQr1x...,https://dummyimage.com/875x509,62838002503340,1,5963855953289670,ktp_admintoko_10.jpg,NaN,NaN,NaN,3,2025-11-08 09:25:46.639707,2025-11-08 09:25:46.639707
16,17,Tiara Wahyuni,tiarawahyuni@posku.id,$2b$12$VLXD2FOWCSpXf4UGG5gg5OGdCzP5Vfa05NaQr1x...,https://picsum.photos/153/942,62815961334254,1,2252523300688978,ktp_kasir_1.jpg,NaN,NaN,NaN,4,2025-11-08 09:25:46.639707,2025-11-08 09:25:46.639707
17,18,Sabrina Rahmawati,sabrina.rahmawati18@outlook.com,$2b$12$VLXD2FOWCSpXf4UGG5gg5OGdCzP5Vfa05NaQr1x...,https://picsum.photos/511/745,62877107755052,0,9595066591013299,ktp_kasir_2.jpg,NaN,NaN,NaN,4,2025-11-08 09:25:46.639707,2025-11-08 09:25:46.639707
18,19,Dono Manullang,dono_manullang56@posku.id,$2b$12$VLXD2FOWCSpXf4UGG5gg5OGdCzP5Vfa05NaQr1x...,https://placekitten.com/330/195,62811864641,1,961286678109627,ktp_kasir_3.jpg,NaN,NaN,NaN,4,2025-11-08 09:25:46.639707,2025-11-08 09:25:46.639707
19,20,Asmianto Marbun,asmianto_marbun42@posku.id,$2b$12$VLXD2FOWCSpXf4UGG5gg5OGdCzP5Vfa05NaQr1x...,https://dummyimage.com/120x741,628141330768,1,4876323591343024,ktp_kasir_4.jpg,NaN,NaN,NaN,4,2025-11-08 09:25:46.639707,2025-11-08 09:25:46.639707
20,21,Gangsar Situmorang,gangsar_situmorang@outlook.com,$2b$12$VLXD2FOWCSpXf4UGG5gg5OGdCzP5Vfa05NaQr1x...,https://placekitten.com/718/124,6288111743875,0,6901655758198305,ktp_kasir_5.jpg,NaN,NaN,NaN,4,2025-11-08 09:25:46.639707,2025-11-08 09:25:46.639707
21,22,Sabrina Wijayanti,sabrina.wijayanti64@posku.id,$2b$12$VLXD2FOWCSpXf4UGG5gg5OGdCzP5Vfa05NaQr1x...,https://placekitten.com/224/565,628389077164,1,3640995276062865,ktp_kasir_6.jpg,NaN,NaN,NaN,4,2025-11-08 09:25:46.639707,2025-11-08 09:25:46.639707
22,23,Arsipatra Gunawan,arsipatragunawan41@posku.id,$2b$12$VLXD2FOWCSpXf4UGG5gg5OGdCzP5Vfa05NaQr1x...,https://dummyimage.com/733x970,6281237901017,0,8049567893244229,ktp_kasir_7.jpg,4.760909e+15,NaN,NaN,4,2025-11-08 09:25:46.639707,2025-11-08 09:25:46.639707
23,24,Irma Laksita,irmalaksita@bisnisanda.com,$2b$12$VLXD2FOWCSpXf4UGG5gg5OGdCzP5Vfa05NaQr1x...,https://picsum.photos/391/557,628951589075,1,4443359322154840,ktp_kasir_8.jpg,NaN,NaN,NaN,4,2025-11-08 09:25:46.639707,2025-11-08 09:25:46.639707
24,25,Zaenab Usada,zaenab.usada51@gmail.com,$2b$12$VLXD2FOWCSpXf4UGG5gg5OGdCzP5Vfa05NaQr1x...,https://placekitten.com/601/706,62821129238,0,8758161572455682,ktp_kasir_9.jpg,6.375181e+15,NaN,NaN,4,2025-11-08 09:25:46.639707,2025-11-08 09:25:46.639707
25,26,Marsudi Rajata,marsudi.rajata69@yahoo.com,$2b$12$VLXD2FOWCSpXf4UGG5gg5OGdCzP5Vfa05NaQr1x...,https://placekitten.com/920/230,62812136571,0,7260943279530562,ktp_kasir_10.jpg,9.416621e+15,NaN,NaN,4,2025-11-08 09:25:46.639707,2025-11-08 09:25:46.639707

## Kelompok 3

Tahap 3: Tenant dan Toko (Level 2)   
Membuat hierarki pemilik bisnis (Tenant) dan toko, memanfaatkan data dari Tahap 2.
1. tenants: Membutuhkan userId (pemilik) dan semua ID Geografis.
2. tokens: Membutuhkan userId.
3. tenant_users: Relasi userId dengan tenantId.
4. suppliers: Membutuhkan tenantId (Opsional: nullable, namun diisi).
5. stores: Membutuhkan tenantId, storeTypeId, dan semua ID Geografis.
6. store_users: Relasi userId dengan storeId (Karyawan toko).
7. variant_types: Tipe varian produk (e.g., Ukuran, Warna, Rasa).
8. variant_options: Membutuhkan variantTypeId dari variant_types.

### Read dari Kelompok 2

In [20]:
# --- MEMBACA KEMBALI DATA DARI FILE CSV UNTUK TAHAP 3 ---
print("Membaca data dari file CSV untuk Tahap 3...")
try:
    roles_df = pd.read_csv('roles.csv')
    store_types_df = pd.read_csv('store_types.csv')
    provinces_df = pd.read_csv('provinces.csv')
    cities_df = pd.read_csv('cities.csv')
    districts_df = pd.read_csv('districts.csv')
    villages_df = pd.read_csv('villages.csv')
    users_df = pd.read_csv('users.csv')

    # Ambil data kunci
    owner_users_df = users_df[users_df['roleId'] == roles_df[roles_df['roleName'] == 'Owner']['id'].iloc[0]]
    owner_ids = owner_users_df['id'].tolist()
    store_type_ids = store_types_df['id'].tolist()

    # Perlu set nomor yang sudah terpakai untuk supplier dan customer
    generated_phone_numbers = set(users_df['phoneNumber'].tolist())

    # Filtering Lokasi Kota Balikpapan
    PROVINCE_NAME_TARGET = 'KALIMANTAN TIMUR'
    CITY_NAME_TARGET = 'KOTA BALIKPAPAN'

    # 1. Cari ID Provinsi Kalimantan Timur
    kaltim_id = provinces_df[provinces_df['name'].str.contains(PROVINCE_NAME_TARGET, case=False, na=False)]['id'].iloc[0]

    # 2. Cari ID Kota Balikpapan
    balikpapan_city_id = cities_df[
        (cities_df['provinceId'] == kaltim_id) &
        (cities_df['name'].str.contains(CITY_NAME_TARGET, case=False, na=False))
    ]['id'].iloc[0]

    # 3. Filter Districts di Balikpapan
    balikpapan_districts_df = districts_df[districts_df['cityId'] == balikpapan_city_id]
    balikpapan_district_ids = balikpapan_districts_df['id'].tolist()

    # 4. Filter Villages di Balikpapan
    balikpapan_villages_df = villages_df[villages_df['districtId'].isin(balikpapan_district_ids)].copy()

    if len(balikpapan_villages_df) == 0:
        raise ValueError("Data Balikpapan Village kosong. Periksa data API.")

    print(f"Filter Selesai. Data geografis dikunci di {CITY_NAME_TARGET}, {PROVINCE_NAME_TARGET}.")
    print(f"Total Kelurahan/Desa Balikpapan yang tersedia: {len(balikpapan_villages_df)}.")

except IndexError:
    print(f"ERROR: Tidak dapat menemukan ID untuk {PROVINCE_NAME_TARGET} atau {CITY_NAME_TARGET}. Pastikan data geografis Anda lengkap.")
    exit()
except FileNotFoundError as e:
    print(f"Error: Salah satu file CSV Tahap 1/2 tidak ditemukan: {e}")
    exit()

Membaca data dari file CSV untuk Tahap 3...
Filter Selesai. Data geografis dikunci di KOTA BALIKPAPAN, KALIMANTAN TIMUR.
Total Kelurahan/Desa Balikpapan yang tersedia: 34.

### 1. tenants

In [21]:
# --- FUNGSI GENERATE TENANTS ---
def generate_tenants(owner_users_df, store_types_df, balikpapan_villages_df, balikpapan_districts_df, kaltim_id, balikpapan_city_id):
    """
    Membuat data dummy untuk tabel tenants dengan:
    1. Nama Tenant = Nama Pemilik (UMKM Perorangan).
    2. NPWP diambil dari data user (pribadi) jika ada.
    """
    now = datetime.now()
    tenants_data = []

    # Gabungkan Owner Users dan Tenants Data
    tenant_creation_data = owner_users_df.copy() # Mulai dari data Owner

    for i in range(len(tenant_creation_data)):
        owner_data = tenant_creation_data.iloc[i]

        # 1. Ambil Lokasi Geografis Acak DARI BALIKPAPAN
        random_village = balikpapan_villages_df.sample(1).iloc[0]
        village_id = random_village['id']
        district_id = random_village['districtId']

        # Province ID dan City ID di-hardcode ke Balikpapan ID
        province_id = kaltim_id
        city_id = balikpapan_city_id

        # 2. Ambil Owner ID
        owner_user_id = owner_data['id']

        # 3. Nama Tenant: Menggunakan Nama Pemilik (user.name)
        tenant_name = owner_data['name']

        # 4. NPWP: Menggunakan NPWP Pemilik (user.npwp)
        npwp_number = owner_data['npwp']
        npwp_image = owner_data['npwpImage'].replace('owner', 'tenant') if pd.notna(owner_data['npwpImage']) else None

        tenants_data.append({
            'id': i + 1,
            'userId': owner_user_id, # Owner (UNIQUE Foreign Key)
            'name': tenant_name,
            'npwp': npwp_number,
            'npwpImage': npwp_image,
            'address': f"{fake.street_address()}, Kel. {random_village['name']}",
            'provinceId': int(province_id),
            'cityId': int(city_id),
            'districtId': int(district_id),
            'villageId': int(village_id),
            'postalCode': fake.numerify('#####'), # 5 Digit Angka Acak
            'tenantStatus': 'ACTIVE', # ENUM: ACTIVE, INACTIVE
            'createdAt': now - timedelta(days=random.randint(10, 30)),
            'updatedAt': now
        })

    tenants_df = pd.DataFrame(tenants_data)
    # Sesuaikan tipe data integer
    tenants_df['id'] = tenants_df['id'].astype(np.int64)
    tenants_df['provinceId'] = tenants_df['provinceId'].astype(np.int64)
    tenants_df['cityId'] = tenants_df['cityId'].astype(np.int64)
    tenants_df['districtId'] = tenants_df['districtId'].astype(np.int64)
    tenants_df['villageId'] = tenants_df['villageId'].astype(np.int64)

    return tenants_df

# --- EKSEKUSI ---
tenants_df = generate_tenants(owner_users_df, store_types_df, balikpapan_villages_df, balikpapan_districts_df, kaltim_id, balikpapan_city_id)
tenants_df.to_csv('tenants.csv', index=False)
print(f"Data tenants.csv berhasil dibuat. Total {len(tenants_df)} tenants.")

Data tenants.csv berhasil dibuat. Total 5 tenants.

In [22]:
pd.read_csv('tenants.csv')

,id,userId,name,npwp,npwpImage,address,provinceId,cityId,districtId,villageId,postalCode,tenantStatus,createdAt,updatedAt
0,1,2,Maman Pratama,9.000838e+15,npwp_tenant_1.jpg,"Jl. Jend. A. Yani No. 0, Kel. Sumber Rejo",64,6471,647104,6471041006,14812,ACTIVE,2025-10-28 09:33:07.101532,2025-11-08 09:33:07.101532
1,2,3,Kasiyah Yulianti,1.451283e+15,npwp_tenant_2.jpg,"Gg. Kutisari Selatan No. 18, Kel. Manggar Baru",64,6471,647101,6471011004,43948,ACTIVE,2025-10-12 09:33:07.101532,2025-11-08 09:33:07.101532
2,3,4,Rahmi Purnawati,5.168640e+15,npwp_tenant_3.jpg,"Jl. Raya Setiabudhi No. 50, Kel. Prapatan",64,6471,647106,6471061001,46436,ACTIVE,2025-10-14 09:33:07.101532,2025-11-08 09:33:07.101532
3,4,5,Julia Sudiati,9.982106e+15,npwp_tenant_4.jpg,"Gg. Stasiun Wonokromo No. 479, Kel. Marga Sari",64,6471,647102,6471021006,8546,ACTIVE,2025-10-21 09:33:07.101532,2025-11-08 09:33:07.101532
4,5,6,Azalea Pertiwi,1.590819e+15,npwp_tenant_5.jpg,"Gang Raya Setiabudhi No. 01, Kel. Manggar",64,6471,647101,6471011001,67173,ACTIVE,2025-10-25 09:33:07.101532,2025-11-08 09:33:07.101532

### 2. tokens

In [23]:
# --- FUNGSI GENERATE TOKENS ---
def generate_tokens(users_df):
    """
    Membuat data dummy untuk tabel tokens (access dan refresh token)
    untuk semua user.
    """
    now = datetime.now()
    tokens_data = []
    token_id_counter = 1

    # Tipe Token: ACCESS, REFRESH, RESET_PASSWORD, VERIFY_EMAIL
    token_types = ['ACCESS', 'REFRESH', 'VERIFY_EMAIL']

    for user_id in users_df['id'].tolist():
        for token_type in token_types:

            # Waktu kadaluarsa berbeda untuk setiap tipe
            if token_type == 'ACCESS':
                expires_at = now + timedelta(hours=random.randint(1, 6))
                is_blacklisted = 0 # Access token jarang di-blacklist
            elif token_type == 'REFRESH':
                expires_at = now + timedelta(days=random.randint(7, 30))
                is_blacklisted = random.choice([0, 0, 0, 1]) # Kadang di-blacklist
            else: # VERIFY_EMAIL
                expires_at = now + timedelta(days=7)
                is_blacklisted = 0

            tokens_data.append({
                'id': token_id_counter,
                'userId': user_id,
                'token': fake.uuid4(), # Token string unik
                'type': token_type, # ENUM
                'expires': expires_at,
                'blacklisted': is_blacklisted, # TINYINT(1)
                'createdAt': now - timedelta(hours=random.randint(1, 50)),
            })
            token_id_counter += 1

    tokens_df = pd.DataFrame(tokens_data)
    return tokens_df

# --- EKSEKUSI ---
tokens_df = generate_tokens(users_df)
tokens_df.to_csv('tokens.csv', index=False)
print(f"Data tokens.csv berhasil dibuat. Total {len(tokens_df)} tokens.")

Data tokens.csv berhasil dibuat. Total 78 tokens.

In [24]:
pd.read_csv('tokens.csv')

,id,userId,token,type,expires,blacklisted,createdAt
0,1,1,ddeba6bd-3810-4fcb-bd41-c857ce2e1b99,ACCESS,2025-11-08 10:33:07.168607,0,2025-11-07 06:33:07.168607
1,2,1,83b8231a-5edd-4c90-81e2-0377590b97aa,REFRESH,2025-12-05 09:33:07.168607,0,2025-11-07 04:33:07.168607
2,3,1,eb971947-51f0-410c-b2c2-14c3b6d90507,VERIFY_EMAIL,2025-11-15 09:33:07.168607,0,2025-11-08 02:33:07.168607
3,4,2,45013304-872b-4e14-bbb2-50394a55cf2e,ACCESS,2025-11-08 15:33:07.168607,0,2025-11-07 23:33:07.168607
4,5,2,dca98c0d-402d-4c98-a0d3-a43ac7e48dbd,REFRESH,2025-12-08 09:33:07.168607,0,2025-11-06 08:33:07.168607
...,...,...,...,...,...,...,...
73,74,25,eed4ddcd-f742-4f60-83a2-88cfb69bb234,REFRESH,2025-12-03 09:33:07.168607,0,2025-11-06 10:33:07.168607
74,75,25,94fddd11-f61b-425a-a856-ead0bacd1202,VERIFY_EMAIL,2025-11-15 09:33:07.168607,0,2025-11-08 00:33:07.168607
75,76,26,84e4ca91-26fd-42ad-bf92-b532fe5a3ad5,ACCESS,2025-11-08 11:33:07.168607,0,2025-11-07 06:33:07.168607
76,77,26,bc2b0a15-74c6-4d83-9842-721e879a81e8,REFRESH,2025-12-03 09:33:07.168607,0,2025-11-07 10:33:07.168607
77,78,26,275ddc5f-be4b-485c-8057-d08ad7ef2c8e,VERIFY_EMAIL,2025-11-15 09:33:07.168607,0,2025-11-08 05:33:07.168607

### 3. tenant_users

In [25]:
# --- FUNGSI GENERATE TENANT USERS ---
def generate_tenant_users(tenants_df, users_df, roles_df):
    """
    Membuat relasi antara tenants dan users (Owner dan Superadmin).
    """
    now = datetime.now()
    tenant_users_data = []

    # 1. Cari Role ID Superadmin dari roles_df
    superadmin_role_id = roles_df[roles_df['roleName'] == 'Superadmin']['id'].iloc[0]
    # 2. Cari User ID Superadmin dari users_df menggunakan roleId
    superadmin_id = users_df[users_df['roleId'] == superadmin_role_id]['id'].iloc[0]

    user_tenant_counter = 1

    for _, tenant in tenants_df.iterrows():
        tenant_id = tenant['id']
        owner_id = tenant['userId'] # Owner

        # 1. Hubungkan Owner dengan Tenant-nya
        tenant_users_data.append({
            'id': user_tenant_counter,
            'userId': owner_id,
            'tenantId': tenant_id,
            'status': 'ACTIVE', # ENUM: ACTIVE, INACTIVE
            'createdAt': now - timedelta(days=random.randint(5, 25)),
            'updatedAt': now
        })
        user_tenant_counter += 1

        # 2. Hubungkan Superadmin dengan SEMUA Tenant
        tenant_users_data.append({
            'id': user_tenant_counter,
            'userId': superadmin_id,
            'tenantId': tenant_id,
            'status': 'ACTIVE',
            'createdAt': now - timedelta(days=random.randint(5, 25)),
            'updatedAt': now
        })
        user_tenant_counter += 1

    tenant_users_df = pd.DataFrame(tenant_users_data)
    # Sesuaikan tipe data
    tenant_users_df['id'] = tenant_users_df['id'].astype(np.int64)
    tenant_users_df['userId'] = tenant_users_df['userId'].astype(np.int64)
    tenant_users_df['tenantId'] = tenant_users_df['tenantId'].astype(np.int64)
    return tenant_users_df

# --- EKSEKUSI ---
tenant_users_df = generate_tenant_users(tenants_df, users_df, roles_df)
tenant_users_df.to_csv('tenant_users.csv', index=False)
print(f"Data tenant_users.csv berhasil dibuat. Total {len(tenant_users_df)} relasi.")

Data tenant_users.csv berhasil dibuat. Total 10 relasi.

In [26]:
pd.read_csv('tenant_users.csv')

,id,userId,tenantId,status,createdAt,updatedAt
0,1,2,1,ACTIVE,2025-10-16 09:33:07.220661,2025-11-08 09:33:07.220661
1,2,1,1,ACTIVE,2025-10-23 09:33:07.220661,2025-11-08 09:33:07.220661
2,3,3,2,ACTIVE,2025-10-26 09:33:07.220661,2025-11-08 09:33:07.220661
3,4,1,2,ACTIVE,2025-10-27 09:33:07.220661,2025-11-08 09:33:07.220661
4,5,4,3,ACTIVE,2025-10-15 09:33:07.220661,2025-11-08 09:33:07.220661
5,6,1,3,ACTIVE,2025-10-19 09:33:07.220661,2025-11-08 09:33:07.220661
6,7,5,4,ACTIVE,2025-10-21 09:33:07.220661,2025-11-08 09:33:07.220661
7,8,1,4,ACTIVE,2025-10-16 09:33:07.220661,2025-11-08 09:33:07.220661
8,9,6,5,ACTIVE,2025-11-03 09:33:07.220661,2025-11-08 09:33:07.220661
9,10,1,5,ACTIVE,2025-10-23 09:33:07.220661,2025-11-08 09:33:07.220661

### 4. suppliers

In [27]:
# --- FUNGSI GENERATE SUPPLIERS (Tahap 3.4) ---
def generate_suppliers(tenants_df, users_df, generated_phone_numbers):
    """
    Membuat data dummy untuk tabel suppliers.
    Mayoritas supplier diikat ke tenant tertentu (70%), sisanya global (30%).
    """
    now = datetime.now()
    suppliers_data = []

    tenant_ids = tenants_df['id'].tolist()
    NUM_SUPPLIERS = 20

    # Prefix legalitas realistis
    prefix_supplier = ['CV.', 'PT.', 'UD.', 'Koperasi', 'Distributor']
    # Kata kunci umum pengganti nama belakang
    brand_words = ['Mitra', 'Nusantara', 'Prima', 'Cipta', 'Berkah', 'Sinar', 'Global', 'Lestari', 'Bintang', 'Sakti']
    # Suffix deskriptif/realistis
    suffix_supplier = ['Logistik', 'Perkasa', 'Sejati', 'Mandiri', 'Unggul', 'Jaya', 'Pangan']

    for i in range(1, NUM_SUPPLIERS + 1):
        # 70% diikat ke tenant (lokal), 30% NULL (global)
        tenant_id = random.choice(tenant_ids) if random.random() < 0.7 else None

        # Penamaan Supplier yang realistis (Prefix + Kata Brand + Suffix)
        supplier_name = f"{random.choice(prefix_supplier)} {random.choice(brand_words)} {random.choice(suffix_supplier)}"

        suppliers_data.append({
            'id': i,
            'name': supplier_name,
            'tenantId': tenant_id, # NULLABLE
            'phoneNumber': generate_phone(generated_phone_numbers),
            'email': generate_email(supplier_name.replace('.', '').replace(' ', ''), 'Supplier', set()),
            'address': fake.address(),
            'createdAt': now - timedelta(days=random.randint(1, 100)), # Variasi Waktu
            'updatedAt': now
        })

    suppliers_df = pd.DataFrame(suppliers_data)
    # Sesuaikan tipe data ID (INT(11))
    suppliers_df['id'] = suppliers_df['id'].astype(np.int64)
    # Menggunakan 'Int64' Pandas untuk menampung nilai NaN/None
    suppliers_df['tenantId'] = suppliers_df['tenantId'].astype('Int64')

    return suppliers_df

# --- EKSEKUSI ---
generated_phone_numbers = set(users_df['phoneNumber'].tolist())

suppliers_df = generate_suppliers(tenants_df, users_df, generated_phone_numbers)
suppliers_df.to_csv('suppliers.csv', index=False)
print(f"Data suppliers.csv berhasil dibuat. Total {len(suppliers_df)} suppliers.")

Data suppliers.csv berhasil dibuat. Total 20 suppliers.

In [28]:
pd.read_csv('suppliers.csv')

,id,name,tenantId,phoneNumber,email,address,createdAt,updatedAt
0,1,Koperasi Mitra Jaya,5.0,628749195492,koperasimitrajaya91@gmail.com,"Gg. Pasir Koja No. 36\nSawahlunto, Jawa Barat ...",2025-11-07 09:33:07.268247,2025-11-08 09:33:07.268247
1,2,UD. Bintang Perkasa,NaN,6289503728663,udbintangperkasa55@gmail.com,"Jl. Gedebage Selatan No. 594\nBanda Aceh, DKI ...",2025-09-11 09:33:07.268247,2025-11-08 09:33:07.268247
2,3,UD. Lestari Sejati,1.0,62852498191139,udlestarisejati@outlook.com,"Gang Sukabumi No. 657\nPrabumulih, KI 50276",2025-08-03 09:33:07.268247,2025-11-08 09:33:07.268247
3,4,UD. Sakti Logistik,5.0,62878203010,udsaktilogistik@bisnisanda.com,"Jalan PHH. Mustofa No. 05\nSolok, MU 05935",2025-09-21 09:33:07.268247,2025-11-08 09:33:07.268247
4,5,Distributor Mitra Logistik,NaN,6285159495631,distributormitralogistik@posku.id,"Jalan M.H Thamrin No. 83\nSamarinda, GO 05536",2025-08-06 09:33:07.268247,2025-11-08 09:33:07.268247
5,6,UD. Prima Mandiri,2.0,62838311573,udprimamandiri@outlook.com,"Gg. Kutai No. 294\nYogyakarta, SB 04224",2025-08-30 09:33:07.268247,2025-11-08 09:33:07.268247
6,7,Distributor Sakti Logistik,NaN,6289923556986,distributorsaktilogistik18@posku.id,"Gang Monginsidi No. 3\nBatu, KR 11909",2025-08-09 09:33:07.268247,2025-11-08 09:33:07.268247
7,8,UD. Global Unggul,2.0,6288631027931,udglobalunggul17@yahoo.com,"Jalan HOS. Cokroaminoto No. 09\nBinjai, KS 15438",2025-09-15 09:33:07.268247,2025-11-08 09:33:07.268247
8,9,UD. Lestari Mandiri,4.0,628147529262,udlestarimandiri17@mail.com,"Jl. Ciwastra No. 97\nSingkawang, Kalimantan Ba...",2025-08-01 09:33:07.268247,2025-11-08 09:33:07.268247
9,10,CV. Nusantara Mandiri,2.0,62857230536319,cvnusantaramandiri@yahoo.com,"Jl. Yos Sudarso No. 9\nPalembang, JA 17465",2025-08-18 09:33:07.268247,2025-11-08 09:33:07.268247
10,11,Distributor Cipta Mandiri,2.0,62878782701,distributorciptamandiri17@bisnisanda.com,"Gg. Siliwangi No. 5\nBogor, AC 25535",2025-09-28 09:33:07.268247,2025-11-08 09:33:07.268247
11,12,PT. Global Perkasa,NaN,62881376304118,ptglobalperkasa@yahoo.com,"Gang Ronggowarsito No. 77\nPadang Sidempuan, S...",2025-08-01 09:33:07.268247,2025-11-08 09:33:07.268247
12,13,UD. Berkah Jaya,3.0,6285940248134,udberkahjaya@bisnisanda.com,"Gang Ciwastra No. 3\nBatu, JA 62315",2025-10-25 09:33:07.268247,2025-11-08 09:33:07.268247
13,14,UD. Mitra Logistik,NaN,628959088457,udmitralogistik85@outlook.com,"Gang Sukabumi No. 2\nTasikmalaya, KB 90339",2025-08-19 09:33:07.268247,2025-11-08 09:33:07.268247
14,15,CV. Global Pangan,4.0,628115859670,cvglobalpangan83@posku.id,"Jalan Soekarno Hatta No. 73\nBekasi, Jambi 64428",2025-08-02 09:33:07.268247,2025-11-08 09:33:07.268247
15,16,Distributor Sakti Sejati,NaN,62881005020015,distributorsaktisejati@outlook.com,Gg. M.T Haryono No. 2\nKota Administrasi Jakar...,2025-10-04 09:33:07.268247,2025-11-08 09:33:07.268247
16,17,UD. Prima Perkasa,NaN,62831809039,udprimaperkasa@outlook.com,"Jalan Medokan Ayu No. 53\nBalikpapan, BA 82976",2025-09-01 09:33:07.268247,2025-11-08 09:33:07.268247
17,18,Koperasi Global Unggul,5.0,62874251035,koperasiglobalunggul@gmail.com,"Jl. Siliwangi No. 921\nPekalongan, BE 51870",2025-10-11 09:33:07.268247,2025-11-08 09:33:07.268247
18,19,PT. Lestari Logistik,1.0,62881693369,ptlestarilogistik32@bisnisanda.com,"Gg. Moch. Ramdan No. 99\nCimahi, SG 16178",2025-08-25 09:33:07.268247,2025-11-08 09:33:07.268247
19,20,Distributor Bintang Pangan,5.0,6285738312096,distributorbintangpangan@mail.com,"Gg. Kendalsari No. 31\nPagaralam, Sumatera Sel...",2025-10-07 09:33:07.268247,2025-11-08 09:33:07.268247

### 5. stores

In [29]:
# --- FUNGSI GENERATE STORES ---
# Total: 1 + 3 + 2 + 2 + 2 = 10 Toko
STORE_COUNT_DISTRIBUTION = [1, 3, 2, 2, 2]

# Data Suffix (Tetap)
suffix_umum = ['Jaya', 'Barokah', 'Makmur', 'Abadi', 'Sejahtera', 'Bersama', 'Mandiri', 'Unggul', 'Sakti']

# --- MAPPING PREFIX BERDASARKAN TIPE TOKO ---
PREFIX_MAPPING_BY_TYPE = {
    # Makanan & Minuman
    1: ['Warung', 'Kedai', 'Kantin', 'Dapur', 'Restoran'],
    # Fashion & Aksesoris
    2: ['Toko', 'Butik', 'Gallery', 'Outlet'],
    # Perawatan Diri & Kecantikan
    3: ['Toko', 'Salon', 'Griya', 'Pusat'],
    # Kebutuhan Kesehatan
    4: ['Apotek', 'Klinik', 'Toko Obat', 'Pusat'],
    # Rumah Tangga & Dekorasi
    5: ['Toko', 'Grosir', 'Pusat', 'Bazaar'],
    # Peralatan Bayi & Anak
    6: ['Toko', 'Grosir', 'Pusat'],
    # Mainan, Hobi & Peralatan Outdoor
    7: ['Toko', 'Kios', 'Pusat'],
    # Elektronik & Gadget
    8: ['Toko', 'Outlet', 'Pusat'],
    # Pertanian, Perkebunan & Peternakan
    9: ['Toko', 'Grosir', 'Gudang', 'Kios'],
    # Otomotif & Suku Cadang
    10: ['Bengkel', 'Dealer', 'Toko', 'Pusat Suku Cadang'],
    # Perlengkapan Hewan Peliharaan
    11: ['Toko', 'Pet Shop', 'Grosir'],
    # Minimarket & Kelontong
    12: ['Minimarket', 'Kios', 'Toko', 'Warung'],
}

def get_type_specific_prefix(store_type_id):
    """Mengambil prefix acak yang cocok berdasarkan store type ID."""
    # Mengambil list prefix berdasarkan ID, atau fallback ke list umum jika ID tidak terdaftar
    prefix_list = PREFIX_MAPPING_BY_TYPE.get(store_type_id, ['Toko', 'Pusat'])
    return random.choice(prefix_list)

# --- FUNGSI GENERATE STORES ---
def generate_stores(tenants_df, store_types_df, balikpapan_villages_df, balikpapan_districts_df, kaltim_id, balikpapan_city_id, generated_phone_numbers):
    """
    Membuat data dummy untuk tabel stores.
    Nama toko dibuat SINKRON dengan Store Type ID yang ditetapkan (PREFIX TERIKAT).
    """
    now = datetime.now()
    stores_data = []
    store_id_counter = 1
    generated_store_codes = set()

    # Map untuk lookup cepat Store Type Name
    store_type_map = store_types_df.set_index('id')['name'].to_dict()
    store_type_ids = store_types_df['id'].tolist()

    def get_simplified_theme(store_type_id):
        return store_type_map[store_type_id].split('&')[0].strip()

    if len(STORE_COUNT_DISTRIBUTION) != len(tenants_df):
        store_counts = [random.randint(1, 3) for _ in range(len(tenants_df))]
    else:
        store_counts = STORE_COUNT_DISTRIBUTION


    for idx, tenant in tenants_df.iterrows():
        tenant_id = tenant['id']

        num_stores_for_tenant = store_counts[idx]

        # --- 1. PRE-SELEKSI STORE TYPE ID (Decide ID first) ---
        is_homogeneous = random.random() < 0.7 and num_stores_for_tenant > 1

        store_type_list = []
        base_brand_name = None

        if is_homogeneous or num_stores_for_tenant == 1:
            # Pilih satu tipe dasar untuk semua toko tenant ini
            base_store_type_id = random.choice(store_type_ids)
            store_type_list = [base_store_type_id] * num_stores_for_tenant

            # Buat Nama Brand Dasar (SINKRON dengan ID dan PREFIX TERIKAT)
            base_prefix = get_type_specific_prefix(base_store_type_id)
            store_type_theme = get_simplified_theme(base_store_type_id)
            base_brand_name = f"{base_prefix} {store_type_theme} {random.choice(suffix_umum)}"

        else:
            # Diversifikasi: ID berbeda-beda
            if len(store_type_ids) >= num_stores_for_tenant:
                store_type_list = random.sample(store_type_ids, num_stores_for_tenant)
            else:
                store_type_list = [random.choice(store_type_ids) for _ in range(num_stores_for_tenant)]

        # Ambil lokasi acak di Balikpapan
        random_village = balikpapan_villages_df.sample(1).iloc[0]
        village_id = random_village['id']
        district_id = random_village['districtId']

        province_id = kaltim_id
        city_id = balikpapan_city_id

        store_emails = set()

        for j in range(num_stores_for_tenant):
            store_type_id = store_type_list[j]
            current_store_id = store_id_counter
            store_code = f"NUKA-BP-{current_store_id:03d}"
            generated_store_codes.add(store_code)

            # 2. Nama Toko: Logika Bersyarat
            if num_stores_for_tenant == 1:
                store_name = base_brand_name # Base brand sudah sinkron
            elif is_homogeneous:
                store_name = f"{base_brand_name} Cabang {chr(65 + j)}" # Base brand sudah sinkron
            else:
                # Diversifikasi: Generate Brand Name Unik (SINKRON dengan store_type_id)
                current_prefix = get_type_specific_prefix(store_type_id) # PREFIX TERIKAT
                current_theme = get_simplified_theme(store_type_id)
                store_name = f"{current_prefix} {current_theme} {random.choice(suffix_umum)}"

            # 3. Email Toko
            store_email = generate_email(store_name.replace(' ', '').replace('.', ''), 'Store', store_emails)

            stores_data.append({
                'id': current_store_id,
                'storeCode': store_code,
                'tenantId': tenant_id,
                'name': store_name,
                'address': f"{fake.street_address()}, Kel. {random_village['name']}, Kec. {balikpapan_districts_df[balikpapan_districts_df['id']==district_id]['name'].iloc[0]}",
                'email': store_email,
                'image': fake.image_url(),
                'provinceId': int(province_id),
                'cityId': int(city_id),
                'districtId': int(district_id),
                'villageId': int(village_id),
                'storeTypeId': store_type_id, # GUARANTEED SINKRON
                'postalCode': fake.numerify('#####'),
                'description': fake.paragraph(nb_sentences=3),
                'phoneNumber': generate_phone(generated_phone_numbers),
                'logo': fake.image_url(),
                'permitCertificate': f'izin_store_{current_store_id}.pdf' if random.random() < 0.5 else None,
                'status': 'ACTIVE',
                'createdAt': now - timedelta(days=random.randint(5, 20)),
                'updatedAt': now
            })
            store_id_counter = current_store_id + 1

    stores_df = pd.DataFrame(stores_data)
    # Sesuaikan tipe data integer (INT(11))
    stores_df['id'] = stores_df['id'].astype(np.int64)
    stores_df['tenantId'] = stores_df['tenantId'].astype(np.int64)
    stores_df['provinceId'] = stores_df['provinceId'].astype(np.int64)
    stores_df['cityId'] = stores_df['cityId'].astype(np.int64)
    stores_df['districtId'] = stores_df['districtId'].astype(np.int64)
    stores_df['villageId'] = stores_df['villageId'].astype(np.int64)
    stores_df['storeTypeId'] = stores_df['storeTypeId'].astype(np.int64)

    return stores_df

# --- EKSEKUSI ---
stores_df = generate_stores(tenants_df, store_types_df, balikpapan_villages_df, balikpapan_districts_df, kaltim_id, balikpapan_city_id, generated_phone_numbers)
stores_df.to_csv('stores.csv', index=False)
print(f"Data stores.csv berhasil dibuat. Total {len(stores_df)} toko di Balikpapan.")

Data stores.csv berhasil dibuat. Total 10 toko di Balikpapan.

In [30]:
pd.read_csv('stores.csv')

,id,storeCode,tenantId,name,address,email,image,provinceId,cityId,districtId,villageId,storeTypeId,postalCode,description,phoneNumber,logo,permitCertificate,status,createdAt,updatedAt
0,1,NUKA-BP-001,1,Apotek Kebutuhan Kesehatan Abadi,"Jalan Tebet Barat Dalam No. 31, Kel. Mekar Sar...",apotekkebutuhankesehatanabadi@outlook.com,https://picsum.photos/664/292,64,6471,647104,6471041005,4,71272,Officiis nobis quas minima. Labore nihil vero ...,62813900875,https://picsum.photos/585/187,izin_store_1.pdf,ACTIVE,2025-10-28 09:33:07.333019,2025-11-08 09:33:07.333019
1,2,NUKA-BP-002,2,"Kios Mainan, Hobi Bersama","Gang Indragiri No. 29, Kel. Batu Ampar, Kec. B...","kiosmainan,hobibersama@mail.com",https://placekitten.com/30/106,64,6471,647103,6471031001,7,94728,Facere ad recusandae quo iusto. Nemo eos cupid...,62831927031594,https://placekitten.com/397/459,izin_store_2.pdf,ACTIVE,2025-10-24 09:33:07.333019,2025-11-08 09:33:07.333019
2,3,NUKA-BP-003,2,Grosir Perlengkapan Hewan Peliharaan Abadi,"Jalan Ronggowarsito No. 44, Kel. Batu Ampar, K...",grosirperlengkapanhewanpeliharaanabadi@gmail.com,https://dummyimage.com/850x897,64,6471,647103,6471031001,11,3022,Fugit tenetur sunt vel nulla sed perspiciatis....,62858425382858,https://placekitten.com/629/916,NaN,ACTIVE,2025-10-26 09:33:07.333019,2025-11-08 09:33:07.333019
3,4,NUKA-BP-004,2,Pusat Perawatan Diri Bersama,"Gg. Waringin No. 450, Kel. Batu Ampar, Kec. Ba...",pusatperawatandiribersama58@mail.com,https://placekitten.com/829/872,64,6471,647103,6471031001,3,53294,Sed quam corrupti sint dolores fugiat nihil. N...,62859558579,https://dummyimage.com/723x715,izin_store_4.pdf,ACTIVE,2025-10-26 09:33:07.333019,2025-11-08 09:33:07.333019
4,5,NUKA-BP-005,3,Toko Obat Kebutuhan Kesehatan Barokah Cabang A,"Gang Rajiman No. 22, Kel. Baru Ilir, Kec. Bali...",tokoobatkebutuhankesehatanbarokahcabanga85@yah...,https://dummyimage.com/383x85,64,6471,647102,6471021001,4,44714,Vel libero consectetur. Odit explicabo ullam r...,62882059408,https://placekitten.com/334/500,izin_store_5.pdf,ACTIVE,2025-10-24 09:33:07.333019,2025-11-08 09:33:07.333019
5,6,NUKA-BP-006,3,Toko Obat Kebutuhan Kesehatan Barokah Cabang B,"Jl. KH Amin Jasuta No. 89, Kel. Baru Ilir, Kec...",tokoobatkebutuhankesehatanbarokahcabangb@outlo...,https://dummyimage.com/838x898,64,6471,647102,6471021001,4,30326,Doloribus necessitatibus iste quisquam volupta...,62896155517860,https://picsum.photos/411/678,izin_store_6.pdf,ACTIVE,2025-10-23 09:33:07.333019,2025-11-08 09:33:07.333019
6,7,NUKA-BP-007,4,Salon Perawatan Diri Mandiri Cabang A,"Gg. Dipatiukur No. 11, Kel. Manggar Baru, Kec....",salonperawatandirimandiricabanga8@gmail.com,https://placekitten.com/456/151,64,6471,647101,6471011004,3,63710,Autem accusamus et molestiae. Nobis eum non am...,628811337748,https://picsum.photos/720/526,izin_store_7.pdf,ACTIVE,2025-10-22 09:33:07.333019,2025-11-08 09:33:07.333019
7,8,NUKA-BP-008,4,Salon Perawatan Diri Mandiri Cabang B,"Jalan Abdul Muis No. 3, Kel. Manggar Baru, Kec...",salonperawatandirimandiricabangb@outlook.com,https://dummyimage.com/529x371,64,6471,647101,6471011004,3,59278,Doloribus nulla explicabo explicabo quos tempo...,628743389779,https://picsum.photos/689/277,NaN,ACTIVE,2025-10-24 09:33:07.333019,2025-11-08 09:33:07.333019
8,9,NUKA-BP-009,5,Toko Rumah Tangga Mandiri Cabang A,"Gg. Soekarno Hatta No. 2, Kel. Sepinggan, Kec....",tokorumahtanggamandiricabanga@yahoo.com,https://placekitten.com/749/73,64,6471,647105,6471051002,5,8248,Blanditiis eum iure repellendus odit. Voluptat...,6285937393049,https://placekitten.com/574/375,NaN,ACTIVE,2025-10-29 09:33:07.333019,2025-11-08 09:33:07.333019
9,10,NUKA-BP-010,5,Toko Rumah Tangga Mandiri Cabang B,"Gg. Indragiri No. 375, Kel. Sepinggan, Kec. Ba...",tokorumahtanggamandiricabangb17@yahoo.com,https://picsum.photos/403/484,64,6471,647105,6471051002,5,57702,Deleniti reiciendis unde molestiae cum placeat...,62831653702,https://placekitten.com/873/368,NaN,ACTIVE,2025-10-26 09:33:07.333019,2025-11-08 09:33:07.333019

### 6. store_users

In [31]:
# --- FUNGSI GENERATE STORE USERS ---

def generate_store_users(stores_df, users_df, roles_df):
    """
    Membuat relasi many-to-many antara users (Admin Toko & Kasir) dan stores.
    """
    now = datetime.now()
    store_users_data = []
    store_user_id_counter = 1

    # Filter User Karyawan IDs
    admin_toko_id = roles_df[roles_df['roleName'] == 'Admin Toko']['id'].iloc[0]
    kasir_id = roles_df[roles_df['roleName'] == 'Kasir']['id'].iloc[0]

    admin_toko_users = users_df[users_df['roleId'] == admin_toko_id]['id'].tolist()
    kasir_users = users_df[users_df['roleId'] == kasir_id]['id'].tolist()

    # Store IDs (10 stores)
    stores_list = stores_df['id'].tolist()

    # Shuffle lists for random, but mandatory, assignment
    random.shuffle(admin_toko_users)
    random.shuffle(kasir_users)

    # Set untuk melacak relasi (userId, storeId) yang sudah ditugaskan
    assigned_relations = set()

    # --- 1. Fase Penugasan Wajib (1:1 Mapping) ---
    # Memastikan 10 toko mendapatkan 10 Admin Toko dan 10 Kasir yang unik

    for i, store_id in enumerate(stores_list):
        # Penugasan Admin Toko
        admin_user_id = admin_toko_users[i]

        # Penugasan Kasir
        kasir_user_id = kasir_users[i]

        # Tambahkan Admin Toko
        relation_key_admin = (admin_user_id, store_id)
        store_users_data.append({
            'id': store_user_id_counter,
            'userId': admin_user_id,
            'storeId': store_id,
            'status': 'ACTIVE',
            'createdAt': now - timedelta(days=random.randint(1, 10)),
            'updatedAt': now
        })
        assigned_relations.add(relation_key_admin)
        store_user_id_counter += 1

        # Tambahkan Kasir
        relation_key_kasir = (kasir_user_id, store_id)
        store_users_data.append({
            'id': store_user_id_counter,
            'userId': kasir_user_id,
            'storeId': store_id,
            'status': 'ACTIVE',
            'createdAt': now - timedelta(days=random.randint(1, 10)),
            'updatedAt': now
        })
        assigned_relations.add(relation_key_kasir)
        store_user_id_counter += 1

    # --- 2. Fase Penugasan Tambahan (Simulasi Fleksibilitas Staf) ---
    # Tambahkan 5 penugasan ekstra, di mana staf yang sama mungkin muncul di toko berbeda

    all_staff_users = admin_toko_users + kasir_users

    for _ in range(5):
        random_store_id = random.choice(stores_list)
        random_staff_id = random.choice(all_staff_users)
        relation_key = (random_staff_id, random_store_id)

        # Hanya tambahkan jika relasi user-store belum ada
        if relation_key not in assigned_relations:
             store_users_data.append({
                'id': store_user_id_counter,
                'userId': random_staff_id,
                'storeId': random_store_id,
                'status': random.choice(['ACTIVE', 'INACTIVE']), # Beberapa mungkin sudah non-aktif
                'createdAt': now - timedelta(days=random.randint(1, 15)),
                'updatedAt': now
            })
             assigned_relations.add(relation_key)
             store_user_id_counter += 1


    store_users_df = pd.DataFrame(store_users_data)
    # Sesuaikan tipe data
    store_users_df['id'] = store_users_df['id'].astype(np.int64) # BIGINT(20)
    store_users_df['userId'] = store_users_df['userId'].astype(np.int64) # BIGINT(20)
    store_users_df['storeId'] = store_users_df['storeId'].astype(np.int64) # INT(11)

    return store_users_df

    print("Memuat data roles, users, dan stores...")
try:
    roles_df = pd.read_csv('roles.csv')
    users_df = pd.read_csv('users.csv')
    stores_df = pd.read_csv('stores.csv')
except FileNotFoundError as e:
    print(f"Error: Salah satu file CSV (roles.csv, users.csv, atau stores.csv) tidak ditemukan: {e}")
    exit()


# --- EKSEKUSI ---
store_users_df = generate_store_users(stores_df, users_df, roles_df)
store_users_df.to_csv('store_users.csv', index=False)
print(f"Data store_users.csv berhasil dibuat. Total {len(store_users_df)} relasi staf-toko (minimal 20 relasi wajib, ditambah 5 acak).")

Data store_users.csv berhasil dibuat. Total 24 relasi staf-toko (minimal 20 relasi wajib, ditambah 5 acak).

In [32]:
pd.read_csv('store_users.csv')

,id,userId,storeId,status,createdAt,updatedAt
0,1,7,1,ACTIVE,2025-11-03 09:33:07.430727,2025-11-08 09:33:07.430727
1,2,21,1,ACTIVE,2025-11-07 09:33:07.430727,2025-11-08 09:33:07.430727
2,3,9,2,ACTIVE,2025-10-31 09:33:07.430727,2025-11-08 09:33:07.430727
3,4,25,2,ACTIVE,2025-11-02 09:33:07.430727,2025-11-08 09:33:07.430727
4,5,11,3,ACTIVE,2025-11-06 09:33:07.430727,2025-11-08 09:33:07.430727
5,6,17,3,ACTIVE,2025-10-29 09:33:07.430727,2025-11-08 09:33:07.430727
6,7,15,4,ACTIVE,2025-10-31 09:33:07.430727,2025-11-08 09:33:07.430727
7,8,23,4,ACTIVE,2025-10-29 09:33:07.430727,2025-11-08 09:33:07.430727
8,9,16,5,ACTIVE,2025-11-02 09:33:07.430727,2025-11-08 09:33:07.430727
9,10,20,5,ACTIVE,2025-11-05 09:33:07.430727,2025-11-08 09:33:07.430727
10,11,12,6,ACTIVE,2025-11-01 09:33:07.430727,2025-11-08 09:33:07.430727
11,12,24,6,ACTIVE,2025-11-02 09:33:07.430727,2025-11-08 09:33:07.430727
12,13,8,7,ACTIVE,2025-11-01 09:33:07.430727,2025-11-08 09:33:07.430727
13,14,18,7,ACTIVE,2025-11-05 09:33:07.430727,2025-11-08 09:33:07.430727
14,15,13,8,ACTIVE,2025-10-31 09:33:07.430727,2025-11-08 09:33:07.430727
15,16,22,8,ACTIVE,2025-10-29 09:33:07.430727,2025-11-08 09:33:07.430727
16,17,14,9,ACTIVE,2025-10-29 09:33:07.430727,2025-11-08 09:33:07.430727
17,18,19,9,ACTIVE,2025-11-02 09:33:07.430727,2025-11-08 09:33:07.430727
18,19,10,10,ACTIVE,2025-11-07 09:33:07.430727,2025-11-08 09:33:07.430727
19,20,26,10,ACTIVE,2025-11-02 09:33:07.430727,2025-11-08 09:33:07.430727
20,21,21,4,INACTIVE,2025-11-05 09:33:07.430727,2025-11-08 09:33:07.430727
21,22,10,3,ACTIVE,2025-11-04 09:33:07.430727,2025-11-08 09:33:07.430727
22,23,20,2,INACTIVE,2025-11-04 09:33:07.430727,2025-11-08 09:33:07.430727
23,24,9,7,ACTIVE,2025-10-27 09:33:07.430727,2025-11-08 09:33:07.430727

### 7. variant_types

In [33]:
variant_type_mapping_by_store = {
    'Makanan & Minuman': ['Ukuran', 'Rasa', 'Tipe Kemasan'],
    'Fashion & Aksesoris': ['Ukuran', 'Warna', 'Bahan'],
    'Perawatan Diri & Kecantikan': ['Warna', 'Aroma', 'Kandungan'],
    'Kebutuhan Kesehatan': ['Dosis', 'Tipe Kemasan', 'Jenis Obat'],
    'Rumah Tangga & Dekorasi': ['Warna', 'Ukuran', 'Material'],
    'Peralatan Bayi & Anak': ['Ukuran', 'Bahan', 'Merek'],
    'Mainan, Hobi & Peralatan Outdoor': ['Tipe', 'Ukuran', 'Material'],
    'Elektronik & Gadget': ['Warna', 'Kapasitas', 'Tipe'],
    'Pertanian, Perkebunan & Peternakan': ['Berat', 'Tipe Kemasan', 'Jenis Tanaman'],
    'Otomotif & Suku Cadang': ['Jenis', 'Merek', 'Ukuran'],
    'Perlengkapan Hewan Peliharaan': ['Berat', 'Rasa', 'Tipe'],
    'Minimarket & Kelontong': ['Tipe Kemasan', 'Ukuran', 'Rasa'],
}

CUSTOM_VARIANTS_MAP = {
    1: ['Level Pedas', 'Bumbu Ekstra', 'Topping Tambahan', 'Saus Khusus'], # Makanan & Minuman
    2: ['Motif Kustom', 'Desain Spesial', 'Bordir Tambahan', 'Limited Edition'], # Fashion & Aksesoris
    3: ['Formula Kental', 'Tingkat Aroma', 'Khusus Kulit Sensitif', 'Organik'], # Perawatan Diri & Kecantikan
    4: ['Tambahan Dosis', 'Spesial Anak', 'Resep Khusus'], # Kebutuhan Kesehatan
    5: ['Finishing Khusus', 'Gaya Vintage', 'Bahan Daur Ulang'], # Rumah Tangga & Dekorasi
    6: ['Aman Gigit', 'Bebas BPA', 'Warna Cerah Kustom'], # Peralatan Bayi & Anak
    7: ['Edisi Terbatas', 'Mode Turnamen', 'Pre-Order Eksklusif'], # Mainan, Hobi, Outdoor
    8: ['Garansi Khusus', 'Upgrade RAM', 'Chipset Custom'], # Elektronik & Gadget
    9: ['Tanpa Pestisida', 'Varietas Unggul', 'Bersertifikat Organik'], # Pertanian, Perkebunan, Peternakan
    10: ['Khusus Mesin Balap', 'Bahan Karbon', 'Warna Krom'], # Otomotif & Suku Cadang
    11: ['Khusus Ras Besar', 'Hypoallergenic', 'Free Biskuit'], # Perlengkapan Hewan Peliharaan
    12: ['Promo Beli 2', 'Bundling Spesial', 'Kemas Ulang Besar'], # Minimarket & Kelontong
}

# --- FUNGSI GENERATE VARIANT TYPES ---

def generate_variant_types(variant_type_mapping, stores_df, store_types_df):
    """
    Membuat data dummy untuk tabel variant_types dengan logika deskripsi kondisional
    dan pemilihan varian STORE-specific yang sinkron dengan tipe toko.
    """
    now = datetime.now()
    variant_types_data = []
    variant_names_set = set()
    variant_id_counter = 1

    # --- 1. Kumpulkan Tipe Varian GLOBAL ---
    for types_list in variant_type_mapping.values():
        for variant_name in types_list:
            if variant_name not in variant_names_set:
                variant_types_data.append({
                    'id': variant_id_counter,
                    'name': variant_name,
                    'scope': 'GLOBAL',
                    'storeId': None, # NULL
                    'description': None, # NULL untuk GLOBAL
                    'isActive': 1,
                    'createdAt': now - timedelta(days=random.randint(1, 15)),
                    'updatedAt': now
                })
                variant_names_set.add(variant_name)
                variant_id_counter += 1

    # --- 2. Tambahkan Tipe Varian STORE-specific (SINKRON TIPE) ---
    store_ids = stores_df['id'].tolist()

    # Map untuk lookup cepat Store Type ID ke Name
    store_type_map = store_types_df.set_index('id')['name'].to_dict()

    # Tambahkan 1 tipe varian 'STORE' ke setiap toko
    for store_id in store_ids:
        # Ambil Store Type ID toko yang sedang diproses
        store_type_id = stores_df[stores_df['id'] == store_id]['storeTypeId'].iloc[0]

        # Pilih varian kustom yang relevan berdasarkan ID
        custom_variant_options = CUSTOM_VARIANTS_MAP.get(store_type_id, ['Varian Kustom Umum'])
        variant_name_base = random.choice(custom_variant_options)

        # Pastikan varian name unik per toko, tambahkan suffix
        variant_name_unique = f"{variant_name_base} ({store_type_map[store_type_id].split()[0]} Store)"

        variant_types_data.append({
            'id': variant_id_counter,
            'name': variant_name_unique,
            'scope': 'STORE',
            'storeId': store_id,
            'description': f"Varian kustom spesifik untuk jenis toko: {store_type_map[store_type_id]}",
            'isActive': 1,
            'createdAt': now,
            'updatedAt': now
        })
        variant_id_counter += 1


    variant_types_df = pd.DataFrame(variant_types_data)
    # Sesuaikan tipe data
    variant_types_df['id'] = variant_types_df['id'].astype(np.int64)
    variant_types_df['storeId'] = variant_types_df['storeId'].astype('Int64')

    return variant_types_df

print("Memuat data stores dan store types...")
try:
    stores_df = pd.read_csv('stores.csv')
    store_types_df = pd.read_csv('store_types.csv')
except FileNotFoundError as e:
    print(f"Error: Salah satu file CSV tidak ditemukan: {e}")
    exit()

# --- EKSEKUSI ---
variant_types_df = generate_variant_types(variant_type_mapping_by_store, stores_df, store_types_df)
variant_types_df.to_csv('variant_types.csv', index=False)
print(f"Data variant_types.csv berhasil dibuat. Total {len(variant_types_df)} tipe varian (GLOBAL dan STORE).")

Memuat data stores dan store types...
Data variant_types.csv berhasil dibuat. Total 26 tipe varian (GLOBAL dan STORE).

In [34]:
pd.read_csv('variant_types.csv')

,id,name,scope,storeId,description,isActive,createdAt,updatedAt
0,1,Ukuran,GLOBAL,NaN,NaN,1,2025-10-31 09:33:07.492255,2025-11-08 09:33:07.492255
1,2,Rasa,GLOBAL,NaN,NaN,1,2025-10-30 09:33:07.492255,2025-11-08 09:33:07.492255
2,3,Tipe Kemasan,GLOBAL,NaN,NaN,1,2025-10-25 09:33:07.492255,2025-11-08 09:33:07.492255
3,4,Warna,GLOBAL,NaN,NaN,1,2025-10-28 09:33:07.492255,2025-11-08 09:33:07.492255
4,5,Bahan,GLOBAL,NaN,NaN,1,2025-10-25 09:33:07.492255,2025-11-08 09:33:07.492255
5,6,Aroma,GLOBAL,NaN,NaN,1,2025-10-26 09:33:07.492255,2025-11-08 09:33:07.492255
6,7,Kandungan,GLOBAL,NaN,NaN,1,2025-11-01 09:33:07.492255,2025-11-08 09:33:07.492255
7,8,Dosis,GLOBAL,NaN,NaN,1,2025-10-31 09:33:07.492255,2025-11-08 09:33:07.492255
8,9,Jenis Obat,GLOBAL,NaN,NaN,1,2025-11-02 09:33:07.492255,2025-11-08 09:33:07.492255
9,10,Material,GLOBAL,NaN,NaN,1,2025-11-02 09:33:07.492255,2025-11-08 09:33:07.492255
10,11,Merek,GLOBAL,NaN,NaN,1,2025-11-04 09:33:07.492255,2025-11-08 09:33:07.492255
11,12,Tipe,GLOBAL,NaN,NaN,1,2025-10-31 09:33:07.492255,2025-11-08 09:33:07.492255
12,13,Kapasitas,GLOBAL,NaN,NaN,1,2025-10-24 09:33:07.492255,2025-11-08 09:33:07.492255
13,14,Berat,GLOBAL,NaN,NaN,1,2025-11-06 09:33:07.492255,2025-11-08 09:33:07.492255
14,15,Jenis Tanaman,GLOBAL,NaN,NaN,1,2025-11-06 09:33:07.492255,2025-11-08 09:33:07.492255
15,16,Jenis,GLOBAL,NaN,NaN,1,2025-11-05 09:33:07.492255,2025-11-08 09:33:07.492255
16,17,Tambahan Dosis (Kebutuhan Store),STORE,1.0,Varian kustom spesifik untuk jenis toko: Kebut...,1,2025-11-08 09:33:07.492255,2025-11-08 09:33:07.492255
17,18,"Pre-Order Eksklusif (Mainan, Store)",STORE,2.0,Varian kustom spesifik untuk jenis toko: Maina...,1,2025-11-08 09:33:07.492255,2025-11-08 09:33:07.492255
18,19,Khusus Ras Besar (Perlengkapan Store),STORE,3.0,Varian kustom spesifik untuk jenis toko: Perle...,1,2025-11-08 09:33:07.492255,2025-11-08 09:33:07.492255
19,20,Formula Kental (Perawatan Store),STORE,4.0,Varian kustom spesifik untuk jenis toko: Peraw...,1,2025-11-08 09:33:07.492255,2025-11-08 09:33:07.492255
20,21,Spesial Anak (Kebutuhan Store),STORE,5.0,Varian kustom spesifik untuk jenis toko: Kebut...,1,2025-11-08 09:33:07.492255,2025-11-08 09:33:07.492255
21,22,Resep Khusus (Kebutuhan Store),STORE,6.0,Varian kustom spesifik untuk jenis toko: Kebut...,1,2025-11-08 09:33:07.492255,2025-11-08 09:33:07.492255
22,23,Formula Kental (Perawatan Store),STORE,7.0,Varian kustom spesifik untuk jenis toko: Peraw...,1,2025-11-08 09:33:07.492255,2025-11-08 09:33:07.492255
23,24,Formula Kental (Perawatan Store),STORE,8.0,Varian kustom spesifik untuk jenis toko: Peraw...,1,2025-11-08 09:33:07.492255,2025-11-08 09:33:07.492255
24,25,Finishing Khusus (Rumah Store),STORE,9.0,Varian kustom spesifik untuk jenis toko: Rumah...,1,2025-11-08 09:33:07.492255,2025-11-08 09:33:07.492255
25,26,Finishing Khusus (Rumah Store),STORE,10.0,Varian kustom spesifik untuk jenis toko: Rumah...,1,2025-11-08 09:33:07.492255,2025-11-08 09:33:07.492255

### 8. variant_options

In [35]:
# --- MAPPING GLOBAL OPTIONS ---
options_for_all_types = {
    'Ukuran': ['S', 'M', 'L', 'XL', 'XXL'],
    'Warna': ['Merah', 'Biru', 'Hijau', 'Hitam', 'Putih', 'Kuning', 'Abu-abu'],
    'Rasa': ['Original', 'Cokelat', 'Strawberry', 'Vanila', 'Keju', 'Pedas'],
    'Bahan': ['Katun', 'Poliester', 'Linen', 'Denim', 'Sintetis'],
    'Tipe Kemasan': ['Botol Plastik', 'Sachet', 'Dus Karton', 'Kaleng'],
    'Dosis': ['100mg', '250mg', '500mg'],
    'Jenis Obat': ['Tablet', 'Sirup', 'Kapsul'],
    'Material': ['Kayu', 'Besi', 'Plastik Keras', 'Kaca', 'Keramik'],
    'Merek': ['Brand A', 'Brand B', 'Brand C', 'Brand D'],
    'Tipe': ['Digital', 'Analog', 'Mekanik', 'Semi-Otomatis'],
    'Kapasitas': ['4GB', '8GB', '16GB', '32GB', '64GB'],
    'Berat': ['100gr', '250gr', '500gr', '1kg', '5kg'],
    'Jenis Tanaman': ['Sayur', 'Buah', 'Hias'],
    'Jenis': ['Matic', 'Manual', 'Elektrik', 'Jasa Servis'],
    'Aroma': ['Floral', 'Fruity', 'Woody', 'Fresh'],
    'Kandungan': ['Vitamin C', 'Kolagen', 'Hyaluronic Acid']
}

# --- MAPPING CUSTOM OPTIONS UNTUK VARIANT STORE ---
CUSTOM_OPTIONS_MAP = {
    'Level Pedas': ['Level 1 (Mild)', 'Level 3 (Hot)', 'Level 5 (Extrem)'],
    'Tambahan': ['Ya', 'Tidak'], # Untuk 'Topping Tambahan', 'Bordir Tambahan', dsb.
    'Spesial': ['Set B', 'Set C', 'Set D'], # Untuk 'Promo Beli 2', 'Set Khusus', dsb.
    'Kustom': ['Opsi A', 'Opsi B', 'Opsi C'], # Untuk Varian kustom umum
}

# --- FUNGSI GENERATE VARIANT OPTIONS (Tahap 3.8) ---
def generate_variant_options(variant_types_df, options_map, custom_options_map):
    """
    Membuat data master untuk tabel variant_options.
    Harga tambahan hanya ditetapkan pada opsi PREMIUM spesifik.
    """
    now = datetime.now()
    variant_options_data = []
    option_id_counter = 1

    for _, variant_type in variant_types_df.iterrows():
        type_id = variant_type['id']
        type_name = variant_type['name']
        type_scope = variant_type['scope']

        options_list = []

        # [Logika penetapan options_list (Tidak Berubah)]
        if type_scope == 'GLOBAL':
            options_list = options_map.get(type_name, [])
        elif type_scope == 'STORE':
            base_name = type_name.split('(')[0].strip() if '(' in type_name else type_name
            if 'Level Pedas' in base_name:
                options_list = custom_options_map['Level Pedas']
            elif 'Tambahan' in base_name or 'Bordir' in base_name or 'Khusus' in base_name:
                options_list = custom_options_map['Tambahan']
            elif 'Promo' in base_name or 'Edisi' in base_name or 'Set' in base_name:
                 options_list = custom_options_map['Spesial']
            else:
                 options_list = custom_options_map['Kustom']


        for option_name in options_list:

            # --- LOGIKA HARGA AKHIR ---

            # 1. Identifikasi Opsi Premium
            is_premium_size_weight = option_name.endswith('XXL') or option_name.endswith('5kg')
            is_premium_service = option_name == 'Jasa Servis'

            if is_premium_size_weight:
                # Harga premium untuk ukuran/berat (misal: Rp15,000 - Rp45,000)
                additional_price = random.randint(15000, 45000)
                additional_price = round(additional_price, -3)
            elif is_premium_service:
                # Harga premium untuk jasa (misal: Rp50,000 - Rp150,000)
                additional_price = random.randint(50000, 150000)
                additional_price = round(additional_price, -3)
            else:
                # 2. Default ke Nol (Harga tambahan kecil dihilangkan)
                additional_price = 0
            # -------------------------

            variant_options_data.append({
                'id': option_id_counter,
                'variantTypeId': type_id,
                'name': option_name,
                'additionalPrice': additional_price,
                'status': random.choice(['ACTIVE', 'INACTIVE']),
                'createdAt': now - timedelta(hours=random.randint(1, 48)),
                'updatedAt': now,
            })
            option_id_counter += 1

    variant_options_df = pd.DataFrame(variant_options_data)

    # --- SESUAIKAN TIPE DATA BIGINT(20) ---
    variant_options_df['id'] = variant_options_df['id'].astype(np.int64)
    variant_options_df['variantTypeId'] = variant_options_df['variantTypeId'].astype(np.int64)
    variant_options_df['additionalPrice'] = variant_options_df['additionalPrice'].astype(np.int64)

    return variant_options_df

# --- MEMBACA KEMBALI DATA DARI FILE CSV YANG DIBUTUHKAN ---
print("Memuat data variant_types...")
try:
    variant_types_df = pd.read_csv('variant_types.csv')
except FileNotFoundError as e:
    print(f"Error: variant_types.csv tidak ditemukan. Pastikan Tahap 3.7 sudah dieksekusi: {e}")
    exit()

# --- EKSEKUSI FUNGSI GENERATE VARIANT OPTIONS ---
variant_options_df = generate_variant_options(variant_types_df, options_for_all_types, CUSTOM_OPTIONS_MAP)

# --- SIMPAN DAN TAMPILKAN HASIL ---
variant_options_df.to_csv('variant_options.csv', index=False)
print(f"Data variant_options.csv berhasil dibuat. Total {len(variant_options_df)} opsi varian.")

Memuat data variant_types...
Data variant_options.csv berhasil dibuat. Total 95 opsi varian.

In [36]:
pd.read_csv('variant_options.csv')

,id,variantTypeId,name,additionalPrice,status,createdAt,updatedAt
0,1,1,S,0,INACTIVE,2025-11-06 15:33:07.560622,2025-11-08 09:33:07.560622
1,2,1,M,0,INACTIVE,2025-11-07 07:33:07.560622,2025-11-08 09:33:07.560622
2,3,1,L,0,INACTIVE,2025-11-07 14:33:07.560622,2025-11-08 09:33:07.560622
3,4,1,XL,0,ACTIVE,2025-11-07 20:33:07.560622,2025-11-08 09:33:07.560622
4,5,1,XXL,32000,ACTIVE,2025-11-07 21:33:07.560622,2025-11-08 09:33:07.560622
...,...,...,...,...,...,...,...
90,91,24,Opsi C,0,ACTIVE,2025-11-07 14:33:07.560622,2025-11-08 09:33:07.560622
91,92,25,Ya,0,INACTIVE,2025-11-07 10:33:07.560622,2025-11-08 09:33:07.560622
92,93,25,Tidak,0,ACTIVE,2025-11-07 17:33:07.560622,2025-11-08 09:33:07.560622
93,94,26,Ya,0,INACTIVE,2025-11-08 00:33:07.560622,2025-11-08 09:33:07.560622
94,95,26,Tidak,0,ACTIVE,2025-11-06 23:33:07.560622,2025-11-08 09:33:07.560622

## Kelompok 4

Tahap 4: Produk dan Inventaris (Level 3)   
1. products: Membutuhkan productCategoryId dari product_categories.
2. supplier_products: Relasi langsung antara suppliers dan products.
3. _producttosupplier: Relasi many-to-many implisit antara products (A) dan suppliers (B).
4. product_variants: Membutuhkan productId dari products.
5. product_variant_options: Relasi antara product_variants dan variant_options.

### Read dari Kelompok 3

In [37]:
# --- MEMBACA DATA DARI FILE CSV KELOMPOK 3 & SEBELUMNYA ---
print("Membaca data dari file CSV Tahap 1 hingga 3...")
try:
    # Tahap 1
    product_categories_df = pd.read_csv('product_categories.csv')

    # Tahap 3 (Dataframe Utama)
    tenants_df = pd.read_csv('tenants.csv')
    suppliers_df = pd.read_csv('suppliers.csv')
    stores_df = pd.read_csv('stores.csv')
    store_users_df = pd.read_csv('store_users.csv')
    variant_types_df = pd.read_csv('variant_types.csv')
    variant_options_df = pd.read_csv('variant_options.csv')

    # Inisialisasi set nomor telepon yang sudah terpakai (untuk produk/supplier baru jika ada)
    generated_phone_numbers = set(users_df['phoneNumber'].tolist())

    print("Berhasil membaca semua file CSV Tahap 1 dan 3.")
except FileNotFoundError as e:
    print(f"Error: File CSV tidak ditemukan: {e}. Pastikan semua tahap sebelumnya sudah dieksekusi.")
    exit()

Membaca data dari file CSV Tahap 1 hingga 3...
Berhasil membaca semua file CSV Tahap 1 dan 3.

### 1. products

In [38]:
# --- MAPPING NAMA PRODUK BERDASARKAN TEMA KATEGORI ---
PRODUCT_THEME_MAP = {
    # 1. Makanan & Minuman
    'Makanan Utama': [
        'Nasi Goreng Spesial', 'Mie Ayam Kuah', 'Ayam Geprek Sambal Matah',
        'Ikan Gurame Bakar', 'Capcay Seafood', 'Soto Betawi Daging'
    ],
    'Camilan dan Jajanan': [
        'Keripik Singkong Balado', 'Roti Bakar Keju', 'Pisang Nugget',
        'Martabak Mini', 'Cilok Kuah Pedas', 'Siomay Ikan'
    ],
    'Makanan Beku': [
        'Sosis Sapi Jumbo', 'Bakso Ikan Premium', 'Dimsum Ayam Udang',
        'French Fries', 'Kebab Daging Frozen', 'Pempek Kapal Selam'
    ],
    'Roti dan Kue': [
        'Roti Gandum Utuh', 'Kue Tart Ulang Tahun', 'Brownies Kukus Cokelat',
        'Croissant Keju', 'Donat Glaze', 'Bolu Marmer'
    ],
    'Es Krim': ['Es Krim Cone Rasa Taro', 'Gelato Cup Mangga', 'Ice Cream Literan'],
    'Minuman Berbasis Kopi': [
        'Es Kopi Susu Aren', 'Caramel Macchiato', 'Cold Brew Hitam',
        'Affogato Klasik', 'Kopi Tubruk Robusta'
    ],
    'Minuman Berbasis Teh': ['Es Teh Manis Jumbo', 'Thai Tea Original', 'Lemon Tea Dingin'],
    'Minuman Berbasis Cokelat': ['Cokelat Panas Klasik', 'Es Cokelat Signature', 'Choco Blend'],
    'Minuman Kesehatan': ['Jus Jeruk Murni', 'Smoothie Pisang', 'Air Mineral Alkali'],

    # 2. Fashion & Aksesoris
    'Pakaian Pria': [
        'Kemeja Denim Lengan Pendek', 'Celana Jeans Slim Fit', 'Jaket Bomber Parasut',
        'Baju Koko Modern', 'Sweater Rajut'
    ],
    'Pakaian Wanita': [
        'Blouse Satin Motif Bunga', 'Gamis Syar\'i', 'Legging Olahraga',
        'Outer Cardigan', 'Celana Kulot Linen'
    ],
    'Sepatu': ['Sneakers Kasual Pria', 'High Heels Formal', 'Sandal Gunung Pria'],
    'Tas': ['Tas Ransel Laptop', 'Totebag Kanvas', 'Clutch Pesta Wanita'],

    # 3. Perawatan Diri & Kecantikan
    'Skincare': [
        'Sabun Muka Tea Tree', 'Toner Hydrating', 'Sunscreen SPF 50',
        'Masker Wajah Clay', 'Retinol Serum'
    ],
    'Make Up': [
        'Eyeshadow Palette Nude', 'Eyeliner Cair Waterproof', 'Blush On Creamy',
        'Lip Cream Tahan Lama', 'Foundation Full Coverage'
    ],
    'Hair Care': ['Shampo Anti Ketombe', 'Conditioner Pelembut', 'Minyak Rambut Argan'],

    # 4. Kebutuhan Kesehatan
    'Obat Resep & Obat Bebas': ['Tablet Demam Paracetamol', 'Obat Sakit Kepala', 'Obat Maag Cair'],
    'Suplemen dan Vitamin': ['Vitamin C Dosis Tinggi', 'Minyak Ikan Omega-3', 'Multivitamin Anak'],
    'Alat Medis': ['Masker N95', 'Termometer Digital', 'Tensimeter Lengan'],

    # 5. Rumah Tangga & Dekorasi
    'Peralatan Dapur': ['Set Pisau Dapur Lengkap', 'Teflon Anti Lengket 24cm', 'Rice Cooker Mini'],
    'Furnitur': ['Meja Kerja Minimalis', 'Kursi Gaming Ergonomis', 'Rak Buku 4 Susun'],
    'Dekorasi Interior': ['Lampu Meja Hias', 'Karpet Bulu Abu-abu', 'Lukisan Kanvas Abstrak'],

    # 6. Peralatan Bayi & Anak
    'Popok dan Produk Kebersihan': ['Popok Perekat Newborn', 'Bedak Bayi Anti Iritasi', 'Shampo Bayi 2-in-1'],
    'Makanan Bayi dan Susu Formula': ['Susu Formula Tahap 1', 'Bubur Bayi Instan Rasa Keju'],

    # 7. Mainan, Hobi & Peralatan Outdoor
    'Peralatan Olahraga dan Luar Ruangan': ['Matras Yoga Tebal', 'Tali Skipping Digital', 'Tenda Camping Kapasitas 2 Orang'],
    'Koleksi dan Mainan': ['Action Figure Gundam', 'Mobil Diecast Skala 1:24', 'Boneka Beruang Besar'],

    # 8. Elektronik & Gadget
    'Handphone & Tablet': ['Smartphone Flagship', 'Tablet Grafis Profesional', 'Powerbank 10000mAh'],
    'Komputer & Laptop': ['Laptop Ultrabook 13 Inch', 'Mouse Wireless Silent', 'Keyboard Mekanikal'],

    # 9. Pertanian, Perkebunan & Peternakan
    'Pupuk': ['Pupuk Kandang Kompos', 'NPK Phonska 16:16:16'],
    'Benih dan Bibit': ['Benih Cabai Rawit', 'Bibit Tanaman Hias Aglonema'],
    'Pakan Ternak': ['Pelet Ikan Lele', 'Pakan Ayam Petelur'],

    # 10. Otomotif & Suku Cadang
    'Suku Cadang dan Komponen': ['Aki Kering Motor Matic', 'Oli Mesin Full Synthetic', 'Ban Tubeless Ring 14'],
    'Aksesori Interior dan eksterior': ['Sarung Jok Mobil', 'Kamera Mundur Mobil'],

    # 11. Perlengkapan Hewan Peliharaan
    'Makanan Hewan Peliharaan': ['Dry Food Kucing Dewasa', 'Wet Food Anjing Kaleng', 'Snack Kelinci'],

    # 12. Minimarket & Kelontong
    'Sembako dan Kebutuhan Pokok': ['Gula Pasir Kristal', 'Telur Ayam Omega Tray', 'Tepung Terigu Serbaguna'],
    'Perawatan Diri': ['Sabun Mandi Cair Botol', 'Pasta Gigi Mint', 'Sikat Gigi Dewasa'],
    'Obat-obatan dan P3K': ['Plester Luka', 'Minyak Kayu Putih', 'Obat Flu Tablet'],

    # Tambahkan nama produk generik untuk kategori yang tidak terdaftar spesifik
    'Produk Umum': ['Sabun Cuci Piring Cair', 'Pengharum Ruangan Spray', 'Tisu Dapur Roll'],
}

def generate_product_name_by_category(category_name):
    """Mengambil nama produk acak yang sesuai dengan tema kategori."""
    base_names = PRODUCT_THEME_MAP.get(category_name, PRODUCT_THEME_MAP.get('Produk Umum'))
    return random.choice(base_names)


# --- DAFTAR KATEGORI YANG MEMBUTUHKAN SERIAL NUMBER ---
SERIAL_NUMBER_CATEGORIES = [
    # Perawatan Diri & Kecantikan
    'Skincare', 'Make Up', 'Hair Care', 'Body Care', 'Fragrance', 'Alat Kecantikan',
    # Kebutuhan Kesehatan
    'Obat Resep & Obat Bebas', 'Suplemen dan Vitamin', 'Alat Medis',
    # Peralatan Bayi & Anak
    'Popok dan Produk Kebersihan', 'Makanan Bayi dan Susu Formula', 'Permainan dan Perkembangan',
    # Elektronik & Gadget
    'Handphone & Tablet', 'Komputer & Laptop', 'Televisi & Audio', 'Elektronik Rumah Tangga',
    'Kamera & Drone', 'Gaming & Konsol',
    # Otomotif & Suku Cadang
    'Suku Cadang dan Komponen', 'Aksesori Interior dan eksterior',
    # Minimarket & Kelontong (Untuk barang yang dilacak seperti obat/perawatan)
    'Obat-obatan dan P3K', 'Perawatan Diri',
    # Lainnya (Terkait aset/barang tahan lama)
    'Furnitur', 'Peralatan Dapur', 'Peralatan Olahraga dan Luar Ruangan', 'Koleksi dan Mainan',
    'Sepatu', 'Tas'
]

# --- DAFTAR KATEGORI DENGAN BATAS HARGA RENDAH ---
LOWER_PRICE_CATEGORIES = [
    'Makanan Utama', 'Camilan dan Jajanan', 'Makanan Beku', 'Roti dan Kue', 'Es Krim',
    'Minuman Berbasis Kopi', 'Minuman Berbasis Teh', 'Minuman Berbasis Cokelat',
    'Minuman Kesehatan', 'Obat Resep & Obat Bebas', 'Suplemen dan Vitamin',
    'Alat Medis', 'Pupuk', 'Benih dan Bibit', 'Pakan Ternak'
]

# --- FUNGSI GENERATE PRODUCTS (Tahap 4.1) ---

def generate_products(product_categories_df, num_products_per_category=4):
    """
    Membuat data dummy untuk tabel products.
    Hanya 30% produk yang memiliki diskon.
    """
    now = datetime.now()
    products_data = []
    product_id_counter = 1
    generated_product_codes = set()

    for _, category in product_categories_df.iterrows():
        category_id = category['id']
        category_name = category['name']

        # --- LOGIKA HARGA KONDISIONAL ---
        if category_name in LOWER_PRICE_CATEGORIES:
            max_multiplier = 40 # Max 40,000
        else:
            max_multiplier = 70 # Max 70,000

        # --- LOGIKA SERIAL NUMBER ---
        needs_serial = category_name in SERIAL_NUMBER_CATEGORIES

        num_products = random.randint(num_products_per_category, num_products_per_category + 3)

        for i in range(num_products):
            # 1. Product Code Unik
            while True:
                product_code = f"SKU-{product_id_counter:04d}"
                if product_code not in generated_product_codes:
                    generated_product_codes.add(product_code)
                    break
                product_id_counter += 1

            # 2. Product Name (Final)
            product_name_base = generate_product_name_by_category(category_name)
            product_name = product_name_base

            # 3. Serial Number Assignment
            if needs_serial:
                serial_number = random.randint(1000, 9999)
            else:
                serial_number = None

            # 4. Base Price
            base_price = random.randint(10, max_multiplier) * 1000

            # 5. Discount (FINAL LOGIC: HANYA 30% MEMILIKI DISKON)
            if random.random() < 0.30: # 30% chance
                discount = random.choice([5, 10, 15])
            else: # 70% chance
                discount = None

            products_data.append({
                'id': product_id_counter,
                'productCode': product_code,
                'serialNumber': serial_number,
                'productCategoryId': category_id,
                'name': product_name,
                'description': f"Deskripsi lengkap untuk produk {product_name_base} dari kategori {category_name}.",
                'discount': discount, # <-- LOGIKA DISKON FINAL
                'basePrice': base_price,
                'imageUrl': fake.image_url(),
                'isActive': random.choice([1, 1, 1, 0]),
                'createdAt': now - timedelta(days=random.randint(10, 150)),
                'updatedAt': now
            })
            product_id_counter += 1

    products_df = pd.DataFrame(products_data)

    # --- SESUAIKAN TIPE DATA BIGINT(20) ---
    products_df['id'] = products_df['id'].astype(np.int64)
    products_df['basePrice'] = products_df['basePrice'].astype(np.int64)

    # Menggunakan 'Int64' Pandas untuk menampung nilai NaN/None
    products_df['serialNumber'] = products_df['serialNumber'].astype('Int64')
    products_df['discount'] = products_df['discount'].astype('Int64')

    return products_df


# --- MEMBACA KEMBALI DATA DARI FILE CSV YANG DIBUTUHKAN ---
print("Memuat data product_categories...")
try:
    product_categories_df = pd.read_csv('product_categories.csv')
except FileNotFoundError as e:
    print(f"Error: product_categories.csv tidak ditemukan: {e}")
    exit()

# --- EKSEKUSI FUNGSI GENERATE PRODUCTS ---
products_df = generate_products(product_categories_df)

# --- SIMPAN DAN TAMPILKAN HASIL ---
products_df.to_csv('products.csv', index=False)
print(f"Data products.csv berhasil dibuat. Total {len(products_df)} produk.")

Memuat data product_categories...
Data products.csv berhasil dibuat. Total 552 produk.

In [39]:
pd.read_csv('products.csv')

,id,productCode,serialNumber,productCategoryId,name,description,discount,basePrice,imageUrl,isActive,createdAt,updatedAt
0,1,SKU-0001,NaN,1,Capcay Seafood,Deskripsi lengkap untuk produk Capcay Seafood ...,5.0,12000,https://dummyimage.com/351x753,0,2025-09-09 09:33:12.807146,2025-11-08 09:33:12.807146
1,2,SKU-0002,NaN,1,Mie Ayam Kuah,Deskripsi lengkap untuk produk Mie Ayam Kuah d...,NaN,39000,https://picsum.photos/843/314,1,2025-07-09 09:33:12.807146,2025-11-08 09:33:12.807146
2,3,SKU-0003,NaN,1,Soto Betawi Daging,Deskripsi lengkap untuk produk Soto Betawi Dag...,NaN,15000,https://placekitten.com/223/689,1,2025-07-13 09:33:12.807146,2025-11-08 09:33:12.807146
3,4,SKU-0004,NaN,1,Ikan Gurame Bakar,Deskripsi lengkap untuk produk Ikan Gurame Bak...,NaN,35000,https://picsum.photos/802/547,1,2025-09-10 09:33:12.807146,2025-11-08 09:33:12.807146
4,5,SKU-0005,NaN,1,Soto Betawi Daging,Deskripsi lengkap untuk produk Soto Betawi Dag...,10.0,20000,https://picsum.photos/547/429,1,2025-08-25 09:33:12.807146,2025-11-08 09:33:12.807146
...,...,...,...,...,...,...,...,...,...,...,...,...
547,548,SKU-0548,NaN,99,Pengharum Ruangan Spray,Deskripsi lengkap untuk produk Pengharum Ruang...,NaN,61000,https://dummyimage.com/397x1005,1,2025-07-05 09:33:12.807146,2025-11-08 09:33:12.807146
548,549,SKU-0549,NaN,99,Sabun Cuci Piring Cair,Deskripsi lengkap untuk produk Sabun Cuci Piri...,NaN,19000,https://dummyimage.com/410x539,1,2025-08-19 09:33:12.807146,2025-11-08 09:33:12.807146
549,550,SKU-0550,NaN,99,Sabun Cuci Piring Cair,Deskripsi lengkap untuk produk Sabun Cuci Piri...,NaN,20000,https://picsum.photos/705/518,0,2025-09-16 09:33:12.807146,2025-11-08 09:33:12.807146
550,551,SKU-0551,NaN,99,Sabun Cuci Piring Cair,Deskripsi lengkap untuk produk Sabun Cuci Piri...,NaN,60000,https://placekitten.com/81/267,1,2025-07-13 09:33:12.807146,2025-11-08 09:33:12.807146
551,552,SKU-0552,NaN,99,Tisu Dapur Roll,Deskripsi lengkap untuk produk Tisu Dapur Roll...,NaN,44000,https://picsum.photos/67/724,1,2025-07-28 09:33:12.807146,2025-11-08 09:33:12.807146

### 2. supplier_products

In [40]:
# --- FUNGSI GENERATE SUPPLIER PRODUCTS (Tahap 4.2) ---
def generate_supplier_products(products_df, suppliers_df):
    """
    Membuat relasi many-to-many antara products dan suppliers.
    Logika: Produk harga rendah (<= 40k) memiliki 3-5 supplier, yang lain 1-2 supplier.
    """
    now = datetime.now()
    supplier_products_data = []
    rel_id_counter = 1
    supplier_ids = suppliers_df['id'].tolist()

    # Menentukan role yang mengelola produk (ENUM: ADMIN_TOKO, ADMIN_SCM, SUPER_SCM)
    managed_by_roles = ['ADMIN_TOKO', 'ADMIN_SCM', 'SUPER_SCM']

    for _, product in products_df.iterrows():
        product_id = product['id']
        base_price = product['basePrice']

        # Logika Kuantitas Supplier:
        if base_price <= 40000:
            # Produk harga rendah/umum: 3 hingga 5 supplier
            num_suppliers = random.randint(3, 5)
        else:
            # Produk harga standar/khusus: 1 hingga 2 supplier
            num_suppliers = random.randint(1, 2)

        # Pilih supplier secara acak tanpa pengulangan
        selected_suppliers = random.sample(supplier_ids, k=min(num_suppliers, len(supplier_ids)))

        for supplier_id in selected_suppliers:
            # Buat relasi untuk tabel supplier_products
            supplier_products_data.append({
                'id': rel_id_counter,
                'supplierId': supplier_id, # INT(11)
                'productId': product_id, # BIGINT(20)
                'managedBy': random.choice(managed_by_roles), # ENUM
            })
            rel_id_counter += 1

    supplier_products_df = pd.DataFrame(supplier_products_data)

    # Sesuaikan tipe data
    supplier_products_df['id'] = supplier_products_df['id'].astype(np.int64)
    supplier_products_df['supplierId'] = supplier_products_df['supplierId'].astype(np.int64)
    supplier_products_df['productId'] = supplier_products_df['productId'].astype(np.int64)

    return supplier_products_df

# --- MEMBACA KEMBALI DATA DARI FILE CSV YANG DIBUTUHKAN ---
print("Memuat data products dan suppliers...")
try:
    products_df = pd.read_csv('products.csv')
    suppliers_df = pd.read_csv('suppliers.csv')
except FileNotFoundError as e:
    print(f"Error: Salah satu file CSV tidak ditemukan: {e}")
    exit()

# --- EKSEKUSI FUNGSI GENERATE SUPPLIER PRODUCTS ---
supplier_products_df = generate_supplier_products(products_df, suppliers_df)

# --- SIMPAN DAN TAMPILKAN HASIL ---
supplier_products_df.to_csv('supplier_products.csv', index=False)
print(f"Data supplier_products.csv berhasil dibuat. Total {len(supplier_products_df)} relasi produk-pemasok.")

Memuat data products dan suppliers...
Data supplier_products.csv berhasil dibuat. Total 1689 relasi produk-pemasok.

In [41]:
pd.read_csv('supplier_products.csv')

        id  supplierId  productId   managedBy
0        1          14          1   SUPER_SCM
1        2           8          1   ADMIN_SCM
2        3          18          1   SUPER_SCM
3        4           4          1   ADMIN_SCM
4        5           9          1   SUPER_SCM
...    ...         ...        ...         ...
1684  1685          19        550   SUPER_SCM
1685  1686           1        550   ADMIN_SCM
1686  1687          19        551   ADMIN_SCM
1687  1688           8        552  ADMIN_TOKO
1688  1689           2        552   SUPER_SCM

[1689 rows x 4 columns]

### 3. _producttosupplier

In [42]:
# --- FUNGSI GENERATE _PRODUCTTOSUPPLIER ---
def generate_producttosupplier(supplier_products_df):
    """
    Mentransformasi data dari supplier_products_df menjadi format junction table Prisma:
    A (productId) dan B (supplierId).
    """

    # Ambil kolom yang dibutuhkan dan ganti nama
    producttosupplier_df = supplier_products_df[[
        'productId',
        'supplierId'
    ]].rename(columns={
        'productId': 'A', # Referensi ke products.id (BIGINT(20))
        'supplierId': 'B'  # Referensi ke suppliers.id (INT(11))
    })

    # Sesuaikan tipe data sesuai skema
    producttosupplier_df['A'] = producttosupplier_df['A'].astype(np.int64)
    # Gunakan Int64 untuk memastikan kompatibilitas dengan INT(11) dan konsistensi Pandas
    producttosupplier_df['B'] = producttosupplier_df['B'].astype(np.int64)

    return producttosupplier_df


print("Memuat data supplier_products...")
try:
    # supplier_products_df harus dimuat dari Tahap 4.2
    supplier_products_df = pd.read_csv('supplier_products.csv')
except FileNotFoundError as e:
    print(f"Error: supplier_products.csv tidak ditemukan: {e}")
    exit()

# --- EKSEKUSI FUNGSI GENERATE _PRODUCTTOSUPPLIER ---
producttosupplier_df = generate_producttosupplier(supplier_products_df)

# --- SIMPAN DAN TAMPILKAN HASIL ---
producttosupplier_df.to_csv('_producttosupplier.csv', index=False)
print(f"Data _producttosupplier.csv berhasil dibuat. Total {len(producttosupplier_df)} relasi.")

Memuat data supplier_products...
Data _producttosupplier.csv berhasil dibuat. Total 1689 relasi.

In [43]:
pd.read_csv('_producttosupplier.csv')

        A   B
0       1  14
1       1   8
2       1  18
3       1   4
4       1   9
...   ...  ..
1684  550  19
1685  550   1
1686  551  19
1687  552   8
1688  552   2

[1689 rows x 2 columns]

### 4. product_variants

In [44]:
# --- FUNGSI GENERATE PRODUCT VARIANTS ---

def generate_product_variants(products_df):
    """
    Membuat varian untuk sekitar 15% dari total produk.
    Setiap varian memiliki stok dan harga final (sementara disamakan dengan basePrice).
    """
    now = datetime.now()
    variants_data = []
    variant_id_counter = 1

    # Pilih 15% produk yang akan memiliki varian
    NUM_PRODUCTS_TO_VARIATE = int(len(products_df) * 0.15)
    products_with_variants = products_df.sample(n=NUM_PRODUCTS_TO_VARIATE, random_state=42)

    for _, product in products_with_variants.iterrows():
        product_id = product['id']
        base_price = product['basePrice']

        # Setiap produk memiliki 2 hingga 5 varian berbeda
        num_variants = random.randint(2, 5)

        for i in range(num_variants):

            # Stock: Antara 10 hingga 150
            stock = random.randint(10, 150)

            # Final Price: Untuk saat ini, asumsikan sama dengan Base Price (Harga akan disesuaikan di Tahap 4.5)
            final_price = base_price

            variants_data.append({
                'id': variant_id_counter,
                'productId': product_id, # BIGINT(20)
                'stock': stock, # INT(11)
                'finalPrice': final_price, # BIGINT(20)
                'isActive': 1,
                'createdAt': now - timedelta(days=random.randint(1, 5)),
                'updatedAt': now
            })
            variant_id_counter += 1

    variants_df = pd.DataFrame(variants_data)

    # --- SESUAIKAN TIPE DATA BIGINT(20) ---
    variants_df['id'] = variants_df['id'].astype(np.int64)
    variants_df['productId'] = variants_df['productId'].astype(np.int64)
    variants_df['finalPrice'] = variants_df['finalPrice'].astype(np.int64)

    return variants_df


# --- MEMBACA KEMBALI DATA DARI FILE CSV YANG DIBUTUHKAN ---
print("Memuat data products...")
try:
    products_df = pd.read_csv('products.csv')
except FileNotFoundError as e:
    print(f"Error: products.csv tidak ditemukan: {e}")
    exit()

# --- EKSEKUSI FUNGSI GENERATE PRODUCT VARIANTS ---
product_variants_df = generate_product_variants(products_df)

# --- SIMPAN DAN TAMPILKAN HASIL ---
product_variants_df.to_csv('product_variants.csv', index=False)
print(f"Data product_variants.csv berhasil dibuat. Total {len(product_variants_df)} varian dari {len(product_variants_df['productId'].unique())} produk.")

Memuat data products...
Data product_variants.csv berhasil dibuat. Total 269 varian dari 82 produk.

In [45]:
pd.read_csv('product_variants.csv')

,id,productId,stock,finalPrice,isActive,createdAt,updatedAt
0,1,548,40,61000,1,2025-11-05 09:33:13.014685,2025-11-08 09:33:13.014685
1,2,548,41,61000,1,2025-11-03 09:33:13.014685,2025-11-08 09:33:13.014685
2,3,548,47,61000,1,2025-11-07 09:33:13.014685,2025-11-08 09:33:13.014685
3,4,548,29,61000,1,2025-11-03 09:33:13.014685,2025-11-08 09:33:13.014685
4,5,82,138,32000,1,2025-11-04 09:33:13.014685,2025-11-08 09:33:13.014685
...,...,...,...,...,...,...,...
264,265,102,18,64000,1,2025-11-05 09:33:13.014685,2025-11-08 09:33:13.014685
265,266,102,114,64000,1,2025-11-06 09:33:13.014685,2025-11-08 09:33:13.014685
266,267,350,35,60000,1,2025-11-06 09:33:13.014685,2025-11-08 09:33:13.014685
267,268,350,140,60000,1,2025-11-07 09:33:13.014685,2025-11-08 09:33:13.014685
268,269,350,38,60000,1,2025-11-05 09:33:13.014685,2025-11-08 09:33:13.014685

### 5. product_variant_options

In [46]:
# --- FUNGSI GENERATE PRODUCT VARIANT OPTIONS ---

def generate_product_variant_options(product_variants_df, variant_options_df, variant_types_df, products_df):
    """
    Membuat relasi many-to-many antara product_variants dan variant_options.
    Sekaligus menghitung dan memperbarui finalPrice di product_variants_df.
    """
    now = datetime.now()
    variant_options_rel_data = []
    rel_id_counter = 1

    # Pre-calculated data structures
    option_type_map = variant_options_df.set_index('id')['variantTypeId'].to_dict()
    option_price_map = variant_options_df.set_index('id')['additionalPrice'].to_dict()

    # Inisialisasi dictionary untuk menyimpan update harga final
    price_updates = {}

    for _, variant in product_variants_df.iterrows():
        variant_id = variant['id']
        product_id = variant['productId']

        # Ambil base price dari produk induk
        base_price = products_df[products_df['id'] == product_id]['basePrice'].iloc[0]
        total_additional_price = 0

        # Cari semua variant types yang ada (GLOBAL dan STORE)
        available_type_ids = variant_types_df['id'].tolist()

        # Pilih 1 hingga 3 tipe varian acak yang akan dimasukkan ke varian ini
        num_types_to_use = random.randint(1, min(3, len(available_type_ids)))
        selected_type_ids = random.sample(available_type_ids, k=num_types_to_use)

        for type_id in selected_type_ids:
            # Filter opsi yang sesuai dengan variantTypeId yang dipilih
            relevant_options = variant_options_df[
                variant_options_df['variantTypeId'] == type_id
            ]['id'].tolist()

            if relevant_options:
                # Pilih satu opsi acak dari relevant options
                option_id = random.choice(relevant_options)

                # 1. Hitung harga tambahan
                additional_price = option_price_map.get(option_id, 0)
                total_additional_price += additional_price

                # 2. Buat relasi di tabel junction
                variant_options_rel_data.append({
                    'id': rel_id_counter,
                    'productVariantId': variant_id, # BIGINT(20)
                    'variantOptionId': option_id, # BIGINT(20)
                })
                rel_id_counter += 1

        # 3. Simpan update harga final (Base Price + Total Additional Price)
        price_updates[variant_id] = base_price + total_additional_price


    # --- PERBARUI FINAL PRICE DI product_variants_df ---

    # Buat salinan DataFrame untuk diperbarui
    updated_product_variants_df = product_variants_df.copy()

    # Lakukan update menggunakan map
    updated_product_variants_df['finalPrice'] = updated_product_variants_df['id'].map(price_updates).fillna(updated_product_variants_df['finalPrice'])
    updated_product_variants_df['finalPrice'] = updated_product_variants_df['finalPrice'].astype(np.int64)

    # --- FINAL DF GENERATION ---
    variant_options_rel_df = pd.DataFrame(variant_options_rel_data)

    # Sesuaikan tipe data BIGINT(20)
    variant_options_rel_df['id'] = variant_options_rel_df['id'].astype(np.int64)
    variant_options_rel_df['productVariantId'] = variant_options_rel_df['productVariantId'].astype(np.int64)
    variant_options_rel_df['variantOptionId'] = variant_options_rel_df['variantOptionId'].astype(np.int64)

    return variant_options_rel_df, updated_product_variants_df

# --- MEMBACA KEMBALI DATA DARI FILE CSV YANG DIBUTUHKAN ---
print("Memuat data varian dan produk...")
try:
    products_df = pd.read_csv('products.csv')
    product_variants_df = pd.read_csv('product_variants.csv')
    variant_types_df = pd.read_csv('variant_types.csv')
    variant_options_df = pd.read_csv('variant_options.csv')
except FileNotFoundError as e:
    print(f"Error: File CSV varian/produk tidak ditemukan: {e}")
    exit()

# --- EKSEKUSI FUNGSI GENERATE PRODUCT VARIANT OPTIONS ---
product_variant_options_df, updated_product_variants_df = generate_product_variant_options(
    product_variants_df, variant_options_df, variant_types_df, products_df
)

# --- SIMPAN DAN TAMPILKAN HASIL ---
# 1. Simpan tabel junction yang baru
product_variant_options_df.to_csv('product_variant_options.csv', index=False)
print(f"Data product_variant_options.csv berhasil dibuat. Total {len(product_variant_options_df)} relasi.")

# 2. Timpa/Update tabel product_variants dengan harga final yang benar
updated_product_variants_df.to_csv('product_variants.csv', index=False)
print("Data product_variants.csv berhasil diperbarui dengan finalPrice yang akurat.")

Memuat data varian dan produk...
Data product_variant_options.csv berhasil dibuat. Total 557 relasi.
Data product_variants.csv berhasil diperbarui dengan finalPrice yang akurat.

In [47]:
pd.read_csv('product_variant_options.csv')

      id  productVariantId  variantOptionId
0      1                 1               79
1      2                 1               62
2      3                 1               47
3      4                 2               39
4      5                 3               89
..   ...               ...              ...
552  553               268               35
553  554               268               38
554  555               269               83
555  556               269               62
556  557               269               88

[557 rows x 3 columns]

## Kelompok 5

Tahap 5: Operasional Toko (Level 4)   
Pengaturan kerja harian dan data pembelian/stok.
1. shifts: Membutuhkan userStoreId dari store_users.
2. cashier_cash: Membutuhkan shiftId, userId, dan storeId.
3. purchase_orders: Membutuhkan supplierId dan storeId.
4. purchase_order_items: Membutuhkan purchaseOrderId dan productId.
5. warehouse_stocks: Membutuhkan productId, storeId, dan purchaseOrderId (nullable).

### Read dari Kelompok 4

In [48]:
# --- MEMBACA DATA DARI FILE CSV KELOMPOK 3 & 4 ---
print("Membaca data dari file CSV untuk Tahap 5 (Operasional Toko)...")
try:
    # Data Roles (Diperlukan untuk filtering users)
    roles_df = pd.read_csv('roles.csv')

    # Data Users (Diperlukan untuk filtering store_users)
    users_df = pd.read_csv('users.csv')

    # Data Toko & Relasi Karyawan
    stores_df = pd.read_csv('stores.csv')
    store_users_df = pd.read_csv('store_users.csv')

    # Data Produk (Diperlukan untuk transaksi di Tahap 6)
    products_df = pd.read_csv('products.csv')

    print("Berhasil membaca semua file CSV yang dibutuhkan.")
except FileNotFoundError as e:
    print(f"Error: File CSV Tahap 3/4 tidak ditemukan: {e}. Mohon eksekusi tahap sebelumnya.")
    exit()

# --- INISIALISASI VARIABEL BANTU KARYAWAN ---
store_users_df['id'] = store_users_df['id'].astype(np.int64)

Membaca data dari file CSV untuk Tahap 5 (Operasional Toko)...
Berhasil membaca semua file CSV yang dibutuhkan.

### 1. shifts

In [49]:
# --- MAPPING SHIFT WAKTU NYATA ---
SHIFT_MAPPING = {
    'PAGI': {'start_hour_range': (7, 9), 'duration_range': (8, 9)},
    'SORE': {'start_hour_range': (15, 17), 'duration_range': (7, 8)},
    'MALAM': {'start_hour_range': (22, 0), 'duration_range': (7, 8)},
}

# --- FUNGSI GENERATE SHIFTS ---
def generate_shifts(store_users_df, num_shifts=30):
    """
    Membuat data dummy untuk tabel shifts, memilih secara acak dari shift Pagi, Sore, atau Malam.
    """
    now = datetime.now()
    shifts_data = []
    shift_id_counter = 1

    days_enum = ['MONDAY', 'TUESDAY', 'WEDNESDAY', 'THURSDAY', 'FRIDAY', 'SATURDAY', 'SUNDAY']
    active_user_store_ids = store_users_df[store_users_df['status'] == 'ACTIVE']['id'].tolist()

    if not active_user_store_ids:
        print("Peringatan: Tidak ada store_users yang aktif, tidak dapat membuat shift.")
        return pd.DataFrame(shifts_data)

    has_open_shift = False

    # Kumpulan shift yang harus dibuat (untuk memastikan keragaman)
    shift_types = list(SHIFT_MAPPING.keys()) * (num_shifts // 3)
    if num_shifts % 3 != 0:
        shift_types.extend(random.sample(list(SHIFT_MAPPING.keys()), k=num_shifts % 3))
    random.shuffle(shift_types)

    for i in range(num_shifts):
        user_store_id = random.choice(active_user_store_ids)
        shift_type = shift_types[i]
        shift_config = SHIFT_MAPPING[shift_type]

        # 1. Tentukan Waktu Mulai (Acak dalam 10 hari terakhir)
        if shift_type == 'MALAM':
            # Untuk malam (22.00-00.00), atur waktu mulai ke hari sebelumnya
            start_hour = random.randint(shift_config['start_hour_range'][0], 23) if shift_config['start_hour_range'][1] == 0 else random.randint(*shift_config['start_hour_range'])
            start_day_offset = random.randint(1, 10) # 1-10 hari yang lalu
            shift_start_base = now - timedelta(days=start_day_offset)
            shift_start_date = shift_start_base.replace(hour=start_hour, minute=random.randint(0, 59), second=0, microsecond=0)
        else:
            # Shift Pagi/Sore
            start_hour = random.randint(*shift_config['start_hour_range'])
            shift_start_base = now - timedelta(days=random.randint(0, 9))
            shift_start_date = shift_start_base.replace(hour=start_hour, minute=random.randint(0, 59), second=0, microsecond=0)

        # 2. Tentukan Durasi & Waktu Selesai
        duration_hours = random.randint(*shift_config['duration_range'])
        shift_end = shift_start_date + timedelta(hours=duration_hours)
        status = 'CLOSED'

        # 3. Logika Shift Terkini/Masa Depan
        if i == 0 and not has_open_shift:
            # Shift AKTIF/OPENED (Hanya 1)
            status = 'OPENED'
            shift_end = None
            has_open_shift = True
        elif random.random() < 0.15:
            # Shift PENDING (Jadwal masa depan)
            status = 'PENDING'
            shift_start_date = now + timedelta(hours=random.randint(1, 24))
            shift_end = None

        # Tentukan hari (sesuai ENUM)
        day_of_week = shift_start_date.weekday()
        day_name = days_enum[day_of_week]

        shifts_data.append({
            'id': shift_id_counter,
            'shiftStart': shift_start_date,
            'shiftEnd': shift_end,
            'days': day_name,
            'cashStatus': status,
            'userStoreId': user_store_id,
            'createdAt': shift_start_date,
            'updatedAt': now
        })
        shift_id_counter += 1

    shifts_df = pd.DataFrame(shifts_data)

    # Sesuaikan tipe data
    shifts_df['id'] = shifts_df['id'].astype(np.int64)
    shifts_df['userStoreId'] = shifts_df['userStoreId'].astype(np.int64)

    return shifts_df

# --- MEMBACA KEMBALI DATA DARI FILE CSV YANG DIBUTUHKAN ---
print("Memuat data store_users...")
try:
    store_users_df = pd.read_csv('store_users.csv')
except FileNotFoundError as e:
    print(f"Error: store_users.csv tidak ditemukan: {e}")
    exit()

# --- EKSEKUSI FUNGSI GENERATE SHIFTS ---
shifts_df = generate_shifts(store_users_df)

# --- SIMPAN DAN TAMPILKAN HASIL ---
shifts_df.to_csv('shifts.csv', index=False)
print(f"Data shifts.csv berhasil dibuat. Total {len(shifts_df)} shift dengan pembagian waktu Pagi/Sore/Malam.")

Memuat data store_users...
Data shifts.csv berhasil dibuat. Total 30 shift dengan pembagian waktu Pagi/Sore/Malam.

In [50]:
pd.read_csv('shifts.csv')

,id,shiftStart,shiftEnd,days,cashStatus,userStoreId,createdAt,updatedAt
0,1,2025-11-02 23:24:00.000000,NaN,SUNDAY,OPENED,17,2025-11-02 23:24:00.000000,2025-11-08 09:33:16.507185
1,2,2025-11-04 08:55:00.000000,2025-11-04 16:55:00,TUESDAY,CLOSED,6,2025-11-04 08:55:00.000000,2025-11-08 09:33:16.507185
2,3,2025-11-07 23:40:00.000000,2025-11-08 06:40:00,FRIDAY,CLOSED,4,2025-11-07 23:40:00.000000,2025-11-08 09:33:16.507185
3,4,2025-11-09 03:33:16.507185,NaN,SUNDAY,PENDING,7,2025-11-09 03:33:16.507185,2025-11-08 09:33:16.507185
4,5,2025-11-09 01:33:16.507185,NaN,SUNDAY,PENDING,14,2025-11-09 01:33:16.507185,2025-11-08 09:33:16.507185
5,6,2025-11-04 09:44:00.000000,2025-11-04 18:44:00,TUESDAY,CLOSED,6,2025-11-04 09:44:00.000000,2025-11-08 09:33:16.507185
6,7,2025-11-07 08:44:00.000000,2025-11-07 16:44:00,FRIDAY,CLOSED,3,2025-11-07 08:44:00.000000,2025-11-08 09:33:16.507185
7,8,2025-11-06 17:20:00.000000,2025-11-07 01:20:00,THURSDAY,CLOSED,14,2025-11-06 17:20:00.000000,2025-11-08 09:33:16.507185
8,9,2025-10-31 22:50:00.000000,2025-11-01 06:50:00,FRIDAY,CLOSED,11,2025-10-31 22:50:00.000000,2025-11-08 09:33:16.507185
9,10,2025-11-07 23:46:00.000000,2025-11-08 07:46:00,FRIDAY,CLOSED,8,2025-11-07 23:46:00.000000,2025-11-08 09:33:16.507185
10,11,2025-11-06 07:25:00.000000,2025-11-06 15:25:00,THURSDAY,CLOSED,17,2025-11-06 07:25:00.000000,2025-11-08 09:33:16.507185
11,12,2025-11-02 15:03:00.000000,2025-11-02 22:03:00,SUNDAY,CLOSED,15,2025-11-02 15:03:00.000000,2025-11-08 09:33:16.507185
12,13,2025-10-30 09:32:00.000000,2025-10-30 18:32:00,THURSDAY,CLOSED,24,2025-10-30 09:32:00.000000,2025-11-08 09:33:16.507185
13,14,2025-11-02 15:29:00.000000,2025-11-02 23:29:00,SUNDAY,CLOSED,5,2025-11-02 15:29:00.000000,2025-11-08 09:33:16.507185
14,15,2025-11-06 22:23:00.000000,2025-11-07 06:23:00,THURSDAY,CLOSED,6,2025-11-06 22:23:00.000000,2025-11-08 09:33:16.507185
15,16,2025-10-31 23:01:00.000000,2025-11-01 07:01:00,FRIDAY,CLOSED,3,2025-10-31 23:01:00.000000,2025-11-08 09:33:16.507185
16,17,2025-11-01 17:18:00.000000,2025-11-02 00:18:00,SATURDAY,CLOSED,18,2025-11-01 17:18:00.000000,2025-11-08 09:33:16.507185
17,18,2025-10-30 17:34:00.000000,2025-10-31 01:34:00,THURSDAY,CLOSED,4,2025-10-30 17:34:00.000000,2025-11-08 09:33:16.507185
18,19,2025-11-09 01:33:16.507185,NaN,SUNDAY,PENDING,16,2025-11-09 01:33:16.507185,2025-11-08 09:33:16.507185
19,20,2025-11-01 22:07:00.000000,2025-11-02 06:07:00,SATURDAY,CLOSED,17,2025-11-01 22:07:00.000000,2025-11-08 09:33:16.507185
20,21,2025-11-05 16:07:00.000000,2025-11-05 23:07:00,WEDNESDAY,CLOSED,4,2025-11-05 16:07:00.000000,2025-11-08 09:33:16.507185
21,22,2025-10-30 16:27:00.000000,2025-10-30 23:27:00,THURSDAY,CLOSED,20,2025-10-30 16:27:00.000000,2025-11-08 09:33:16.507185
22,23,2025-11-02 16:34:00.000000,2025-11-03 00:34:00,SUNDAY,CLOSED,7,2025-11-02 16:34:00.000000,2025-11-08 09:33:16.507185
23,24,2025-11-07 09:41:00.000000,2025-11-07 18:41:00,FRIDAY,CLOSED,20,2025-11-07 09:41:00.000000,2025-11-08 09:33:16.507185
24,25,2025-11-05 23:09:00.000000,2025-11-06 06:09:00,WEDNESDAY,CLOSED,3,2025-11-05 23:09:00.000000,2025-11-08 09:33:16.507185
25,26,2025-11-06 08:39:00.000000,2025-11-06 17:39:00,THURSDAY,CLOSED,6,2025-11-06 08:39:00.000000,2025-11-08 09:33:16.507185
26,27,2025-11-08 08:05:00.000000,2025-11-08 17:05:00,SATURDAY,CLOSED,6,2025-11-08 08:05:00.000000,2025-11-08 09:33:16.507185
27,28,2025-10-30 09:14:00.000000,2025-10-30 18:14:00,THURSDAY,CLOSED,14,2025-10-30 09:14:00.000000,2025-11-08 09:33:16.507185
28,29,2025-11-02 22:53:00.000000,2025-11-03 05:53:00,SUNDAY,CLOSED,13,2025-11-02 22:53:00.000000,2025-11-08 09:33:16.507185
29,30,2025-11-05 08:26:00.000000,2025-11-05 16:26:00,WEDNESDAY,CLOSED,6,2025-11-05 08:26:00.000000,2025-11-08 09:33:16.507185

### 2. cashier_cash

In [51]:
# --- FUNGSI GENERATE CASHIER CASH ---
def generate_cashier_cash(shifts_df, stores_df, users_df, store_users_df):
    """
    Membuat data dummy untuk tabel cashier_cash, hanya untuk shift CLOSED dan OPENED.
    """
    now = datetime.now()
    cashier_cash_data = []
    cash_id_counter = 1

    # Filter shift yang relevan
    relevant_shifts_df = shifts_df[shifts_df['cashStatus'].isin(['CLOSED', 'OPENED'])].copy()

    # Gabungkan data untuk mendapatkan storeId dan userId
    shifts_with_store_user = relevant_shifts_df.merge(
        store_users_df[['id', 'userId', 'storeId']],
        left_on='userStoreId',
        right_on='id',
        suffixes=('_shift', '_su')
    )

    # Rentang kas awal (500.000 hingga 1.000.000, dibulatkan ke 50.000)
    initial_cash_range = [i * 50000 for i in range(10, 21)]

    for _, shift in shifts_with_store_user.iterrows():
        shift_id = shift['id_shift']
        store_id = shift['storeId']
        user_id = shift['userId']
        status = shift['cashStatus']

        initial_cash = random.choice(initial_cash_range)
        final_cash = None
        system_cash = None
        cash_difference = None
        is_balanced = None
        notes = None

        if status == 'CLOSED':
            # --- SKENARIO SHIFT SELESAI (CLOSED) ---

            # 1. Tentukan Uang Menurut Sistem (Simulasi Transaksi)
            system_cash_increase = random.randint(200000, 1500000)
            system_cash = initial_cash + system_cash_increase

            # 2. Tentukan Keseimbangan Kas
            if random.random() < 0.85:
                # 85% Shift Seimbang
                is_balanced = 1 # True
                cash_difference = 0
                final_cash = system_cash
                notes = random.choice([None, "Kasir melaporkan tidak ada kendala.", "Tutup kas sesuai data sistem."])
            else:
                # 15% Shift Tidak Seimbang (Kurang atau Lebih)
                is_balanced = 0 # False
                selisih = random.choice([
                    random.randint(-50000, -1000),
                    random.randint(1000, 50000)
                ])
                selisih = round(selisih, -2)

                cash_difference = selisih
                final_cash = system_cash + cash_difference

                notes = f"Terdapat selisih kas sebesar Rp{abs(selisih)}. Dicurigai karena kesalahan input kembalian."
                if cash_difference > 0:
                     notes = "Terdapat kelebihan kas. Dicurigai karena kasir salah memberikan kembalian."

            final_cash = final_cash if final_cash is not None else None

        elif status == 'OPENED':
            # --- SKENARIO SHIFT AKTIF (OPENED) ---
            notes = "Shift sedang berjalan."


        cashier_cash_data.append({
            'id': cash_id_counter,
            'shiftId': shift_id,
            'userId': user_id,
            'storeId': store_id,
            'initialCash': initial_cash,
            'finalCash': final_cash,
            'systemCash': system_cash,
            'cashDifference': cash_difference,
            'notes': notes,
            'isBalanced': is_balanced,
            'createdAt': shift['createdAt'],
            'updatedAt': now
        })
        cash_id_counter += 1

    cashier_cash_df = pd.DataFrame(cashier_cash_data)

    # Sesuaikan tipe data
    cashier_cash_df['id'] = cashier_cash_df['id'].astype(np.int64)
    cashier_cash_df['userId'] = cashier_cash_df['userId'].astype(np.int64)
    cashier_cash_df['finalCash'] = cashier_cash_df['finalCash'].astype('Int64')
    cashier_cash_df['systemCash'] = cashier_cash_df['systemCash'].astype('Int64')
    cashier_cash_df['cashDifference'] = cashier_cash_df['cashDifference'].astype('Int64')
    cashier_cash_df['isBalanced'] = cashier_cash_df['isBalanced'].astype('Int64')

    return cashier_cash_df

# --- MEMBACA KEMBALI DATA DARI FILE CSV YANG DIBUTUHKAN ---
print("Memuat data shifts, stores, users, dan store_users...")
try:
    shifts_df = pd.read_csv('shifts.csv')
    stores_df = pd.read_csv('stores.csv')
    users_df = pd.read_csv('users.csv')
    store_users_df = pd.read_csv('store_users.csv')
except FileNotFoundError as e:
    print(f"Error: File CSV shifts/store/user tidak ditemukan: {e}")
    exit()

# --- EKSEKUSI FUNGSI GENERATE CASHIER CASH ---
cashier_cash_df = generate_cashier_cash(shifts_df, stores_df, users_df, store_users_df)

# --- SIMPAN DAN TAMPILKAN HASIL ---
cashier_cash_df.to_csv('cashier_cash.csv', index=False)
print(f"Data cashier_cash.csv berhasil dibuat. Total {len(cashier_cash_df)} entitas kas.")

Memuat data shifts, stores, users, dan store_users...
Data cashier_cash.csv berhasil dibuat. Total 27 entitas kas.

In [52]:
pd.read_csv('cashier_cash.csv')

,id,shiftId,userId,storeId,initialCash,finalCash,systemCash,cashDifference,notes,isBalanced,createdAt,updatedAt
0,1,1,14,9,850000,NaN,NaN,NaN,Shift sedang berjalan.,NaN,2025-11-02 23:24:00.000000,2025-11-08 09:33:16.577402
1,2,2,17,3,550000,1144847.0,1144847.0,0.0,Kasir melaporkan tidak ada kendala.,1.0,2025-11-04 08:55:00.000000,2025-11-08 09:33:16.577402
2,3,3,25,2,650000,1860883.0,1860883.0,0.0,Kasir melaporkan tidak ada kendala.,1.0,2025-11-07 23:40:00.000000,2025-11-08 09:33:16.577402
3,4,6,17,3,850000,2048115.0,2048115.0,0.0,NaN,1.0,2025-11-04 09:44:00.000000,2025-11-08 09:33:16.577402
4,5,7,9,2,900000,1840586.0,1840586.0,0.0,NaN,1.0,2025-11-07 08:44:00.000000,2025-11-08 09:33:16.577402
5,6,8,18,7,950000,1169629.0,1169629.0,0.0,Kasir melaporkan tidak ada kendala.,1.0,2025-11-06 17:20:00.000000,2025-11-08 09:33:16.577402
6,7,9,12,6,1000000,2367254.0,2367254.0,0.0,Tutup kas sesuai data sistem.,1.0,2025-10-31 22:50:00.000000,2025-11-08 09:33:16.577402
7,8,10,23,4,800000,1269413.0,1269413.0,0.0,Kasir melaporkan tidak ada kendala.,1.0,2025-11-07 23:46:00.000000,2025-11-08 09:33:16.577402
8,9,11,14,9,500000,1414009.0,1414009.0,0.0,NaN,1.0,2025-11-06 07:25:00.000000,2025-11-08 09:33:16.577402
9,10,12,13,8,700000,1068616.0,1068616.0,0.0,Kasir melaporkan tidak ada kendala.,1.0,2025-11-02 15:03:00.000000,2025-11-08 09:33:16.577402
10,11,13,9,7,750000,1725776.0,1725776.0,0.0,Kasir melaporkan tidak ada kendala.,1.0,2025-10-30 09:32:00.000000,2025-11-08 09:33:16.577402
11,12,14,11,3,900000,1404660.0,1404660.0,0.0,Kasir melaporkan tidak ada kendala.,1.0,2025-11-02 15:29:00.000000,2025-11-08 09:33:16.577402
12,13,15,17,3,900000,2305610.0,2305610.0,0.0,Kasir melaporkan tidak ada kendala.,1.0,2025-11-06 22:23:00.000000,2025-11-08 09:33:16.577402
13,14,16,9,2,700000,1092088.0,1092088.0,0.0,Tutup kas sesuai data sistem.,1.0,2025-10-31 23:01:00.000000,2025-11-08 09:33:16.577402
14,15,17,19,9,650000,2132228.0,2132228.0,0.0,NaN,1.0,2025-11-01 17:18:00.000000,2025-11-08 09:33:16.577402
15,16,18,25,2,650000,2076478.0,2076478.0,0.0,Kasir melaporkan tidak ada kendala.,1.0,2025-10-30 17:34:00.000000,2025-11-08 09:33:16.577402
16,17,20,14,9,700000,2048593.0,2048593.0,0.0,Kasir melaporkan tidak ada kendala.,1.0,2025-11-01 22:07:00.000000,2025-11-08 09:33:16.577402
17,18,21,25,2,850000,2240437.0,2240437.0,0.0,Kasir melaporkan tidak ada kendala.,1.0,2025-11-05 16:07:00.000000,2025-11-08 09:33:16.577402
18,19,22,26,10,850000,1241074.0,1261774.0,-20700.0,Terdapat selisih kas sebesar Rp20700. Dicuriga...,0.0,2025-10-30 16:27:00.000000,2025-11-08 09:33:16.577402
19,20,23,15,4,900000,2065751.0,2065751.0,0.0,Kasir melaporkan tidak ada kendala.,1.0,2025-11-02 16:34:00.000000,2025-11-08 09:33:16.577402
20,21,24,26,10,850000,1616442.0,1616442.0,0.0,Kasir melaporkan tidak ada kendala.,1.0,2025-11-07 09:41:00.000000,2025-11-08 09:33:16.577402
21,22,25,9,2,1000000,1550997.0,1550997.0,0.0,NaN,1.0,2025-11-05 23:09:00.000000,2025-11-08 09:33:16.577402
22,23,26,17,3,500000,1405391.0,1405391.0,0.0,Kasir melaporkan tidak ada kendala.,1.0,2025-11-06 08:39:00.000000,2025-11-08 09:33:16.577402
23,24,27,17,3,550000,1838580.0,1838580.0,0.0,NaN,1.0,2025-11-08 08:05:00.000000,2025-11-08 09:33:16.577402
24,25,28,18,7,550000,1045929.0,1045929.0,0.0,NaN,1.0,2025-10-30 09:14:00.000000,2025-11-08 09:33:16.577402
25,26,29,8,7,850000,2309710.0,2309710.0,0.0,Kasir melaporkan tidak ada kendala.,1.0,2025-11-02 22:53:00.000000,2025-11-08 09:33:16.577402
26,27,30,17,3,700000,949696.0,949696.0,0.0,NaN,1.0,2025-11-05 08:26:00.000000,2025-11-08 09:33:16.577402

### 3. purchase_orders

In [53]:
# --- FUNGSI GENERATE PURCHASE ORDERS ---

def generate_purchase_orders(suppliers_df, stores_df, num_orders=60):
    """
    Membuat data dummy untuk tabel purchase_orders.
    """
    now = datetime.now()
    purchase_orders_data = []
    order_id_counter = 1

    supplier_ids = suppliers_df['id'].tolist()
    store_ids = stores_df['id'].tolist()

    # Status ENUM: PENDING, SUCCESS, DELIVERED, CANCELED
    status_distribution = {
        'DELIVERED': 0.60,  # Mayoritas: Sudah diterima toko
        'SUCCESS': 0.20,    # Sudah dikirim/Diproses
        'PENDING': 0.10,    # Masih menunggu konfirmasi
        'CANCELED': 0.10    # Dibatalkan
    }

    for i in range(num_orders):
        supplier_id = random.choice(supplier_ids)
        store_id = random.choice(store_ids)

        # Tentukan orderDate acak dalam 6 bulan terakhir
        order_date = now - timedelta(days=random.randint(1, 180),
                                     hours=random.randint(1, 24),
                                     minutes=random.randint(1, 60))

        # Tentukan status
        rand_val = random.random()
        status = 'DELIVERED'
        if rand_val < status_distribution['CANCELED']:
            status = 'CANCELED'
        elif rand_val < status_distribution['CANCELED'] + status_distribution['PENDING']:
            status = 'PENDING'
        elif rand_val < status_distribution['CANCELED'] + status_distribution['PENDING'] + status_distribution['SUCCESS']:
            status = 'SUCCESS'

        # totalAmount akan diisi 0 dulu dan akan dihitung di Tahap 5.4
        total_amount = 0

        purchase_orders_data.append({
            'id': order_id_counter,
            'supplierId': supplier_id, # INT(11)
            'storeId': store_id,       # INT(11)
            'totalAmount': total_amount, # INT(11) (Update di Tahap 5.4)
            'status': status,          # ENUM
            'orderDate': order_date,   # DATETIME(3)
        })
        order_id_counter += 1

    purchase_orders_df = pd.DataFrame(purchase_orders_data)

    # Sesuaikan tipe data
    purchase_orders_df['id'] = purchase_orders_df['id'].astype(np.int64)
    purchase_orders_df['supplierId'] = purchase_orders_df['supplierId'].astype(np.int64)
    purchase_orders_df['storeId'] = purchase_orders_df['storeId'].astype(np.int64)

    return purchase_orders_df


# --- MEMBACA KEMBALI DATA DARI FILE CSV YANG DIBUTUHKAN ---
print("Memuat data suppliers dan stores...")
try:
    # Asumsi suppliers_df dan stores_df sudah dimuat.
    suppliers_df = pd.read_csv('suppliers.csv')
    stores_df = pd.read_csv('stores.csv')
except FileNotFoundError as e:
    print(f"Error: File CSV suppliers/stores tidak ditemukan: {e}")
    exit()

# --- EKSEKUSI FUNGSI GENERATE PURCHASE ORDERS ---
purchase_orders_df = generate_purchase_orders(suppliers_df, stores_df)

# --- SIMPAN DAN TAMPILKAN HASIL ---
purchase_orders_df.to_csv('purchase_orders.csv', index=False)
print(f"Data purchase_orders.csv berhasil dibuat. Total {len(purchase_orders_df)} pesanan pembelian.")

Memuat data suppliers dan stores...
Data purchase_orders.csv berhasil dibuat. Total 60 pesanan pembelian.

In [54]:
pd.read_csv('purchase_orders.csv')

,id,supplierId,storeId,totalAmount,status,orderDate
0,1,11,9,0,DELIVERED,2025-08-26 15:48:16.662971
1,2,7,7,0,DELIVERED,2025-09-10 09:32:16.662971
2,3,2,2,0,SUCCESS,2025-05-16 07:17:16.662971
3,4,2,10,0,DELIVERED,2025-09-04 01:03:16.662971
4,5,2,9,0,SUCCESS,2025-07-11 07:15:16.662971
5,6,3,4,0,PENDING,2025-11-05 07:44:16.662971
6,7,13,7,0,DELIVERED,2025-09-15 09:59:16.662971
7,8,10,7,0,DELIVERED,2025-09-15 13:25:16.662971
8,9,10,10,0,DELIVERED,2025-09-26 06:42:16.662971
9,10,7,2,0,DELIVERED,2025-05-21 23:34:16.662971
10,11,8,6,0,DELIVERED,2025-07-05 02:43:16.662971
11,12,2,7,0,DELIVERED,2025-08-27 12:12:16.662971
12,13,9,8,0,CANCELED,2025-11-07 01:40:16.662971
13,14,15,7,0,DELIVERED,2025-06-10 01:15:16.662971
14,15,2,2,0,DELIVERED,2025-09-23 15:04:16.662971
15,16,10,10,0,DELIVERED,2025-07-27 18:08:16.662971
16,17,17,2,0,DELIVERED,2025-09-17 11:32:16.662971
17,18,19,6,0,CANCELED,2025-10-18 02:02:16.662971
18,19,16,5,0,PENDING,2025-10-06 07:53:16.662971
19,20,8,5,0,DELIVERED,2025-07-25 14:01:16.662971
20,21,20,8,0,DELIVERED,2025-09-03 10:53:16.662971
21,22,3,2,0,SUCCESS,2025-09-23 02:33:16.662971
22,23,13,5,0,DELIVERED,2025-10-08 06:54:16.662971
23,24,7,7,0,DELIVERED,2025-05-23 23:02:16.662971
24,25,5,2,0,SUCCESS,2025-06-28 05:32:16.662971
25,26,19,9,0,SUCCESS,2025-09-30 23:04:16.662971
26,27,5,8,0,DELIVERED,2025-07-20 10:34:16.662971
27,28,6,7,0,DELIVERED,2025-06-19 11:07:16.662971
28,29,13,5,0,DELIVERED,2025-06-03 23:23:16.662971
29,30,1,1,0,SUCCESS,2025-07-09 14:55:16.662971
30,31,14,5,0,PENDING,2025-08-01 15:15:16.662971
31,32,13,1,0,DELIVERED,2025-08-25 06:12:16.662971
32,33,14,1,0,CANCELED,2025-08-25 07:12:16.662971
33,34,11,2,0,CANCELED,2025-06-10 01:47:16.662971
34,35,14,4,0,DELIVERED,2025-09-08 13:23:16.662971
35,36,1,3,0,DELIVERED,2025-08-06 14:16:16.662971
36,37,15,6,0,CANCELED,2025-05-16 05:48:16.662971
37,38,4,10,0,DELIVERED,2025-10-04 14:01:16.662971
38,39,4,8,0,DELIVERED,2025-09-16 15:34:16.662971
39,40,11,2,0,DELIVERED,2025-07-05 08:48:16.662971
40,41,5,8,0,CANCELED,2025-11-06 07:46:16.662971
41,42,15,1,0,DELIVERED,2025-07-03 02:08:16.662971
42,43,13,7,0,DELIVERED,2025-08-13 22:58:16.662971
43,44,20,3,0,SUCCESS,2025-06-04 08:29:16.662971
44,45,5,2,0,DELIVERED,2025-07-27 03:09:16.662971
45,46,12,7,0,DELIVERED,2025-05-19 14:15:16.662971
46,47,6,6,0,DELIVERED,2025-07-05 21:04:16.662971
47,48,1,3,0,DELIVERED,2025-07-17 07:40:16.662971
48,49,19,2,0,SUCCESS,2025-10-24 06:28:16.662971
49,50,15,4,0,DELIVERED,2025-07-27 10:58:16.662971
50,51,18,6,0,DELIVERED,2025-09-18 20:48:16.662971
51,52,10,10,0,DELIVERED,2025-08-31 07:46:16.662971
52,53,5,6,0,DELIVERED,2025-09-08 17:03:16.662971
53,54,5,3,0,DELIVERED,2025-08-23 14:41:16.662971
54,55,4,3,0,CANCELED,2025-06-24 12:52:16.662971
55,56,16,9,0,SUCCESS,2025-06-07 12:41:16.662971
56,57,18,3,0,DELIVERED,2025-09-20 17:22:16.662971
57,58,13,7,0,DELIVERED,2025-05-18 11:35:16.662971
58,59,17,2,0,DELIVERED,2025-08-20 08:21:16.662971
59,60,12,8,0,DELIVERED,2025-09-08 16:05:16.662971

### 4. purchase_order_items

In [55]:
# --- FUNGSI GENERATE PURCHASE ORDER ITEMS ---

def generate_purchase_order_items(purchase_orders_df, products_df, product_categories_df):
    """
    Membuat detail item untuk setiap PO, menghitung totalAmount, dan menggunakan
    product_categories_df untuk logika expiredDate yang benar.
    """
    now = datetime.now()
    po_items_data = []
    item_id_counter = 1

    relevant_statuses = ['SUCCESS', 'DELIVERED', 'PENDING']
    relevant_pos_df = purchase_orders_df[
        purchase_orders_df['status'].isin(relevant_statuses)
    ].copy()

    all_product_ids = products_df['id'].tolist()
    product_map = products_df.set_index('id').to_dict('index')
    po_total_amounts = {}

    # --- LOGIKA KATEGORI KADALUARSA ---
    # 1. Buat Map Product ID -> Category ID
    product_id_to_category_id = products_df.set_index('id')['productCategoryId'].to_dict()
    # 2. Buat Map Category ID -> Category Name
    category_id_to_name = product_categories_df.set_index('id')['name'].to_dict()

    # Daftar Kategori yang memerlukan Tanggal Kedaluwarsa
    EXPIRE_DATE_CATEGORIES = [
        'Makanan Utama', 'Camilan dan Jajanan', 'Makanan Beku', 'Roti dan Kue', 'Es Krim',
        'Minuman Berbasis Kopi', 'Minuman Berbasis Teh', 'Minuman Berbasis Cokelat',
        'Minuman Kesehatan', 'Obat Resep & Obat Bebas', 'Suplemen dan Vitamin',
        'Alat Medis', 'Popok dan Produk Kebersihan', 'Makanan Bayi dan Susu Formula',
        'Perawatan Diri', 'Obat-obatan dan P3K', 'Makanan Hewan Peliharaan'
    ]

    for _, po in relevant_pos_df.iterrows():
        po_id = po['id']
        po_total = 0

        # Pilih Produk untuk PO ini (2 hingga 6 items)
        num_items = random.randint(2, 6)
        selected_product_ids = random.sample(all_product_ids, k=min(num_items, len(all_product_ids)))

        for product_id in selected_product_ids:
            product_data = product_map[product_id]

            # Mendapatkan Nama Kategori
            category_id = product_id_to_category_id[product_id]
            category_name = category_id_to_name.get(category_id)

            quantity = random.randint(20, 200)

            # Harga Modal (Capital Price): 20% - 40% di bawah Base Price (Harga Jual)
            discount_margin = random.uniform(0.20, 0.40)
            capital_price = int(product_data['basePrice'] * (1 - discount_margin))
            capital_price = round(capital_price, -3)

            # Logika Tanggal Kedaluwarsa
            expired_date = None
            if category_name in EXPIRE_DATE_CATEGORIES:
                # Kadaluarsa 3-18 bulan dari sekarang
                months_ahead = random.randint(3, 18)
                expired_date = now + relativedelta(months=months_ahead)

            subtotal = quantity * capital_price
            po_total += subtotal

            po_items_data.append({
                'id': item_id_counter,
                'purchaseOrderId': po_id,
                'productId': product_id,
                'quantity': quantity,
                'capitalPrice': capital_price,
                'expiredDate': expired_date,
            })
            item_id_counter += 1

        # Simpan Total Amount PO
        po_total_amounts[po_id] = po_total

    po_items_df = pd.DataFrame(po_items_data)
    po_items_df['productId'] = po_items_df['productId'].astype(np.int64)
    po_items_df['capitalPrice'] = po_items_df['capitalPrice'].astype(np.int64)

    return po_items_df, po_total_amounts

# --- EKSEKUSI ---

# 1. MEMBACA DATA
print("Memuat data purchase_orders, products, dan product_categories...")
try:
    purchase_orders_df = pd.read_csv('purchase_orders.csv')
    products_df = pd.read_csv('products.csv')
    product_categories_df = pd.read_csv('product_categories.csv')
except FileNotFoundError as e:
    print(f"Error: File CSV tidak ditemukan: {e}")
    exit()

# 2. GENERATE ITEM DAN HITUNG TOTAL
po_items_df, po_totals = generate_purchase_order_items(purchase_orders_df, products_df, product_categories_df)

# 3. PERBARUI totalAmount DI purchase_orders_df
updated_po_df = purchase_orders_df.copy()
updated_po_df['totalAmount'] = updated_po_df['id'].map(po_totals).fillna(0)
updated_po_df['totalAmount'] = updated_po_df['totalAmount'].astype(np.int64)

# 4. SIMPAN DATA
po_items_df.to_csv('purchase_order_items.csv', index=False)
updated_po_df.to_csv('purchase_orders.csv', index=False)

print(f"\nData purchase_order_items.csv berhasil dibuat. Total {len(po_items_df)} item.")
print("Data purchase_orders.csv berhasil diperbarui dengan totalAmount yang benar.")

Memuat data purchase_orders, products, dan product_categories...

Data purchase_order_items.csv berhasil dibuat. Total 212 item.
Data purchase_orders.csv berhasil diperbarui dengan totalAmount yang benar.

In [56]:
print("\n--- 1. Purchase Order Items (Detail PO) ---")
print(po_items_df)

--- 1. Purchase Order Items (Detail PO) ---
      id  purchaseOrderId  productId  quantity  capitalPrice  \
0      1                1        344       144         28000
1      2                1        230       178         48000
2      3                1          2       162         29000
3      4                2        218       189         23000
4      5                2        369       193         36000
..   ...              ...        ...       ...           ...
207  208               59         39       132         17000
208  209               59        373       197         36000
209  210               59        300        22         11000
210  211               60        205        43         11000
211  212               60        307       186         25000

                   expiredDate
0                          NaT
1                          NaT
2   2027-04-08 09:33:16.724214
3                          NaT
4                          NaT
..                         ...
207 2026-11-08 09:33:16.724214
208                        NaT
209                        NaT
210                        NaT
211                        NaT

[212 rows x 6 columns]

In [57]:
print("\n--- 2. Purchase Orders (Total Amount sudah terisi) ---")
print(updated_po_df)

--- 2. Purchase Orders (Total Amount sudah terisi) ---
    id  supplierId  storeId  totalAmount     status  \
0    1          11        9     17274000  DELIVERED
1    2           7        7     13973000  DELIVERED
2    3           2        2     12034000    SUCCESS
3    4           2       10      9908000  DELIVERED
4    5           2        9      4245000    SUCCESS
5    6           3        4     13584000    PENDING
6    7          13        7      6122000  DELIVERED
7    8          10        7      7707000  DELIVERED
8    9          10       10      6870000  DELIVERED
9   10           7        2     22562000  DELIVERED
10  11           8        6      7314000  DELIVERED
11  12           2        7      2462000  DELIVERED
12  13           9        8            0   CANCELED
13  14          15        7      4561000  DELIVERED
14  15           2        2      2720000  DELIVERED
15  16          10       10     11655000  DELIVERED
16  17          17        2      6778000  DELIVERED
17  18          19        6            0   CANCELED
18  19          16        5      6166000    PENDING
19  20           8        5      6545000  DELIVERED
20  21          20        8     17230000  DELIVERED
21  22           3        2      8975000    SUCCESS
22  23          13        5      3630000  DELIVERED
23  24           7        7     10331000  DELIVERED
24  25           5        2      5794000    SUCCESS
25  26          19        9      8959000    SUCCESS
26  27           5        8     11566000  DELIVERED
27  28           6        7      9146000  DELIVERED
28  29          13        5     10305000  DELIVERED
29  30           1        1      7868000    SUCCESS
30  31          14        5      9629000    PENDING
31  32          13        1     17314000  DELIVERED
32  33          14        1            0   CANCELED
33  34          11        2            0   CANCELED
34  35          14        4      2298000  DELIVERED
35  36           1        3     19280000  DELIVERED
36  37          15        6            0   CANCELED
37  38           4       10     18975000  DELIVERED
38  39           4        8      8971000  DELIVERED
39  40          11        2      7205000  DELIVERED
40  41           5        8            0   CANCELED
41  42          15        1     11029000  DELIVERED
42  43          13        7     22333000  DELIVERED
43  44          20        3     17270000    SUCCESS
44  45           5        2     13476000  DELIVERED
45  46          12        7     22306000  DELIVERED
46  47           6        6      6610000  DELIVERED
47  48           1        3      9834000  DELIVERED
48  49          19        2     17999000    SUCCESS
49  50          15        4      1910000  DELIVERED
50  51          18        6     16696000  DELIVERED
51  52          10       10     15520000  DELIVERED
52  53           5        6     20269000  DELIVERED
53  54           5        3     16232000  DELIVERED
54  55           4        3            0   CANCELED
55  56          16        9     13288000    SUCCESS
56  57          18        3      4002000  DELIVERED
57  58          13        7     28602000  DELIVERED
58  59          17        2     20962000  DELIVERED
59  60          12        8      5123000  DELIVERED

                     orderDate
0   2025-08-26 15:48:16.662971
1   2025-09-10 09:32:16.662971
2   2025-05-16 07:17:16.662971
3   2025-09-04 01:03:16.662971
4   2025-07-11 07:15:16.662971
5   2025-11-05 07:44:16.662971
6   2025-09-15 09:59:16.662971
7   2025-09-15 13:25:16.662971
8   2025-09-26 06:42:16.662971
9   2025-05-21 23:34:16.662971
10  2025-07-05 02:43:16.662971
11  2025-08-27 12:12:16.662971
12  2025-11-07 01:40:16.662971
13  2025-06-10 01:15:16.662971
14  2025-09-23 15:04:16.662971
15  2025-07-27 18:08:16.662971
16  2025-09-17 11:32:16.662971
17  2025-10-18 02:02:16.662971
18  2025-10-06 07:53:16.662971
19  2025-07-25 14:01:16.662971
20  2025-09-03 10:53:16.662971
21  2025-09-23 02:33:16.662971
22  2025-10-08 06:54:16.662971
23  2025-05-23 23:02:16.662971
24  2025-06-28 05:32:16.662971
25  2025-09-30 23:04:16.662971
26  2025-07-20 10:34:16.662971
27  2025-06-19 11:07:16.662971
28  2025-06-03 23:23:16.662971
29  2025-07-09 14:55:16.662971
30  2025-08-01 15:15:16.662971
31  2025-08-25 06:12:16.662971
32  2025-08-25 07:12:16.662971
33  2025-06-10 01:47:16.662971
34  2025-09-08 13:23:16.662971
35  2025-08-06 14:16:16.662971
36  2025-05-16 05:48:16.662971
37  2025-10-04 14:01:16.662971
38  2025-09-16 15:34:16.662971
39  2025-07-05 08:48:16.662971
40  2025-11-06 07:46:16.662971
41  2025-07-03 02:08:16.662971
42  2025-08-13 22:58:16.662971
43  2025-06-04 08:29:16.662971
44  2025-07-27 03:09:16.662971
45  2025-05-19 14:15:16.662971
46  2025-07-05 21:04:16.662971
47  2025-07-17 07:40:16.662971
48  2025-10-24 06:28:16.662971
49  2025-07-27 10:58:16.662971
50  2025-09-18 20:48:16.662971
51  2025-08-31 07:46:16.662971
52  2025-09-08 17:03:16.662971
53  2025-08-23 14:41:16.662971
54  2025-06-24 12:52:16.662971
55  2025-06-07 12:41:16.662971
56  2025-09-20 17:22:16.662971
57  2025-05-18 11:35:16.662971
58  2025-08-20 08:21:16.662971
59  2025-09-08 16:05:16.662971

In [58]:
pd.read_csv('purchase_order_items.csv')

,id,purchaseOrderId,productId,quantity,capitalPrice,expiredDate
0,1,1,344,144,28000,NaN
1,2,1,230,178,48000,NaN
2,3,1,2,162,29000,2027-04-08 09:33:16.724214
3,4,2,218,189,23000,NaN
4,5,2,369,193,36000,NaN
...,...,...,...,...,...,...
207,208,59,39,132,17000,2026-11-08 09:33:16.724214
208,209,59,373,197,36000,NaN
209,210,59,300,22,11000,NaN
210,211,60,205,43,11000,NaN
211,212,60,307,186,25000,NaN

In [59]:
pd.read_csv('purchase_orders.csv')

,id,supplierId,storeId,totalAmount,status,orderDate
0,1,11,9,17274000,DELIVERED,2025-08-26 15:48:16.662971
1,2,7,7,13973000,DELIVERED,2025-09-10 09:32:16.662971
2,3,2,2,12034000,SUCCESS,2025-05-16 07:17:16.662971
3,4,2,10,9908000,DELIVERED,2025-09-04 01:03:16.662971
4,5,2,9,4245000,SUCCESS,2025-07-11 07:15:16.662971
5,6,3,4,13584000,PENDING,2025-11-05 07:44:16.662971
6,7,13,7,6122000,DELIVERED,2025-09-15 09:59:16.662971
7,8,10,7,7707000,DELIVERED,2025-09-15 13:25:16.662971
8,9,10,10,6870000,DELIVERED,2025-09-26 06:42:16.662971
9,10,7,2,22562000,DELIVERED,2025-05-21 23:34:16.662971
10,11,8,6,7314000,DELIVERED,2025-07-05 02:43:16.662971
11,12,2,7,2462000,DELIVERED,2025-08-27 12:12:16.662971
12,13,9,8,0,CANCELED,2025-11-07 01:40:16.662971
13,14,15,7,4561000,DELIVERED,2025-06-10 01:15:16.662971
14,15,2,2,2720000,DELIVERED,2025-09-23 15:04:16.662971
15,16,10,10,11655000,DELIVERED,2025-07-27 18:08:16.662971
16,17,17,2,6778000,DELIVERED,2025-09-17 11:32:16.662971
17,18,19,6,0,CANCELED,2025-10-18 02:02:16.662971
18,19,16,5,6166000,PENDING,2025-10-06 07:53:16.662971
19,20,8,5,6545000,DELIVERED,2025-07-25 14:01:16.662971
20,21,20,8,17230000,DELIVERED,2025-09-03 10:53:16.662971
21,22,3,2,8975000,SUCCESS,2025-09-23 02:33:16.662971
22,23,13,5,3630000,DELIVERED,2025-10-08 06:54:16.662971
23,24,7,7,10331000,DELIVERED,2025-05-23 23:02:16.662971
24,25,5,2,5794000,SUCCESS,2025-06-28 05:32:16.662971
25,26,19,9,8959000,SUCCESS,2025-09-30 23:04:16.662971
26,27,5,8,11566000,DELIVERED,2025-07-20 10:34:16.662971
27,28,6,7,9146000,DELIVERED,2025-06-19 11:07:16.662971
28,29,13,5,10305000,DELIVERED,2025-06-03 23:23:16.662971
29,30,1,1,7868000,SUCCESS,2025-07-09 14:55:16.662971
30,31,14,5,9629000,PENDING,2025-08-01 15:15:16.662971
31,32,13,1,17314000,DELIVERED,2025-08-25 06:12:16.662971
32,33,14,1,0,CANCELED,2025-08-25 07:12:16.662971
33,34,11,2,0,CANCELED,2025-06-10 01:47:16.662971
34,35,14,4,2298000,DELIVERED,2025-09-08 13:23:16.662971
35,36,1,3,19280000,DELIVERED,2025-08-06 14:16:16.662971
36,37,15,6,0,CANCELED,2025-05-16 05:48:16.662971
37,38,4,10,18975000,DELIVERED,2025-10-04 14:01:16.662971
38,39,4,8,8971000,DELIVERED,2025-09-16 15:34:16.662971
39,40,11,2,7205000,DELIVERED,2025-07-05 08:48:16.662971
40,41,5,8,0,CANCELED,2025-11-06 07:46:16.662971
41,42,15,1,11029000,DELIVERED,2025-07-03 02:08:16.662971
42,43,13,7,22333000,DELIVERED,2025-08-13 22:58:16.662971
43,44,20,3,17270000,SUCCESS,2025-06-04 08:29:16.662971
44,45,5,2,13476000,DELIVERED,2025-07-27 03:09:16.662971
45,46,12,7,22306000,DELIVERED,2025-05-19 14:15:16.662971
46,47,6,6,6610000,DELIVERED,2025-07-05 21:04:16.662971
47,48,1,3,9834000,DELIVERED,2025-07-17 07:40:16.662971
48,49,19,2,17999000,SUCCESS,2025-10-24 06:28:16.662971
49,50,15,4,1910000,DELIVERED,2025-07-27 10:58:16.662971
50,51,18,6,16696000,DELIVERED,2025-09-18 20:48:16.662971
51,52,10,10,15520000,DELIVERED,2025-08-31 07:46:16.662971
52,53,5,6,20269000,DELIVERED,2025-09-08 17:03:16.662971
53,54,5,3,16232000,DELIVERED,2025-08-23 14:41:16.662971
54,55,4,3,0,CANCELED,2025-06-24 12:52:16.662971
55,56,16,9,13288000,SUCCESS,2025-06-07 12:41:16.662971
56,57,18,3,4002000,DELIVERED,2025-09-20 17:22:16.662971
57,58,13,7,28602000,DELIVERED,2025-05-18 11:35:16.662971
58,59,17,2,20962000,DELIVERED,2025-08-20 08:21:16.662971
59,60,12,8,5123000,DELIVERED,2025-09-08 16:05:16.662971

### 5. warehouse_stocks

In [60]:
# --- FUNGSI GENERATE WAREHOUSE STOCKS ---

def generate_warehouse_stocks(purchase_orders_df, po_items_df):
    """
    Membuat stok produk di gudang berdasarkan Purchase Orders yang sudah DELIVERED.
    Setiap baris item PO yang DELIVERED akan menjadi satu baris stok.
    """
    now = datetime.now()
    stocks_data = []
    stock_id_counter = 1

    # 1. Filter PO yang statusnya DELIVERED
    delivered_pos_df = purchase_orders_df[
        purchase_orders_df['status'] == 'DELIVERED'
    ][['id', 'storeId', 'orderDate']].copy() # Ambil kolom yang relevan

    if delivered_pos_df.empty:
        print("Peringatan: Tidak ada Purchase Orders dengan status DELIVERED. Stok gudang akan kosong.")
        return pd.DataFrame(stocks_data)

    # 2. Gabungkan item PO dengan Store ID dari PO DELIVERED
    delivered_items_df = po_items_df.merge(
        delivered_pos_df,
        left_on='purchaseOrderId',
        right_on='id',
        suffixes=('_item', '_po')
    )

    # 3. Buat entri stok untuk setiap item yang diterima
    for _, item in delivered_items_df.iterrows():

        # Gunakan created_at dari PO untuk stok
        created_at_time = item['orderDate']

        stocks_data.append({
            'id': stock_id_counter,
            'productId': item['productId'], # BIGINT(20)
            'storeId': item['storeId'],     # INT(11)
            'purchaseOrderId': item['purchaseOrderId'], # INT(11) NULLABLE (di sini terisi)
            'stock': item['quantity'],      # INT(11)
            'createdAt': created_at_time,
            'updatedAt': now
        })
        stock_id_counter += 1

    stocks_df = pd.DataFrame(stocks_data)

    # Sesuaikan tipe data
    stocks_df['id'] = stocks_df['id'].astype(np.int64)
    stocks_df['productId'] = stocks_df['productId'].astype(np.int64)
    stocks_df['storeId'] = stocks_df['storeId'].astype(np.int64)
    stocks_df['purchaseOrderId'] = stocks_df['purchaseOrderId'].astype('Int64')

    return stocks_df


# --- MEMBACA KEMBALI DATA DARI FILE CSV YANG DIBUTUHKAN ---
print("Memuat data purchase_orders dan purchase_order_items...")
try:
    purchase_orders_df = pd.read_csv('purchase_orders.csv')
    po_items_df = pd.read_csv('purchase_order_items.csv')
except FileNotFoundError as e:
    print(f"Error: File CSV purchase_orders/purchase_order_items tidak ditemukan: {e}")
    exit()

# --- EKSEKUSI FUNGSI GENERATE WAREHOUSE STOCKS ---
warehouse_stocks_df = generate_warehouse_stocks(purchase_orders_df, po_items_df)

# --- SIMPAN DAN TAMPILKAN HASIL ---
warehouse_stocks_df.to_csv('warehouse_stocks.csv', index=False)
print(f"Data warehouse_stocks.csv berhasil dibuat. Total {len(warehouse_stocks_df)} entitas stok.")

Memuat data purchase_orders dan purchase_order_items...
Data warehouse_stocks.csv berhasil dibuat. Total 169 entitas stok.

In [61]:
pd.read_csv('warehouse_stocks.csv')

,id,productId,storeId,purchaseOrderId,stock,createdAt,updatedAt
0,1,344,9,1,144,2025-08-26 15:48:16.662971,2025-11-08 09:33:16.843286
1,2,230,9,1,178,2025-08-26 15:48:16.662971,2025-11-08 09:33:16.843286
2,3,2,9,1,162,2025-08-26 15:48:16.662971,2025-11-08 09:33:16.843286
3,4,218,7,2,189,2025-09-10 09:32:16.662971,2025-11-08 09:33:16.843286
4,5,369,7,2,193,2025-09-10 09:32:16.662971,2025-11-08 09:33:16.843286
...,...,...,...,...,...,...,...
164,165,39,2,59,132,2025-08-20 08:21:16.662971,2025-11-08 09:33:16.843286
165,166,373,2,59,197,2025-08-20 08:21:16.662971,2025-11-08 09:33:16.843286
166,167,300,2,59,22,2025-08-20 08:21:16.662971,2025-11-08 09:33:16.843286
167,168,205,8,60,43,2025-09-08 16:05:16.662971,2025-11-08 09:33:16.843286
168,169,307,8,60,186,2025-09-08 16:05:16.662971,2025-11-08 09:33:16.843286

## Kelompok 6

Tahap 6: Transaksi Penjualan dan Log (Level 5)   
Tahap paling akhir, yang merujuk hampir semua tabel di tahap sebelumnya.
1. customers: Membutuhkan storeId dan storeUserId.
2. transactions: Membutuhkan customerId, userId (kasir), storeId, dan paymentMethodId.
3. transaction_details: Membutuhkan transactionId, productId, productVariantId (nullable), dan variantOptionId (nullable).
4. taxes: Membutuhkan transactionId (berupa invoiceId).
5. store_bills: Membutuhkan storeId dan opsional userId.
6. user_activity: Log yang membutuhkan userId dan storeId.

### Read dari Kelompok 5

In [62]:
# --- MEMBACA DATA DARI FILE CSV KELOMPOK 5 & SEBELUMNYA ---
print("Membaca data dari file CSV untuk Tahap 6 (Modul Transaksi)...")
try:
    # --- Data Master (Tahap 1, 2, 3) ---
    roles_df = pd.read_csv('roles.csv')
    users_df = pd.read_csv('users.csv')
    payment_methods_df = pd.read_csv('payment_methods.csv')
    stores_df = pd.read_csv('stores.csv')
    store_users_df = pd.read_csv('store_users.csv')

    # --- Data Produk & Varian (Tahap 4) ---
    products_df = pd.read_csv('products.csv')
    product_variants_df = pd.read_csv('product_variants.csv')
    variant_options_df = pd.read_csv('variant_options.csv')

    # --- Data Operasional (Tahap 5) ---
    purchase_orders_df = pd.read_csv('purchase_orders.csv')
    warehouse_stocks_df = pd.read_csv('warehouse_stocks.csv')

    # --- Set Phone Numbers yang Sudah Terpakai ---
    generated_phone_numbers = set(users_df['phoneNumber'].tolist())

    print("Berhasil membaca semua file CSV yang dibutuhkan untuk Tahap 6.")
except FileNotFoundError as e:
    print(f"Error: File CSV tidak ditemukan: {e}. Mohon eksekusi tahap sebelumnya.")
    exit()

Membaca data dari file CSV untuk Tahap 6 (Modul Transaksi)...
Berhasil membaca semua file CSV yang dibutuhkan untuk Tahap 6.

### 1. customers

In [63]:
# --- FUNGSI GENERATE CUSTOMERS---

def generate_customers(stores_df, store_users_df, generated_phone_numbers, num_customers=40):
    """
    Membuat data dummy untuk tabel customers, diikat ke store dan store_user aktif.
    """
    now = datetime.now()
    customers_data = []
    customer_id_counter = 1

    stores_list = stores_df['id'].tolist()

    # Filter store_users aktif yang akan mendaftarkan pelanggan
    active_store_users_df = store_users_df[store_users_df['status'] == 'ACTIVE'].copy()

    for i in range(num_customers):
        # 1. Pilih Toko Acak
        store_id = random.choice(stores_list)

        # 2. Filter Store Users yang Aktif di Toko Tersebut
        relevant_store_users = active_store_users_df[
            active_store_users_df['storeId'] == store_id
        ]['id'].tolist()

        if not relevant_store_users:
            # Jika tidak ada karyawan aktif di toko ini (seharusnya jarang terjadi), lewati
            continue

        # 3. Pilih Karyawan yang Mendaftarkan Pelanggan (storeUserId)
        store_user_id = random.choice(relevant_store_users)

        # 4. Generate Data Pelanggan
        customer_name = generate_gender_name()

        customers_data.append({
            'id': customer_id_counter,
            'storeId': store_id,            # INT(11)
            'storeUserId': store_user_id,   # BIGINT(20)
            'name': customer_name,          # Nama Realistis
            'phoneNumber': generate_phone(generated_phone_numbers), # Nomor Unik (62...)
            'status': random.choice(['ACTIVE', 'INACTIVE', 'ACTIVE']), # Mayoritas aktif
            'createdAt': now - timedelta(days=random.randint(1, 90)),
            'updatedAt': now
        })
        customer_id_counter += 1

    customers_df = pd.DataFrame(customers_data)

    # Sesuaikan tipe data
    customers_df['id'] = customers_df['id'].astype(np.int64)
    customers_df['storeId'] = customers_df['storeId'].astype(np.int64)
    customers_df['storeUserId'] = customers_df['storeUserId'].astype(np.int64)

    return customers_df


# --- MEMBACA KEMBALI DATA DARI FILE CSV YANG DIBUTUHKAN ---
print("Memuat data stores dan store_users...")
try:
    # Asumsi data dari Tahap 6 sudah dimuat di sesi
    stores_df = pd.read_csv('stores.csv')
    store_users_df = pd.read_csv('store_users.csv')
    users_df = pd.read_csv('users.csv')

    # Set Phone Numbers yang Sudah Terpakai
    generated_phone_numbers = set(users_df['phoneNumber'].tolist())

except FileNotFoundError as e:
    print(f"Error: File CSV stores/store_users tidak ditemukan: {e}")
    exit()

# --- EKSEKUSI FUNGSI GENERATE CUSTOMERS ---
customers_df = generate_customers(stores_df, store_users_df, generated_phone_numbers)

# --- SIMPAN DAN TAMPILKAN HASIL ---
customers_df.to_csv('customers.csv', index=False)
print(f"Data customers.csv berhasil dibuat. Total {len(customers_df)} pelanggan.")

Memuat data stores dan store_users...
Data customers.csv berhasil dibuat. Total 40 pelanggan.

In [64]:
pd.read_csv('customers.csv')

,id,storeId,storeUserId,name,phoneNumber,status,createdAt,updatedAt
0,1,8,15,Rina Yolanda,62838321287675,INACTIVE,2025-08-29 09:33:22.220617,2025-11-08 09:33:22.220617
1,2,8,15,Endah Handayani,628151636131,INACTIVE,2025-11-06 09:33:22.220617,2025-11-08 09:33:22.220617
2,3,8,15,Jamil Situmorang,62877649715,ACTIVE,2025-08-31 09:33:22.220617,2025-11-08 09:33:22.220617
3,4,3,22,Karya Maheswara,628233381895,ACTIVE,2025-08-17 09:33:22.220617,2025-11-08 09:33:22.220617
4,5,4,7,Jefri Saptono,62815435699,ACTIVE,2025-10-19 09:33:22.220617,2025-11-08 09:33:22.220617
5,6,9,17,Elvin Wibisono,62857329876,ACTIVE,2025-10-19 09:33:22.220617,2025-11-08 09:33:22.220617
6,7,7,13,Kamila Permata,628824192337,ACTIVE,2025-09-09 09:33:22.220617,2025-11-08 09:33:22.220617
7,8,1,1,Irfan Kurniawan,628821061147,ACTIVE,2025-10-09 09:33:22.220617,2025-11-08 09:33:22.220617
8,9,3,6,Winda Haryanti,62832088663,ACTIVE,2025-08-16 09:33:22.220617,2025-11-08 09:33:22.220617
9,10,4,7,Cemani Kuswoyo,6289809482350,ACTIVE,2025-10-19 09:33:22.220617,2025-11-08 09:33:22.220617
10,11,9,18,Hana Agustina,6283271657345,INACTIVE,2025-10-16 09:33:22.220617,2025-11-08 09:33:22.220617
11,12,2,3,Nasrullah Kusumo,62899106312874,ACTIVE,2025-08-26 09:33:22.220617,2025-11-08 09:33:22.220617
12,13,2,4,Adikara Saptono,628132987027,ACTIVE,2025-08-18 09:33:22.220617,2025-11-08 09:33:22.220617
13,14,10,20,Raden Permadi,628382642639,ACTIVE,2025-09-28 09:33:22.220617,2025-11-08 09:33:22.220617
14,15,4,8,Mustofa Natsir,628961170824,INACTIVE,2025-08-29 09:33:22.220617,2025-11-08 09:33:22.220617
15,16,7,24,Drajat Firgantoro,62886980953272,INACTIVE,2025-08-17 09:33:22.220617,2025-11-08 09:33:22.220617
16,17,8,16,Endah Farida,62889317954,ACTIVE,2025-08-13 09:33:22.220617,2025-11-08 09:33:22.220617
17,18,7,14,Alika Lestari,628589958827,INACTIVE,2025-09-13 09:33:22.220617,2025-11-08 09:33:22.220617
18,19,1,1,Lala Wastuti,62838978238607,ACTIVE,2025-08-26 09:33:22.220617,2025-11-08 09:33:22.220617
19,20,10,19,Gatot Prakasa,6288129130585,ACTIVE,2025-08-21 09:33:22.220617,2025-11-08 09:33:22.220617
20,21,3,5,Amelia Laksmiwati,628822507567,ACTIVE,2025-09-20 09:33:22.220617,2025-11-08 09:33:22.220617
21,22,6,12,Ira Prastuti,62889157998169,INACTIVE,2025-08-29 09:33:22.220617,2025-11-08 09:33:22.220617
22,23,6,11,Gambira Kuswoyo,6282329860080,ACTIVE,2025-10-05 09:33:22.220617,2025-11-08 09:33:22.220617
23,24,5,9,Dadap Damanik,628190509681,ACTIVE,2025-08-22 09:33:22.220617,2025-11-08 09:33:22.220617
24,25,8,16,Empluk Maheswara,6283833838635,ACTIVE,2025-10-07 09:33:22.220617,2025-11-08 09:33:22.220617
25,26,1,2,Karen Safitri,62858849428,ACTIVE,2025-08-16 09:33:22.220617,2025-11-08 09:33:22.220617
26,27,5,9,Hartana Januar,62858183368653,ACTIVE,2025-10-31 09:33:22.220617,2025-11-08 09:33:22.220617
27,28,10,19,Ganep Mangunsong,62898382724,INACTIVE,2025-08-23 09:33:22.220617,2025-11-08 09:33:22.220617
28,29,1,2,Kuncara Pradana,62822867669526,ACTIVE,2025-09-26 09:33:22.220617,2025-11-08 09:33:22.220617
29,30,2,4,Azalea Wijayanti,6287494768856,INACTIVE,2025-11-01 09:33:22.220617,2025-11-08 09:33:22.220617
30,31,2,3,Bakianto Wacana,628588929812,ACTIVE,2025-10-11 09:33:22.220617,2025-11-08 09:33:22.220617
31,32,1,2,Asirwada Latupono,6282266766509,ACTIVE,2025-10-10 09:33:22.220617,2025-11-08 09:33:22.220617
32,33,8,16,Melinda Hartati,62859574062817,INACTIVE,2025-09-20 09:33:22.220617,2025-11-08 09:33:22.220617
33,34,3,22,Yahya Maryadi,628860613307,INACTIVE,2025-10-29 09:33:22.220617,2025-11-08 09:33:22.220617
34,35,2,4,Harja Pranowo,6281394562224,INACTIVE,2025-10-30 09:33:22.220617,2025-11-08 09:33:22.220617
35,36,2,3,Luthfi Pradipta,62896929283830,INACTIVE,2025-10-09 09:33:22.220617,2025-11-08 09:33:22.220617
36,37,1,1,Bagya Manullang,62823443243,INACTIVE,2025-11-07 09:33:22.220617,2025-11-08 09:33:22.220617
37,38,10,19,Ulya Hartati,6288279986425,INACTIVE,2025-10-03 09:33:22.220617,2025-11-08 09:33:22.220617
38,39,4,8,Cemeti Hakim,62852105188671,ACTIVE,2025-10-09 09:33:22.220617,2025-11-08 09:33:22.220617
39,40,9,18,Jaya Mandala,62851256687,ACTIVE,2025-09-30 09:33:22.220617,2025-11-08 09:33:22.220617

### 2. transactions

In [81]:
# --- MAPPING KATEGORI UNTUK POLA WAKTU KHUSUS ---
# Kita perlu tahu store_type_id toko tersebut (akan digabungkan di eksekusi)
WEEKEND_PEAK_TYPES = [2, 7, 8, 10, 11] # Fashion, Hobi, Elektronik, Otomotif, Hewan
FNB_ID = 1 # Makanan & Minuman
MINIMARKET_ID = 12 # Minimarket & Kelontong

def get_realistic_transaction_date(store_id, stores_df):
    """Menghasilkan transactionDate yang mengikuti pola bulanan, mingguan, dan harian."""
    now = datetime.now()

    # 1. Tentukan Pola Bulanan (Awal/Akhir Bulan)
    days_in_month = (now - now.replace(day=1)).days + 1
    # 70% terjadi pada 7 hari awal atau 5 hari akhir bulan
    if random.random() < 0.7:
        if random.random() < 0.6:
            # 60% dari 70% terjadi di awal bulan (hari 1-7)
            day_offset = random.randint(0, 7)
        else:
            # 40% dari 70% terjadi di akhir bulan (hari days_in_month-5 hingga days_in_month)
            day_offset = random.randint(days_in_month - 5, days_in_month)

        # Ambil tanggal acak dalam 30 hari terakhir, lalu paksakan ke awal/akhir bulan
        transaction_date = now - timedelta(days=random.randint(0, 30))
        try:
             transaction_date = transaction_date.replace(day=day_offset)
        except ValueError:
             # Fallback jika hari ke-31 tidak ada
             transaction_date = transaction_date.replace(day=days_in_month)
    else:
        # 30% sisanya terjadi di pertengahan bulan
        transaction_date = now - timedelta(days=random.randint(0, 30))

    # 2. Tentukan Pola Mingguan (Weekend Peak)
    store_type_id = stores_df[stores_df['id'] == store_id]['storeTypeId'].iloc[0]
    is_weekend_peak = store_type_id in WEEKEND_PEAK_TYPES or store_type_id == FNB_ID

    if is_weekend_peak and random.random() < 0.6:
        # 60% chance terjadi di Sabtu (5) atau Minggu (6)
        weekend_day = random.choice([5, 6])

        # Cek apakah tanggal yang terpilih adalah weekend (Sabtu=5, Minggu=6)
        while transaction_date.weekday() not in [5, 6]:
             transaction_date += timedelta(days=1)
             if (now - transaction_date).days > 30: # Batasi agar tidak terlalu jauh
                 transaction_date = now - timedelta(days=random.randint(0, 30))

    # 3. Tentukan Pola Harian (Jam Sibuk)

    # Default: Jam acak 9 pagi hingga 8 malam
    hour_range = (9, 20)

    if store_type_id == FNB_ID:
        # F&B/Makanan: Puncak di jam makan siang (11-14) atau malam (18-20)
        hour_range = random.choice([(11, 14), (18, 20)])
    elif store_type_id == MINIMARKET_ID:
        # Minimarket: Puncak sore/malam (16-22)
        hour_range = (16, 22)

    start_hour = random.randint(*hour_range)

    # Gabungkan tanggal dan waktu
    transaction_date = transaction_date.replace(hour=start_hour, minute=random.randint(0, 59), second=0, microsecond=0)

    return transaction_date

# --- FUNGSI GENERATE TRANSACTIONS ---

def generate_transactions(stores_df, customers_df, users_df, payment_methods_df, roles_df):
    """
    Membuat data dummy untuk tabel transactions.
    Diskon nominal transaksi (transactions.discount) dibatasi MAX Rp5.000.
    """
    now = datetime.now()
    transactions_data = []

    # Kumpulkan data kunci
    stores_list = stores_df['id'].tolist()
    customers_list = customers_df['id'].tolist()
    payment_methods_list = payment_methods_df['id'].tolist()

    # Logika Pencarian Kasir
    kasir_role_id = roles_df[roles_df['roleName'] == 'Kasir']['id'].iloc[0]
    kasir_users_list = users_df[users_df['roleId'] == kasir_role_id]['id'].tolist()

    if not kasir_users_list:
        raise ValueError("Tidak ada pengguna dengan peran Kasir ditemukan. Periksa users.csv dan roles.csv.")

    NUM_TRANSACTIONS = 100
    generated_invoice_ids = set()

    # Status ENUM
    status_distribution = {'PAID': 0.85, 'PENDING': 0.10, 'CANCELED': 0.05}

    for i in range(NUM_TRANSACTIONS):

        # 1. TANGGAL TRANSAKSI REALISTIS
        store_id = random.choice(stores_list)
        transaction_date = get_realistic_transaction_date(store_id, stores_df)

        # 2. Invoice ID Unik
        while True:
            invoice_id = f"INV-{transaction_date.strftime('%y%m%d')}-{i+1:04d}"
            if invoice_id not in generated_invoice_ids:
                generated_invoice_ids.add(invoice_id)
                break

        # 3. Pilih Store, Customer, Kasir, Payment Method acak
        customer_id = random.choice(customers_list)
        user_id_kasir = random.choice(kasir_users_list)
        payment_method_id = random.choice(payment_methods_list)

        # 4. Status Transaksi
        rand_val = random.random()
        status = 'PAID'
        if rand_val < status_distribution['CANCELED']:
            status = 'CANCELED'
        elif rand_val < status_distribution['CANCELED'] + status_distribution['PENDING']:
            status = 'PENDING'

        # 5. Diskon Transaksi (FINAL LOGIC: Diskon nominal, Maksimal Rp5.000)
        # 75% tanpa diskon (0), 25% diskon antara Rp1.000 hingga Rp5.000
        transaction_discount = random.choice([0, 0, 0, random.randint(1, 5) * 1000]) # <-- PERBAIKAN DI SINI
        transaction_discount = round(transaction_discount, -3)

        # totalAmount, cash, change akan dihitung di Tahap 6.3
        total_amount = 0; cash = 0; change = 0

        transactions_data.append({
            'id': i + 1, 'invoiceId': invoice_id, 'customerId': customer_id, 'userId': user_id_kasir,
            'storeId': store_id, 'paymentMethodId': payment_method_id, 'totalAmount': total_amount,
            'cash': cash, 'change': change, 'discount': transaction_discount,
            'transactionDate': transaction_date, 'status': status, 'createdAt': transaction_date,
            'updatedAt': now
        })

    transactions_df = pd.DataFrame(transactions_data)

    # Sesuaikan tipe data
    transactions_df['id'] = transactions_df['id'].astype(np.int64)
    transactions_df['userId'] = transactions_df['userId'].astype(np.int64)
    transactions_df['totalAmount'] = transactions_df['totalAmount'].astype(np.int64)
    transactions_df['cash'] = transactions_df['cash'].astype(np.int64)
    transactions_df['change'] = transactions_df['change'].astype(np.int64)
    transactions_df['discount'] = transactions_df['discount'].astype(np.int64)

    return transactions_df

# --- MEMBACA KEMBALI DATA DARI FILE CSV YANG DIBUTUHKAN (FIX KEYERROR) ---
print("Memuat data stores, customers, users, payment_methods, dan roles...")
try:
    stores_df = pd.read_csv('stores.csv')
    customers_df = pd.read_csv('customers.csv')
    users_df = pd.read_csv('users.csv')
    payment_methods_df = pd.read_csv('payment_methods.csv')
    roles_df = pd.read_csv('roles.csv')
except FileNotFoundError as e:
    print(f"Error: File CSV tidak ditemukan: {e}")
    exit()

# --- EKSEKUSI FUNGSI GENERATE TRANSACTIONS ---
transactions_df = generate_transactions(stores_df, customers_df, users_df, payment_methods_df, roles_df)

# --- SIMPAN DAN TAMPILKAN HASIL ---
transactions_df.to_csv('transactions.csv', index=False)
print(f"Data transactions.csv berhasil dibuat. Total {len(transactions_df)} transaksi.")

Memuat data stores, customers, users, payment_methods, dan roles...
Data transactions.csv berhasil dibuat. Total 100 transaksi.

In [82]:
pd.read_csv('transactions.csv')

,id,invoiceId,customerId,userId,storeId,paymentMethodId,totalAmount,cash,change,discount,transactionDate,status,createdAt,updatedAt
0,1,INV-251101-0001,20,24,8,1,0,0,0,0,2025-11-01 10:18:00,PAID,2025-11-01 10:18:00,2025-11-08 10:57:36.518033
1,2,INV-251007-0002,28,25,1,4,0,0,0,0,2025-10-07 09:16:00,PAID,2025-10-07 09:16:00,2025-11-08 10:57:36.518033
2,3,INV-251108-0003,4,26,8,1,0,0,0,0,2025-11-08 18:04:00,PAID,2025-11-08 18:04:00,2025-11-08 10:57:36.518033
3,4,INV-251004-0004,21,25,1,5,0,0,0,13000,2025-10-04 14:51:00,PAID,2025-10-04 14:51:00,2025-11-08 10:57:36.518033
4,5,INV-251104-0005,31,21,3,4,0,0,0,0,2025-11-04 20:23:00,PAID,2025-11-04 20:23:00,2025-11-08 10:57:36.518033
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,INV-251006-0096,4,18,1,3,0,0,0,5000,2025-10-06 09:25:00,PAID,2025-10-06 09:25:00,2025-11-08 10:57:36.518033
96,97,INV-251019-0097,25,17,5,1,0,0,0,0,2025-10-19 12:12:00,PAID,2025-10-19 12:12:00,2025-11-08 10:57:36.518033
97,98,INV-251104-0098,19,24,7,1,0,0,0,0,2025-11-04 13:20:00,PENDING,2025-11-04 13:20:00,2025-11-08 10:57:36.518033
98,99,INV-251010-0099,15,21,1,5,0,0,0,0,2025-10-10 11:48:00,PAID,2025-10-10 11:48:00,2025-11-08 10:57:36.518033
99,100,INV-251108-0100,22,23,4,2,0,0,0,0,2025-11-08 14:10:00,CANCELED,2025-11-08 14:10:00,2025-11-08 10:57:36.518033

### 3. transaction_details

In [84]:
# --- FUNGSI GENERATE TRANSACTION DETAILS ---

def generate_transaction_details(transactions_df, products_df, product_variants_df, variant_options_df, payment_methods_df):
    """
    Membuat detail item untuk setiap transaksi dan menghitung/memperbarui
    totalAmount, cash, dan change di transactions_df.
    """
    now = datetime.now()
    details_data = []
    detail_id_counter = 1

    # Pre-calculated data structures
    product_map = products_df.set_index('id')[['basePrice', 'discount']].to_dict('index')
    variant_map = product_variants_df.set_index('id')[['productId', 'finalPrice']].to_dict('index')
    payment_map = payment_methods_df.set_index('id')['isCash'].to_dict()

    # Dictionaries untuk menyimpan update transaksi
    transaction_updates = {}

    for _, transaction in transactions_df.iterrows():
        transaction_id = transaction['id']
        transaction_status = transaction['status']
        trans_discount = transaction['discount']
        payment_method_id = transaction['paymentMethodId']
        is_cash = payment_map.get(payment_method_id, 'NO')

        # Hanya proses transaksi yang PAID atau PENDING
        if transaction_status in ['PAID', 'PENDING']:

            total_transaksi_sebelum_diskon = 0

            # Tentukan jumlah item per transaksi (2 hingga 8 item)
            num_items = random.randint(2, 8)

            # Pilih 20% transaksi yang akan memiliki produk bervarian
            has_variants = random.random() < 0.20

            # 1. Pilih Produk dan Variannya
            selected_product_ids = random.sample(products_df['id'].tolist(), k=min(num_items, len(products_df)))

            for product_id in selected_product_ids:

                # Cek apakah produk ini memiliki varian
                product_variants = product_variants_df[product_variants_df['productId'] == product_id]

                selected_variant_id = None
                selected_option_id = None

                # Tentukan Harga Satuan Awal (unitPrice)
                unit_price = product_map[product_id]['basePrice']

                # LOGIKA VARIAN
                if has_variants and not product_variants.empty:
                    # Jika ya, pilih satu varian
                    selected_variant = product_variants.sample(1).iloc[0]
                    selected_variant_id = selected_variant['id']

                    # Harga Satuan menjadi Final Price dari varian
                    unit_price = selected_variant['finalPrice']

                    # Cek opsi varian yang terikat untuk referensi
                    variant_options_rel = variant_options_df[
                        variant_options_df['variantTypeId'].isin(
                            product_variants_df[product_variants_df['id'] == selected_variant_id].merge(
                                variant_options_df, left_on='id', right_on='id', suffixes=('_pv', '_vo')
                            )['variantTypeId'].unique()
                        )
                    ]['id'].tolist()

                    if variant_options_rel:
                        selected_option_id = random.choice(variant_options_rel)

                # Kuantitas item (1 hingga 4)
                quantity = random.randint(1, 4)

                # Hitung subtotal
                subtotal = quantity * unit_price
                total_transaksi_sebelum_diskon += subtotal

                details_data.append({
                    'id': detail_id_counter,
                    'transactionId': transaction_id,      # BIGINT(20)
                    'productId': product_id,              # BIGINT(20)
                    'productVariantId': selected_variant_id, # BIGINT(20) NULLABLE
                    'quantity': quantity,                 # INT(11)
                    'unitPrice': unit_price,              # BIGINT(20)
                    'subtotal': subtotal,                 # BIGINT(20)
                    'createdAt': transaction['transactionDate'],
                    'updatedAt': now,
                    'variantOptionId': selected_option_id  # BIGINT(20) NULLABLE
                })
                detail_id_counter += 1

            # 2. Perhitungan Akhir Transaksi (totalAmount, cash, change)

            # Kurangi dengan diskon nominal transaksi
            final_total_amount = total_transaksi_sebelum_diskon - trans_discount

            # Jika total kurang dari 0 (misalnya diskon terlalu besar), set minimal 1000
            if final_total_amount <= 0:
                 final_total_amount = random.randint(1000, 5000)

            # Logika Pembayaran
            if is_cash == 'YES':
                # Pembayaran Tunai: Uang yang dibayarkan selalu lebih/sama dengan total
                cash_paid = final_total_amount + random.choice([0, 0, 0, random.randint(1000, 50000)])
                cash_paid = round(cash_paid, -3) # Bulatkan ke ribuan
                change_amount = cash_paid - final_total_amount
            else:
                # Pembayaran Non-Tunai: Cash = Total Amount, Change = 0
                cash_paid = final_total_amount
                change_amount = 0

            transaction_updates[transaction_id] = {
                'totalAmount': final_total_amount,
                'cash': cash_paid,
                'change': change_amount
            }

    details_df = pd.DataFrame(details_data)

    # --- SESUAIKAN TIPE DATA DETAIL ---
    details_df['transactionId'] = details_df['transactionId'].astype(np.int64)
    details_df['productId'] = details_df['productId'].astype(np.int64)
    details_df['productVariantId'] = details_df['productVariantId'].astype('Int64')
    details_df['unitPrice'] = details_df['unitPrice'].astype(np.int64)
    details_df['subtotal'] = details_df['subtotal'].astype(np.int64)
    details_df['variantOptionId'] = details_df['variantOptionId'].astype('Int64')

    return details_df, transaction_updates

# --- EKSEKUSI ---

# 1. MEMBACA DATA
print("Memuat data transaksi, produk, varian, opsi, dan pembayaran...")
try:
    transactions_df = pd.read_csv('transactions.csv')
    products_df = pd.read_csv('products.csv')
    product_variants_df = pd.read_csv('product_variants.csv')
    variant_options_df = pd.read_csv('variant_options.csv')
    payment_methods_df = pd.read_csv('payment_methods.csv')
except FileNotFoundError as e:
    print(f"Error: File CSV tidak ditemukan: {e}")
    exit()

# 2. GENERATE ITEM DAN HITUNG TOTAL
details_df, transaction_updates = generate_transaction_details(
    transactions_df, products_df, product_variants_df, variant_options_df, payment_methods_df
)

# 3. PERBARUI transactions_df
updated_transactions_df = transactions_df.copy()
updated_transactions_df['totalAmount'] = updated_transactions_df['id'].map({k: v['totalAmount'] for k, v in transaction_updates.items()}).fillna(0)
updated_transactions_df['cash'] = updated_transactions_df['id'].map({k: v['cash'] for k, v in transaction_updates.items()}).fillna(0)
updated_transactions_df['change'] = updated_transactions_df['id'].map({k: v['change'] for k, v in transaction_updates.items()}).fillna(0)

# Perlu konversi ke Int64 karena mungkin ada NaN jika transaksi CANCELLED tidak memiliki detail
updated_transactions_df['totalAmount'] = updated_transactions_df['totalAmount'].astype(np.int64)
updated_transactions_df['cash'] = updated_transactions_df['cash'].astype(np.int64)
updated_transactions_df['change'] = updated_transactions_df['change'].astype(np.int64)

# 4. SIMPAN DATA
details_df.to_csv('transaction_details.csv', index=False)
updated_transactions_df.to_csv('transactions.csv', index=False)

print(f"\nData transaction_details.csv berhasil dibuat. Total {len(details_df)} detail.")
print("Data transactions.csv berhasil diperbarui dengan totalAmount, cash, dan change.")

Memuat data transaksi, produk, varian, opsi, dan pembayaran...

Data transaction_details.csv berhasil dibuat. Total 439 detail.
Data transactions.csv berhasil diperbarui dengan totalAmount, cash, dan change.

In [85]:
print("\n--- 1. Transaction Details ---")
print(details_df)

--- 1. Transaction Details ---
      id  transactionId  productId  productVariantId  quantity  unitPrice  \
0      1              1         88              <NA>         4      68000
1      2              1        454              <NA>         4      56000
2      3              1        461              <NA>         4      37000
3      4              1        252              <NA>         1      38000
4      5              1         51              <NA>         1      49000
..   ...            ...        ...               ...       ...        ...
434  435             98        426              <NA>         1      34000
435  436             98        136              <NA>         3      18000
436  437             99         35              <NA>         2      11000
437  438             99        175              <NA>         1      12000
438  439             99        107              <NA>         3      17000

     subtotal            createdAt                  updatedAt  variantOptionId
0      272000  2025-11-01 10:18:00 2025-11-08 11:00:05.462279             <NA>
1      224000  2025-11-01 10:18:00 2025-11-08 11:00:05.462279             <NA>
2      148000  2025-11-01 10:18:00 2025-11-08 11:00:05.462279             <NA>
3       38000  2025-11-01 10:18:00 2025-11-08 11:00:05.462279             <NA>
4       49000  2025-11-01 10:18:00 2025-11-08 11:00:05.462279             <NA>
..        ...                  ...                        ...              ...
434     34000  2025-11-04 13:20:00 2025-11-08 11:00:05.462279             <NA>
435     54000  2025-11-04 13:20:00 2025-11-08 11:00:05.462279             <NA>
436     22000  2025-10-10 11:48:00 2025-11-08 11:00:05.462279             <NA>
437     12000  2025-10-10 11:48:00 2025-11-08 11:00:05.462279             <NA>
438     51000  2025-10-10 11:48:00 2025-11-08 11:00:05.462279             <NA>

[439 rows x 10 columns]

In [86]:
print("\n--- 2. Updated Transactions ---")
print(updated_transactions_df[updated_transactions_df['status'] != 'CANCELED'])

--- 2. Updated Transactions ---
    id        invoiceId  customerId  userId  storeId  paymentMethodId  \
0    1  INV-251101-0001          20      24        8                1
1    2  INV-251007-0002          28      25        1                4
2    3  INV-251108-0003           4      26        8                1
3    4  INV-251004-0004          21      25        1                5
4    5  INV-251104-0005          31      21        3                4
..  ..              ...         ...     ...      ...              ...
94  95  INV-251108-0095          31      24        6                2
95  96  INV-251006-0096           4      18        1                3
96  97  INV-251019-0097          25      17        5                1
97  98  INV-251104-0098          19      24        7                1
98  99  INV-251010-0099          15      21        1                5

    totalAmount    cash  change  discount      transactionDate   status  \
0        804000  804000       0         0  2025-11-01 10:18:00     PAID
1        295000  295000       0         0  2025-10-07 09:16:00     PAID
2        649000  649000       0         0  2025-11-08 18:04:00     PAID
3        100000  100000       0     13000  2025-10-04 14:51:00     PAID
4        479000  479000       0         0  2025-11-04 20:23:00     PAID
..          ...     ...     ...       ...                  ...      ...
94       259000  259000       0         0  2025-11-08 18:46:00     PAID
95       851000  851000       0      5000  2025-10-06 09:25:00     PAID
96       171000  217000   46000         0  2025-10-19 12:12:00     PAID
97       519000  523000    4000         0  2025-11-04 13:20:00  PENDING
98        85000   85000       0         0  2025-10-10 11:48:00     PAID

              createdAt                   updatedAt
0   2025-11-01 10:18:00  2025-11-08 10:57:36.518033
1   2025-10-07 09:16:00  2025-11-08 10:57:36.518033
2   2025-11-08 18:04:00  2025-11-08 10:57:36.518033
3   2025-10-04 14:51:00  2025-11-08 10:57:36.518033
4   2025-11-04 20:23:00  2025-11-08 10:57:36.518033
..                  ...                         ...
94  2025-11-08 18:46:00  2025-11-08 10:57:36.518033
95  2025-10-06 09:25:00  2025-11-08 10:57:36.518033
96  2025-10-19 12:12:00  2025-11-08 10:57:36.518033
97  2025-11-04 13:20:00  2025-11-08 10:57:36.518033
98  2025-10-10 11:48:00  2025-11-08 10:57:36.518033

[90 rows x 14 columns]

In [88]:
pd.read_csv('transaction_details.csv')

,id,transactionId,productId,productVariantId,quantity,unitPrice,subtotal,createdAt,updatedAt,variantOptionId
0,1,1,88,NaN,4,68000,272000,2025-11-01 10:18:00,2025-11-08 11:00:05.462279,NaN
1,2,1,454,NaN,4,56000,224000,2025-11-01 10:18:00,2025-11-08 11:00:05.462279,NaN
2,3,1,461,NaN,4,37000,148000,2025-11-01 10:18:00,2025-11-08 11:00:05.462279,NaN
3,4,1,252,NaN,1,38000,38000,2025-11-01 10:18:00,2025-11-08 11:00:05.462279,NaN
4,5,1,51,NaN,1,49000,49000,2025-11-01 10:18:00,2025-11-08 11:00:05.462279,NaN
...,...,...,...,...,...,...,...,...,...,...
434,435,98,426,NaN,1,34000,34000,2025-11-04 13:20:00,2025-11-08 11:00:05.462279,NaN
435,436,98,136,NaN,3,18000,54000,2025-11-04 13:20:00,2025-11-08 11:00:05.462279,NaN
436,437,99,35,NaN,2,11000,22000,2025-10-10 11:48:00,2025-11-08 11:00:05.462279,NaN
437,438,99,175,NaN,1,12000,12000,2025-10-10 11:48:00,2025-11-08 11:00:05.462279,NaN
438,439,99,107,NaN,3,17000,51000,2025-10-10 11:48:00,2025-11-08 11:00:05.462279,NaN

In [73]:
pd.read_csv('transactions.csv')

,id,invoiceId,customerId,userId,storeId,paymentMethodId,totalAmount,cash,change,discount,transactionDate,status,createdAt,updatedAt
0,1,INV-251013-0001,11,26,2,4,767000,767000,0,9000,2025-10-13 07:54:30.839334,PENDING,2025-10-13 07:54:30.839334,2025-11-08 09:42:30.839334
1,2,INV-251021-0002,13,24,8,5,574000,574000,0,0,2025-10-21 00:34:30.839334,PAID,2025-10-21 00:34:30.839334,2025-11-08 09:42:30.839334
2,3,INV-251010-0003,32,19,4,5,371000,371000,0,0,2025-10-10 18:15:30.839334,PAID,2025-10-10 18:15:30.839334,2025-11-08 09:42:30.839334
3,4,INV-251017-0004,3,22,8,2,402000,402000,0,0,2025-10-17 16:53:30.839334,PAID,2025-10-17 16:53:30.839334,2025-11-08 09:42:30.839334
4,5,INV-251030-0005,40,22,7,6,402000,402000,0,0,2025-10-30 01:48:30.839334,PAID,2025-10-30 01:48:30.839334,2025-11-08 09:42:30.839334
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,INV-251019-0096,12,25,7,2,310000,310000,0,0,2025-10-19 22:37:30.839334,PAID,2025-10-19 22:37:30.839334,2025-11-08 09:42:30.839334
96,97,INV-251012-0097,16,21,9,5,515000,515000,0,0,2025-10-12 14:39:30.839334,PENDING,2025-10-12 14:39:30.839334,2025-11-08 09:42:30.839334
97,98,INV-251012-0098,4,18,4,1,286000,286000,0,0,2025-10-12 11:29:30.839334,PAID,2025-10-12 11:29:30.839334,2025-11-08 09:42:30.839334
98,99,INV-251107-0099,24,20,7,4,250000,250000,0,0,2025-11-07 15:47:30.839334,PAID,2025-11-07 15:47:30.839334,2025-11-08 09:42:30.839334
99,100,INV-251101-0100,4,24,8,1,804000,804000,0,0,2025-11-01 10:13:30.839334,PAID,2025-11-01 10:13:30.839334,2025-11-08 09:42:30.839334

### 4. taxes

In [74]:
# --- FUNGSI GENERATE TAXES ---

def generate_taxes(transactions_df):
    """
    Membuat data dummy untuk tabel taxes.
    Menerapkan PPN 11% dan Pajak Daerah/Layanan 10% secara kondisional.
    """
    now = datetime.now()
    taxes_data = []
    tax_id_counter = 1

    # Filter transaksi yang relevan (PAID atau PENDING)
    relevant_transactions_df = transactions_df[
        transactions_df['status'].isin(['PAID', 'PENDING'])
    ].copy()

    for _, trans in relevant_transactions_df.iterrows():
        invoice_id = trans['invoiceId']

        # 1. Pajak Wajib: PPN (11%)
        taxes_data.append({
            'id': tax_id_counter,
            'transactionId': invoice_id,
            'name': 'PPN',
            'rate': 11, # 11%
        })
        tax_id_counter += 1

        # 2. Pajak Tambahan: Pajak Daerah/Layanan (10%) - Dikenakan 40% dari total transaksi
        if random.random() < 0.40:
            taxes_data.append({
                'id': tax_id_counter,
                'transactionId': invoice_id,
                'name': 'Pajak Layanan (PB01)',
                'rate': 10, # 10%
            })
            tax_id_counter += 1

    taxes_df = pd.DataFrame(taxes_data)

    # Sesuaikan tipe data
    taxes_df['id'] = taxes_df['id'].astype(np.int64)
    taxes_df['rate'] = taxes_df['rate'].astype(np.int64)

    return taxes_df


# --- MEMBACA KEMBALI DATA DARI FILE CSV YANG DIBUTUHKAN ---
print("Memuat data transactions...")
try:
    # transactions_df sudah diupdate dari Tahap 6.3
    transactions_df = pd.read_csv('transactions.csv')
except FileNotFoundError as e:
    print(f"Error: File CSV transactions tidak ditemukan: {e}")
    exit()

# --- EKSEKUSI FUNGSI GENERATE TAXES ---
taxes_df = generate_taxes(transactions_df)

# --- SIMPAN DAN TAMPILKAN HASIL ---
taxes_df.to_csv('taxes.csv', index=False)
print(f"Data taxes.csv berhasil dibuat. Total {len(taxes_df)} entitas pajak.")

Memuat data transactions...
Data taxes.csv berhasil dibuat. Total 134 entitas pajak.

In [75]:
pd.read_csv('taxes.csv')

      id    transactionId                  name  rate
0      1  INV-251013-0001                   PPN    11
1      2  INV-251021-0002                   PPN    11
2      3  INV-251010-0003                   PPN    11
3      4  INV-251010-0003  Pajak Layanan (PB01)    10
4      5  INV-251017-0004                   PPN    11
..   ...              ...                   ...   ...
129  130  INV-251012-0097                   PPN    11
130  131  INV-251012-0098                   PPN    11
131  132  INV-251107-0099                   PPN    11
132  133  INV-251107-0099  Pajak Layanan (PB01)    10
133  134  INV-251101-0100                   PPN    11

[134 rows x 4 columns]

### 5. store_bills

In [76]:
# --- FUNGSI GENERATE STORE BILLS ---

def generate_store_bills(stores_df, users_df, roles_df):
    """
    Membuat data dummy untuk tabel store_bills.
    """
    now = datetime.now()
    bills_data = []
    bill_id_counter = 1

    # Kumpulkan data kunci
    store_ids = stores_df['id'].tolist()

    # Filter Admin Toko dan Owner yang mungkin membayar tagihan
    admin_toko_id = roles_df[roles_df['roleName'] == 'Admin Toko']['id'].iloc[0]
    owner_id = roles_df[roles_df['roleName'] == 'Owner']['id'].iloc[0]

    # Users yang mungkin membayar (Admin Toko atau Owner)
    payer_user_ids = users_df[users_df['roleId'].isin([admin_toko_id, owner_id])]['id'].tolist()

    # Daftar Jenis Tagihan yang Realistis
    bill_types = {
        'Sewa Bulanan POS': (150000, 300000),  # Harga 150rb - 300rb
        'Tagihan Listrik': (100000, 500000),   # Harga 100rb - 500rb
        'Tagihan Air': (30000, 100000),        # Harga 30rb - 100rb
        'Internet & Telepon': (250000, 450000), # Harga 250rb - 450rb
    }

    for store_id in store_ids:
        # Buat 3 hingga 5 tagihan per toko
        num_bills = random.randint(3, 5)

        for i in range(num_bills):
            bill_name = random.choice(list(bill_types.keys()))
            price_range = bill_types[bill_name]
            price = random.randint(price_range[0], price_range[1])
            price = round(price, -3) # Bulatkan ke ribuan

            # Tentukan Tanggal Jatuh Tempo (3 bulan terakhir)
            on_date = now - timedelta(days=random.randint(1, 90))

            # Tentukan Status (80% PAID, 20% UNPAID)
            status = 'PAID' if random.random() < 0.80 else 'UNPAID'

            user_id_pembayar = None
            if status == 'PAID':
                # Jika PAID, tentukan siapa yang membayar (Owner atau Admin Toko)
                user_id_pembayar = random.choice(payer_user_ids)

            bills_data.append({
                'id': bill_id_counter,
                'storeId': store_id,        # INT(11)
                'name': bill_name,          # VARCHAR
                'status': status,           # ENUM
                'price': price,             # INT(11)
                'onDate': on_date,          # DATETIME(3)
                'createdAt': on_date,
                'updatedAt': now,
                'userId': user_id_pembayar, # BIGINT(20) NULLABLE
            })
            bill_id_counter += 1

    store_bills_df = pd.DataFrame(bills_data)

    # Sesuaikan tipe data
    store_bills_df['price'] = store_bills_df['price'].astype(np.int64)
    store_bills_df['userId'] = store_bills_df['userId'].astype('Int64') # BIGINT(20) NULLABLE

    return store_bills_df


# --- MEMBACA KEMBALI DATA DARI FILE CSV YANG DIBUTUHKAN ---
print("Memuat data stores, users, dan roles...")
try:
    stores_df = pd.read_csv('stores.csv')
    users_df = pd.read_csv('users.csv')
    roles_df = pd.read_csv('roles.csv')
except FileNotFoundError as e:
    print(f"Error: File CSV stores/users/roles tidak ditemukan: {e}")
    exit()

# --- EKSEKUSI FUNGSI GENERATE STORE BILLS ---
store_bills_df = generate_store_bills(stores_df, users_df, roles_df)

# --- SIMPAN DAN TAMPILKAN HASIL ---
store_bills_df.to_csv('store_bills.csv', index=False)
print(f"Data store_bills.csv berhasil dibuat. Total {len(store_bills_df)} tagihan toko.")

Memuat data stores, users, dan roles...
Data store_bills.csv berhasil dibuat. Total 36 tagihan toko.

In [77]:
pd.read_csv('store_bills.csv')

,id,storeId,name,status,price,onDate,createdAt,updatedAt,userId
0,1,1,Tagihan Air,PAID,76000,2025-08-18 09:43:10.080247,2025-08-18 09:43:10.080247,2025-11-08 09:43:10.080247,11.0
1,2,1,Sewa Bulanan POS,PAID,238000,2025-09-07 09:43:10.080247,2025-09-07 09:43:10.080247,2025-11-08 09:43:10.080247,12.0
2,3,1,Internet & Telepon,PAID,328000,2025-10-05 09:43:10.080247,2025-10-05 09:43:10.080247,2025-11-08 09:43:10.080247,8.0
3,4,2,Internet & Telepon,PAID,309000,2025-08-25 09:43:10.080247,2025-08-25 09:43:10.080247,2025-11-08 09:43:10.080247,14.0
4,5,2,Internet & Telepon,PAID,410000,2025-09-14 09:43:10.080247,2025-09-14 09:43:10.080247,2025-11-08 09:43:10.080247,5.0
5,6,2,Tagihan Listrik,PAID,413000,2025-11-01 09:43:10.080247,2025-11-01 09:43:10.080247,2025-11-08 09:43:10.080247,16.0
6,7,2,Tagihan Listrik,PAID,438000,2025-10-06 09:43:10.080247,2025-10-06 09:43:10.080247,2025-11-08 09:43:10.080247,6.0
7,8,3,Sewa Bulanan POS,PAID,240000,2025-11-01 09:43:10.080247,2025-11-01 09:43:10.080247,2025-11-08 09:43:10.080247,12.0
8,9,3,Internet & Telepon,UNPAID,302000,2025-08-24 09:43:10.080247,2025-08-24 09:43:10.080247,2025-11-08 09:43:10.080247,NaN
9,10,3,Tagihan Listrik,UNPAID,109000,2025-11-01 09:43:10.080247,2025-11-01 09:43:10.080247,2025-11-08 09:43:10.080247,NaN
10,11,3,Sewa Bulanan POS,PAID,263000,2025-10-19 09:43:10.080247,2025-10-19 09:43:10.080247,2025-11-08 09:43:10.080247,16.0
11,12,3,Tagihan Air,PAID,75000,2025-08-24 09:43:10.080247,2025-08-24 09:43:10.080247,2025-11-08 09:43:10.080247,4.0
12,13,4,Tagihan Listrik,PAID,409000,2025-09-05 09:43:10.080247,2025-09-05 09:43:10.080247,2025-11-08 09:43:10.080247,15.0
13,14,4,Tagihan Air,PAID,75000,2025-10-10 09:43:10.080247,2025-10-10 09:43:10.080247,2025-11-08 09:43:10.080247,11.0
14,15,4,Tagihan Listrik,UNPAID,482000,2025-10-19 09:43:10.080247,2025-10-19 09:43:10.080247,2025-11-08 09:43:10.080247,NaN
15,16,4,Internet & Telepon,PAID,260000,2025-09-30 09:43:10.080247,2025-09-30 09:43:10.080247,2025-11-08 09:43:10.080247,10.0
16,17,5,Tagihan Air,PAID,40000,2025-10-31 09:43:10.080247,2025-10-31 09:43:10.080247,2025-11-08 09:43:10.080247,12.0
17,18,5,Sewa Bulanan POS,PAID,201000,2025-10-03 09:43:10.080247,2025-10-03 09:43:10.080247,2025-11-08 09:43:10.080247,4.0
18,19,5,Tagihan Air,UNPAID,69000,2025-08-18 09:43:10.080247,2025-08-18 09:43:10.080247,2025-11-08 09:43:10.080247,NaN
19,20,6,Tagihan Listrik,PAID,302000,2025-10-14 09:43:10.080247,2025-10-14 09:43:10.080247,2025-11-08 09:43:10.080247,10.0
20,21,6,Sewa Bulanan POS,PAID,238000,2025-08-26 09:43:10.080247,2025-08-26 09:43:10.080247,2025-11-08 09:43:10.080247,13.0
21,22,6,Internet & Telepon,UNPAID,317000,2025-09-18 09:43:10.080247,2025-09-18 09:43:10.080247,2025-11-08 09:43:10.080247,NaN
22,23,7,Tagihan Air,PAID,99000,2025-09-08 09:43:10.080247,2025-09-08 09:43:10.080247,2025-11-08 09:43:10.080247,11.0
23,24,7,Internet & Telepon,PAID,265000,2025-10-31 09:43:10.080247,2025-10-31 09:43:10.080247,2025-11-08 09:43:10.080247,14.0
24,25,7,Internet & Telepon,PAID,340000,2025-09-24 09:43:10.080247,2025-09-24 09:43:10.080247,2025-11-08 09:43:10.080247,14.0
25,26,7,Sewa Bulanan POS,PAID,292000,2025-10-14 09:43:10.080247,2025-10-14 09:43:10.080247,2025-11-08 09:43:10.080247,6.0
26,27,7,Sewa Bulanan POS,PAID,235000,2025-10-04 09:43:10.080247,2025-10-04 09:43:10.080247,2025-11-08 09:43:10.080247,12.0
27,28,8,Sewa Bulanan POS,PAID,181000,2025-08-21 09:43:10.080247,2025-08-21 09:43:10.080247,2025-11-08 09:43:10.080247,7.0
28,29,8,Tagihan Listrik,PAID,439000,2025-08-18 09:43:10.080247,2025-08-18 09:43:10.080247,2025-11-08 09:43:10.080247,4.0
29,30,8,Internet & Telepon,PAID,408000,2025-09-01 09:43:10.080247,2025-09-01 09:43:10.080247,2025-11-08 09:43:10.080247,4.0
30,31,9,Internet & Telepon,PAID,252000,2025-10-24 09:43:10.080247,2025-10-24 09:43:10.080247,2025-11-08 09:43:10.080247,4.0
31,32,9,Tagihan Air,PAID,44000,2025-10-14 09:43:10.080247,2025-10-14 09:43:10.080247,2025-11-08 09:43:10.080247,15.0
32,33,9,Tagihan Air,UNPAID,88000,2025-10-01 09:43:10.080247,2025-10-01 09:43:10.080247,2025-11-08 09:43:10.080247,NaN
33,34,10,Tagihan Air,UNPAID,93000,2025-09-03 09:43:10.080247,2025-09-03 09:43:10.080247,2025-11-08 09:43:10.080247,NaN
34,35,10,Sewa Bulanan POS,PAID,257000,2025-09-30 09:43:10.080247,2025-09-30 09:43:10.080247,2025-11-08 09:43:10.080247,16.0
35,36,10,Tagihan Listrik,UNPAID,224000,2025-10-23 09:43:10.080247,2025-10-23 09:43:10.080247,2025-11-08 09:43:10.080247,NaN

### 6. user_activity

In [78]:
# --- FUNGSI GENERATE USER ACTIVITY ---

def generate_user_activity(store_users_df, users_df, num_activities=180):
    """
    Membuat data dummy untuk tabel user_activity, mencatat aksi Admin Toko dan Kasir.
    """
    now = datetime.now()
    activity_data = []
    activity_id_counter = 1

    # 1. Filter User yang Relevan (Admin Toko & Kasir)
    # Kita hanya menggunakan user yang terdaftar di store_users
    active_store_user_data = store_users_df[store_users_df['status'] == 'ACTIVE'].merge(
        users_df[['id', 'roleId']], left_on='userId', right_on='id', suffixes=('_su', '_u')
    )

    # Kumpulkan daftar ID user dan store yang relevan untuk logging
    valid_activity_points = active_store_user_data[['userId', 'storeId']].drop_duplicates().values.tolist()

    # Daftar Jenis Aktivitas Realistis
    log_actions = [
        'Login berhasil',
        'Logout',
        'Membuka sesi kasir',
        'Mengubah harga produk',
        'Menambah stok baru',
        'Menerima pesanan pembelian (PO)',
        'Mencetak ulang struk transaksi',
        'Melihat laporan penjualan bulanan',
        'Melakukan penyesuaian stok (stok opname)',
        'Mendaftarkan pelanggan baru',
        'Mengubah data pelanggan',
        'Mengunci data shift (shift closure)'
    ]

    for i in range(num_activities):
        # 2. Pilih User dan Toko (Pasangan yang Valid)
        user_id, store_id = random.choice(valid_activity_points)

        # Tentukan Waktu Aktivitas (30 hari terakhir)
        action_time = now - timedelta(days=random.randint(0, 30),
                                      hours=random.randint(1, 24),
                                      minutes=random.randint(1, 60))

        # 3. Tentukan Aksi
        action = random.choice(log_actions)

        activity_data.append({
            'id': activity_id_counter,
            'userId': user_id,       # BIGINT(20)
            'storeId': store_id,     # INT(11)
            'action': action,        # VARCHAR
            'actionTime': action_time,
        })
        activity_id_counter += 1

    activity_df = pd.DataFrame(activity_data)

    # Sesuaikan tipe data
    activity_df['id'] = activity_df['id'].astype(np.int64)
    activity_df['userId'] = activity_df['userId'].astype(np.int64)
    activity_df['storeId'] = activity_df['storeId'].astype(np.int64)

    return activity_df


# --- MEMBACA KEMBALI DATA DARI FILE CSV YANG DIBUTUHKAN ---
print("Memuat data store_users dan users...")
try:
    # Data dari Tahap 6 dan sebelumnya
    store_users_df = pd.read_csv('store_users.csv')
    users_df = pd.read_csv('users.csv')
except FileNotFoundError as e:
    print(f"Error: File CSV store_users/users tidak ditemukan: {e}")
    exit()

# --- EKSEKUSI FUNGSI GENERATE USER ACTIVITY ---
user_activity_df = generate_user_activity(store_users_df, users_df)

# --- SIMPAN DAN TAMPILKAN HASIL ---
user_activity_df.to_csv('user_activity.csv', index=False)
print(f"Data user_activity.csv berhasil dibuat. Total {len(user_activity_df)} log aktivitas.")

Memuat data store_users dan users...
Data user_activity.csv berhasil dibuat. Total 180 log aktivitas.

In [79]:
pd.read_csv('user_activity.csv')

,id,userId,storeId,action,actionTime
0,1,21,1,Melihat laporan penjualan bulanan,2025-10-22 04:02:17.582388
1,2,18,7,Logout,2025-11-02 01:23:17.582388
2,3,15,4,Mengubah harga produk,2025-10-21 22:15:17.582388
3,4,20,5,Menambah stok baru,2025-10-28 22:06:17.582388
4,5,24,6,Logout,2025-10-17 16:54:17.582388
...,...,...,...,...,...
175,176,19,9,Mendaftarkan pelanggan baru,2025-11-04 00:06:17.582388
176,177,9,2,Melihat laporan penjualan bulanan,2025-10-25 17:13:17.582388
177,178,14,9,Mendaftarkan pelanggan baru,2025-10-09 01:50:17.582388
178,179,14,9,Mengubah harga produk,2025-11-01 10:02:17.582388
179,180,9,7,Melakukan penyesuaian stok (stok opname),2025-10-28 11:30:17.582388